<template>
  <main class="splash-outer">
    <main class="dark-overlay">
      <img v-if="!loading" class="logo" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/pro-box.png" />
      <h3 v-if="!loading" style="font-size:20px;margin-top:4px;margin-bottom:20px;">Predictive Maintenance for<br /> Commercial HVAC</h3>
      <article v-if="!request && !login && !loggingIn && !loading" class="splash-panel">
        <a class="splash-btn" style="background-color:rgba(71,170,60, 0.5);border:1px solid #49e740;" id="login" @click="initLogin()">
          <h4>Login</h4>
        </a>
        <a class="splash-btn" id="access" style="background-color:rgba(231,148,92,0.5);border:1px solid #df764e;" @click="initAccess()">
          <h4>Get Access</h4>
        </a>
        <a class="splash-btn" id="breezi" @click="breeziLink()">
          <h4>More Info</h4>
        </a>
      </article>
      <article v-if="login && !loading" class="splash-content">
        <login-component v-on:fromLogin="clearLogin($event)"></login-component>
      </article>
      <article v-if="request && !loading" class="splash-content">
        <request-component v-on:fromRequest="clearRequest($event)"></request-component>
      </article>
    </main>
    <loading-component v-if="loading"></loading-component>
  </main>
</template>

<script>

import Login from './Login';
import Request from './Request';
import Loading from '../util/Loading';

export default {
  data(){
    return {
      request: false,
      login: false,
      request: false,
      loggingIn: false,
      loading: false
    }
  },
  components: {
    'login-component': Login,
    'request-component': Request,
    'loading-component': Loading
  },
  methods: {
    breeziLink(){
      window.location = 'https://www.breezi-pro.io';
    },
    initLogin(){
      this.login = true;
      this.request = false;
    },
    initAccess(){
      this.request = true;
      this.login = false;
    },
    clearLogin(event){
      if (event !== null) {
        this.loading = true;
        setTimeout(() => {
          this.$emit('successfulLogin', event);
          this.loggingIn = true;
        }, 5000);
      }
      this.login = false;
      this.request = false;
    },
    clearRequest(){
      this.login = false;
      this.request = false;
    }
  },
  mounted(){
    this.$emit('expiredOrInvalid');
  }
}

</script>

<style>

.splash-outer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/city_center+copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  width: 400px;
  max-width: 60%;
}

.splash-content {
  min-height: 300px;
  width: 500px;
  max-width: 98%;
  background-color: rgba(53, 143, 240, 0.12);
  border: 1px solid #35b7f0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.panel-header {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

  .panel-header img {
    width: 10%;
    height: auto;
    margin-top: 2%;
    border: 2px solid #dfe2ea;
    padding: 2px;
    border-radius: 100%;
    margin-right: 10%;
  }


.login-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  height: 40%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

</style>
