<template>
  <div class="room-outer">
    <div :class="lgCard">
      <room-front-component class="face face-one" v-if="activeNode === 0"></room-front-component>
      <room-left-component :room="room" class="face face-two" v-if="activeNode === 1"></room-left-component>
      <room-right-component class="face face-three" :room="room" v-if="activeNode === 2"></room-right-component>
      <div class="slider-lg" style="margin-bottom:6%;">
        <div class="slider-bar"></div>
        <div :class="activeInactive(1)" style="left:0;" @click="flipLg('left')">
          <h2>2</h2>
        </div>
        <div :class="activeInactive(0)" @click="flipLg('center')">
          <h2>1</h2>
        </div>
        <div :class="activeInactive(2)" style="right:0;" @click="flipLg('right')">
          <h2>3</h2>
        </div>
      </div>
      <h5 class="last-updated">Last Updated: {{lastUpdated}}</h5>
    </div>
  </div>
</template>

<script>

import moment from 'moment';

import Front from './RoomFront';
import Left from './RoomLeft';
import Right from './RoomRight';

export default {
  data(){
    return {
      room: {},
      tkn: '',
      bName: '',
      front: true,
      left: false,
      right: false,
      lastUpdated: '',
      activeNode: 0,
      lgCard: 'lg-card'
    }
  },
  components: {
    'room-front-component': Front,
    'room-left-component': Left,
    'room-right-component': Right
  },
  methods: {
    activeInactive(n){
      let base = ''
      if (n === this.activeNode) {
        base = 'active-slider-node-new lg-node';
      } else {
        base = 'inactive-slider-node-new lg-node';
      }
      switch (n) {
        case n === 0:
          base += ' slider-one';
          this.lgCard = 'lg card lg-flip-left';
        break;
        case n === 1:
          base += ' slider-two';
        break;
        case n === 2:
          base += ' slider-three';
        break;
      }
      return base;
    },
    flipLg(dir){
      switch (dir) {
        case 'center':
          this.activeNode = 0;
          this.largeCard = 'lg-card turn-left';
        break;
        case 'left':
          this.activeNode = 1;
          this.largeCard = 'lg-card turn-right';
        break;
        case 'right':
          this.activeNode = 2;
          this.largeCard = 'lg-card turn-right';
        break;
      }
    }
  },
  mounted(){
    this.room = this.$route.params.room;
    this.tkn = this.$route.params.tkn;
    this.bName = this.$route.params.tkn;
    this.lastUpdated = moment(this.room.tms * 1000).format('LLL');
    console.log(this.lastUpdated);
  }
}

</script>

<style>

.room-outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-card {
  width: 500px;
  max-width: 95%;
  height: 700px;
  max-height: 95%;
  background-color: #3d4859;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  position: relative;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
}

.lg-card h1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 3%;
}

.lg-flip-left {
  transform: rotateY(180deg);
}

.lg-flip-right {
  transform: rotateY(-180deg);
}

.lg-node {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.slider-lg {
  width: 65%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 22px;
  color: rgb(0, 153, 191);
}

.slider-bar {
  width: 100%;
  height: 4px;
  background-color: rgb(0, 153, 191);
}

.active-slider-node-new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 153, 191);
  border-radius: 100%;
  background-color: #3d4859;
}

.active-slider-node-new h2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.7em;
}

.inactive-slider-node-new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 153, 191);
  border-radius: 100%;
  background-color: rgb(0, 153, 191);
}

.inactive-slider-node-new h2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #3d4859;
  font-size: 1.7em;
}

.last-updated {
  position: absolute;
  bottom: 2px;
  left: 3%;
}

</style>
