<template>
  <div class="room-left-outer">
    <div class="mini-status-bar" :style="{'background-color': calcStatus(), 'display': 'flex', 'align-self': 'flex-end'}"></div>
    <h5 style="display:flex;align-self:flex-end;padding-right:2%;margin-top:6px;">{{room.name}}</h5>
    <h3 style="width:100%;display:flex;justify-content:flex-start;margin-left:4%;">Room History</h3>
    <div class="graph-header">
      <div :class="isActive(0)" @click="activate(0)">
        <img src="@/assets/filterOfficial.png" />
      </div>
      <div :class="isActive(1)" @click="activate(1)">
        <img src="@/assets/temp.png" />
      </div>
      <div :class="isActive(2)" @click="activate(2)">
        <img src="@/assets/hum.png" />
      </div>
      <div :class="isActive(3)" @click="activate(3)">
        <img src="@/assets/tvoc.png" />
      </div>
      <div :class="isActive(4)" @click="activate(4)">
        <img src="@/assets/eCO2Text.png" />
      </div>
    </div>
    <div class="graph-panel">
      <div id="room-chart"></div>
    </div>
    <!-- <h5 style="margin-top:0px;display:flex;justify-content:space-around;align-items:center;"><span style="color:rgb(0,153,191);">Today</span> | <span style="color:#fc0005;">Critical</span> | <span style="color:#ffff08;">Warning</span></h5> -->
  </div>
</template>

<script>

import axios from 'axios';
import moment from 'moment';
import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
More(Highcharts);

export default {
  data(){
    return {
      rdg: 'days',
      trends: {},
      activeTrends: [],
      margin: '50px'
    }
  },
  props: ['room'],
  methods: {
    calcStatus(){
      let good = '#4ba34f';
      let bad = '#ffff08';
      let crit = '#fc0005';
      if (this.room.alerts.crit > 0) {
        return crit;
      } else if (this.room.alerts.bad > 0) {
        return bad;
      } else {
        return good;
      }
    },
    getTrends(){
      let url = `https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/trends/rooms/${this.room.id}`;
      axios.get(
        url,
        {
          headers: {
            Authorization: this.tkn,
            'Content-Type': 'application/json'
          }
        }
      ).then(rawTrends => {
        let trends = rawTrends.data.data;
        this.categories = trends.map(t => moment(t.tms*1000).format('MM/DD'));
        this.trends = [
          {
            name: 'Days Remaining',
            data: trends.map(t =>   t.dap.days  ),
            tooltip: {valueSuffix: ' d'}
          },
          {
            name: 'Temperature',
            data: trends.map(t => t.meas.ttp),
            tooltip: {valueSuffix: ' ˚C'}
          },
          {
            name: 'Humidity',
            data: trends.map(t => t.meas.hhm),
            tooltip: {valueSuffix: '%'}
          },
          {
            name : 'tVOC',
            data: trends.map(t => t.meas.iaq),
            tooltip: {valueSuffix: ''}
          },
          {
            name: 'CO2',
            data: trends.map(t => t.meas.co2),
            tooltip: {valueSuffix: 'PPM'}
          }
        ];
        this.activeTrends = [this.trends[1], this.trends[2], this.trends[3]];
        this.popChart(this.activeTrends);
      });
    },
    popChart(trends){
      let series = trends;
      let trendChart = {
        chart: {
          type: 'line',
          backgroundColor: '#12212c',
          width: 500,
          height: '65%'
        },

        title: false,
        xAxis: {
          categories: this.categories,
          units: '{this.term}'
        },
        yAxis: {
          title: false
        },
        legend: false,
        plotOptions: {
          line: {
            dataLabels: {
              useHTML: true
            }
          }
        },
        credits: false,
        series: series
      }
      this.target = Highcharts.chart('room-chart', trendChart);
    },
    activate(i){
      if (this.activeTrends.indexOf(this.trends[i]) > -1) {
        this.activeTrends = this.activeTrends.filter(a => a !== this.trends[i]);
      } else {
        this.activeTrends.push(this.trends[i]);
      }
      this.popChart(this.activeTrends);
    },
    isActive(i){
      if (this.activeTrends.indexOf(this.trends[i]) > -1) {
        return 'graph-header-panel active-graph-header-panel';
      } else {
        return 'graph-header-panel';
      }
    }
  },
  mounted(){
    this.tkn = this.$route.params.tkn;
    this.getTrends();
  }
}

</script>

<style>

.room-left-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.mini-status-bar {
  width: 20%;
  height: 6px;
  display: flex;
  align-self: flex-end;
}

.graph-panel {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 20px solid #12212c;
  /* margin-top: 20px; */
}

.graph-header-panel {
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.graph-header-panel:hover {
  background-color: gray;
}

.graph-header-panel img {
  width: 25%;
}

.active-graph-header-panel {
  background-color: #12212c;
  border-top: 2px solid rgb(0, 153, 191);
}

.room-chart {
  width: 100%;
  height: 100%;
}

</style>
