<template>
  <div class="bldg-right-outer">
    <div class="mini-status-bar" :style="{'background-color': calcStatus(), 'align-self': 'flex-start'}"></div>
    <h5 style="display:flex;align-self:flex-start;margin:6px;">{{room.name}}</h5>
    <div class="equipment-body">
      <h5 class="equip-info" @click="infoEquip()">i</h5>
      <div class="img-bg" v-if="!equipInfo"></div>
      <div class="info-equip animated slideInBottom" v-if="equipInfo">
        <div class="config-span" style="height:40%;align-items:center;">
          <div v-for="(dat, index) in equipDat" style="height:50px;width:21%;color:white;border:1px solid white;margin:5px;justify-content:center;align-items:center;" class="config-panel">
            <h5 style="margin:5px;">{{dat.name}}</h5>
            <small style="color:#2e2f2f;margin:0;">{{dat.sub}}</small>
          </div>
        </div>
      </div>
      <div class="belt-slider-lg">
        <div :class="active === 0 ? 'active-belt-lg' : 'inactive-belt-lg'" @click="beltPanel(0)">
          <h4>Predictive Alerts</h4>
        </div>
        <div :class="active === 1 ? 'active-belt-lg' : 'inactive-belt-lg'" @click="beltPanel(1)">
          <h4>Maintenance Events</h4>
        </div>
        <div :class="active === 2 ? 'active-belt-lg' : 'inactive-belt-lg'" @click="beltPanel(2)">
          <h4>Duty-cycle & Runtime</h4>
        </div>
      </div>
      <div class="equip-bottom">
        <div class="pred-alerts-lg" v-if="active === 0">
          <img src="@/assets/critAlert.png" style="height:80px;width:auto;" />
          <h4>Alert tracking coming soon</h4>
        </div>
        <div class="pred-alerts-lg" style="padding:0;" v-if="active === 1">
          <img src="@/assets/tools.png" style="height:80px;width:auto;" />
          <h4>Event tracking coming soon</h4>
        </div>
        <div class="pred-alerts-lg" style="padding:0;" v-if="active === 2">
          <img src="@/assets/trend.png" style="height:80px;width:auto;" />
          <h4>Runtime tracking coming soon</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  import moment from 'moment';

  export default {
    data(){
      return {
        active: 0,
        equipImage: '',
        lastUpdated: '',
        equipInfo: false,
        equipDat: []
      }
    },
    props: ['room'],
    methods: {
      assignImg(){
        if (this.room.configuration === 'vav') {
          return 'url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/vav.png)'
        } else if(this.room.configuration === 'ptac') {
          return 'url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/ptac2.jpg)'
        } else {
          return `url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/${this.room.configuration}.jpg)`
        }
      },
      calcStatus(){
        let good = '#4ba34f';
        let bad = '#ffff08';
        let crit = '#fc0005';
        if (this.room.alerts.crit > 0) {
          return crit;
        } else if (this.room.alerts.bad > 0) {
          return bad;
        } else {
          return good;
        }
      },
      beltPanel(n){
        this.active = n;
      },
      infoEquip(){
        this.equipInfo = this.equipInfo === true
          ? false
          : true;
      },
      parseEquipData(){
        this.equipDat.push(
          {
            name: 'Configuration',
            sub: this.room.configuration
          },
          {
            name: 'Manufacturer',
            sub: this.room.manufacturer
          },
          {
            name: 'Model',
            sub: this.room.modelNumber
          },
          {
            name: 'Filter Size',
            sub: this.room.size
          },
          {
            name: 'Last Changed',
            sub: this.room.lastChanged
          },
          {
            name: 'Filter Brand',
            sub: this.room.fBrand
          },
          {
            name: 'Filter Model',
            sub: this.room.fModel
          }
        )
      }
    },
    mounted(){
      this.assignImg();
      this.lastUpdated = moment(this.room.tms * 1000).format('LLL');
      this.parseEquipData();
    }
  }
</script>

<style>

.bldg-right-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.mini-status-bar {
  width: 20%;
  background-color: black;
  height: 6px;
  display: flex;
  align-self: flex-start;
}

.status-right {
  left: 0px;
  top: 0px;
}

.equipment-body {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.img-bg {
  width: 100%;
  height: 50%;
  background-image: url('../../assets/fcu.png');
  background-size: 45%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 153, 191);
}

.info-equip {
  width: 100%;
  height: 50%;
  background-color: rgb(0, 153, 191);
}

.equipment-body img {
  width: 80%;
  height: auto;
}

.belt-slider {
  width: 100%;
  height: 15%;
  bottom: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d4859;
}

.belt-panel {
  width: 33.3%;
  height: 100%;
}

.active-belt {
  background-color: rgb(0, 153, 191);
}

.pred-alerts-lg {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pred-panel {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.pred-panel img {
  width: 30px;
  margin-right: 10px;
}

.equip-bottom {
  height: 50%;
}

.chart-background {
  width: 270px;
  height: 105px;
  background-image: url('../../assets/nighchart.png');
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: 6px;
}

.belt-slider-lg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-belt-lg {
  width: 33.3%;
  height: 100%;
  background-color: rgb(0, 153, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.inactive-belt-lg {
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.inactive-belt-lg:hover {
  color: rgb(0, 153, 191);
}

.equip-info {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.2em;
  font-family: Arial;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.equip-info:hover {
  background-color: white;
  color: rgb(0, 153, 191);
}

</style>
