<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Comfortaa', sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1e1d2a;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 191);
}

::-webkit-scrollbar-thumb:hover {
  background: #cdd7da;;
}

::placeholder {
  color: gray;
}


</style>
