<template>
  <div class="bldg-left-outer">
    <div class="mini-status-bar" :style="{'background-color': calcStatus(), 'display': 'flex', 'align-self': 'flex-end'}"></div>
    <h5 style="display:flex;align-self:flex-end;margin:6px;">{{room.name}}</h5>
    <div class="graph-panel">
      <h4 style="width: 90%;text-align:left;">Room History</h4>
      <div class="chart-background-lg"></div>
    </div>
    <h4 style="margin-top:50px;width:100%;text-align:left;margin-left:60px;">Alerts</h4>
    <h5 style="margin-top:0px;display:flex;justify-content:space-around;align-items:center;"><span style="color:rgb(0,153,191);">Today</span> | <span style="color:#fc0005;">Critical</span> | <span style="color:#ffff08;">Warning</span></h5>
    <small class="last-updated">Last Updated: {{lastUpdated}}</small>
  </div>
</template>

<script>

  import moment from 'moment';

  export default {
    data(){
      return {
        lastUpdated: ''
      }
    },
    props: ['room'],
    methods: {
      calcStatus(){
        let good = '#4ba34f';
        let bad = '#ffff08';
        let crit = '#fc0005';
        if (this.room.alerts.crit > 0) {
          return crit;
        } else if (this.room.alerts.bad > 0) {
          return bad;
        } else {
          return good;
        }
      }
    },
    mounted(){
      this.lastUpdated = moment(this.room.tms * 1000).format('LLL');
    }
  }

</script>

<style>

.bldg-left-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mini-status-bar {
  width: 20%;
  height: 6px;
  display: flex;
  align-self: flex-end;
}

.graph-panel {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}

.graph-panel img {
  width: 100%;
  height: 85%;
  margin-top: 20px;
}

.chart-background-lg {
  width: 280px;
  margin-left: 10px;
  height: 205px;
  background-image: url('../../assets/nighchart.png');
  background-position:center;
  background-size: 90%;
  background-repeat: no-repeat;
}

</style>
