<template>
  <div class="bldg-card-outer" @click="toBldg()">
    <div class="status-bar" :style="{'background-color': calcStatus()}"></div>
    <div class="card-header">
      <h3>{{bldg.name}}</h3>
      <h4 style="color:#0b5bae;">{{bldg.city}}, {{bldg.state}} | {{bldg.country}}</h4>
    </div>
    <div class="card-section hvac-section">
      <img src="@/assets/acHeart.png" />
      <div class="card-section-cluster">
        <div class="card-section-panel left-section-panel">
          <img src="@/assets/filterOfficial.png" />
          <h2 :style="{'color':calcStatus(), 'margin': 0}">{{aggregateDays}}</h2>
          <h5 style="margin:0;">Days<br />Remaining</h5>
        </div>
        <div class="card-section-spacer"></div>
        <div class="card-section-panel right-section-panel" style="justify-content:center;">
          <h5 :style="{'color': calcStatus()}">Projected Maintenance</h5>
          <h5>{{projectedDate(aggregateDays)}}</h5>
        </div>
      </div>
    </div>
    <div class="card-section aq-section">
      <img src="@/assets/airHeart.png" />
      <div class="card-section-cluster">
        <div class="card-section-panel left-section-panel">
          <div class="temp-hum">
            <div class="temp-hum-panel">
              <img src="@/assets/temp.png" />
              <h4 :style="{'color': calcStatus()}">{{calcTemp()}}˚C</h4>
            </div>
            <div class="horizontal-spacer"></div>
            <div class="temp-hum-panel">
              <img src="@/assets/hum.png" />
              <h4 :style="{'color': calcStatus()}">{{calcHum()}} %</h4>
            </div>
          </div>
        </div>
        <div class="card-section-spacer"></div>
        <div class="card-section-panel right-section-panel" style="justify-content:center;">
          <div class="temp-hum">
            <div class="temp-hum-panel">
              <img src="@/assets/tvoc.png" />
              <h4 :style="{'color': calcStatus()}">{{calcVoc()}}</h4>
            </div>
            <div class="horizontal-spacer"></div>
            <div class="temp-hum-panel">
              <img src="@/assets/ECO2Text.png" />
              <h4 :style="{'color': calcStatus()}">{{calcCO2()}} <span style="font-size:0.5em">PPM</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <small class="latest-tms">Last Updated: {{formattedTms}}</small>
  </div>
</template>

<script>

  import moment from 'moment';
  import cToF from 'celsius-to-fahrenheit';

  export default {
    data(){
      return {
        formattedTms: '',
        aggregateDays: ''
      }
    },
    props: ['bldg', 'dir', 'tkn'],
    methods: {
      calcStatus(){
        // add params here and in template!
        return '#4ba34f';
      },
      streetExtended(){
        return (this.bldg.streetExtended && this.bldg.streetExtended.length > 1)
          ? ` ${this.bldg.streetExtended},`
          : ','
      },
      calcTms(){
        try {
          let tms = this.bldg.floors.reduce((a, i) => {
            if (i.rooms) {
              let roomTimes = i.rooms.map(r => r.latestMeasPacket.tms);
              let sortedTimes = roomTimes.sort((a, b) => {return b - a});
              if (sortedTimes[0] > a) {
                a = sortedTimes[0];
              }
            }
            return a;
          }, -1);
          return moment(tms * 1000).format('LLL');
        } catch(err) {
          return 'Awaiting Readings'
        }
      },
      calcDays(){
        try {
          let days = this.bldg.floors.reduce((a, i) => {
            if (i.rooms) {
              let roomDays = i.rooms.map(r => r.latestDap.values.lifeExpectancy);
              if (roomDays === undefined) {
                a.days += 0;
              } else {
                roomDays.map(r => {
                  a.days += r;
                  a.total += 1;
                });
              }
            }
            return a;
          }, {days: 0, total: 0});
          return Math.round(days.days/days.total) || 0;
        } catch(err) {
          return '-';
        }
      },
      projectedDate(days){
        try {
          return moment(Date.now() + (days * 86400000)).format('L')
        } catch(err) {
          return '-'
        }
      },
      calcTemp(){
        try {
          let temps = this.bldg.floors.reduce((a, i) => {
            if (i.rooms) {
              let roomTemps = i.rooms.reduce((x, y) => {
                return x.concat(y.latestMeasPacket.dat.ttp);
              }, []);
              return a.concat(roomTemps);
            }
            return a;
          }, []);
          let total = temps.reduce((a, i) => {return a += i}, 0);
          let response = Math.round(total/temps.length);
          if (isNaN(response)) {
            return '-'
          } else {
            return response || '-';
          }
        } catch(err) {
          return '-';
        }
      },
      calcHum(){
        try {
          let hums = this.bldg.floors.reduce((a, i) => {
            if (i.rooms) {
              let roomHums = i.rooms.reduce((x, y) => {
                return x.concat(y.latestMeasPacket.dat.hhm);
              }, []);
              return a.concat(roomHums);
            }
            return a;
          }, []);
          let total = hums.reduce((a, i) => {return a += i}, 0);
          let response = Math.round(total/hums.length);
          if (isNaN(response)) {
            return '-'
          } else {
            return response || '-';
          }
        } catch(err) {
          return '-';
        }
      },
      calcVoc(){
        try {
          let vocs = this.bldg.floors.reduce((a, i) => {
            if (i.rooms) {
              let roomVocs = i.rooms.reduce((x, y) => {
                let voc = y.latestMeasPacket.dat.iaq
                return x.concat(voc);
              }, []);
              return a.concat(roomVocs);
            }
            return a;
          }, []);
          let total = vocs.reduce((a, i) => {return a += i}, 0);
          let response = Math.round(total/vocs.length);
          if (isNaN(response)) {
            return '-'
          } else {
            return response;
          }
        } catch(err) {
          return '-';
        }
      },
      calcCO2(){
        try {
          let cs = this.bldg.floors.reduce((a, i) => {
            if (i.rooms) {
              let roomcs = i.rooms.reduce((x, y) => {
                let c = y.latestMeasPacket.dat.co2
                return x.concat(c);
              }, []);
              return a.concat(roomcs);
            }
            return a;
          }, []);
          let total = cs.reduce((a, i) => {return a += i}, 0);
          let response = Math.round(total/cs.length);
          if (isNaN(response)) {
            return '-'
          } else {
            return response;
          }
        } catch(err) {
          return '-';
        }
      },
      toBldg(){
        let totalFloors = this.bldg.floors.length;
        let monitoredFloors = this. bldg.floors.filter(f => f.rooms).length;
        this.$emit('fromBldgCard', {
          header: {
            type: 'building',
            name: this.bldg.name,
            floors: {total: totalFloors, monitored: monitoredFloors},
            alerts: {
              crit: [],
              warn: []
            }
          }
        })
        this.$router.push({
          name: 'Building',
          params: {
            bldg: this.bldg,
            tkn: this.tkn
          }
        });
      }
    },
    mounted(){
      this.formattedTms = this.calcTms();
      this.aggregateDays = this.calcDays();
    }
  }

</script>

<style>

.bldg-card-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



</style>
