<template>
  <div class="room-card-outer">
    <img class="card-expand" src="@/assets/expand.png" @click="navRoom()"/>
    <div class="status-bar" :style="{'background-color': calcStatus('alert')}"></div>
    <div class="card-header">
      <h3>{{room.name}}</h3>
      <h4 style="color:#0b5bae; width:100%;text-align:left">{{bName}}</h4>
    </div>
    <div class="card-section hvac-section">
      <img src="@/assets/acHeart.png" />
      <div class="card-section-cluster">
        <div class="card-section-panel left-section-panel">
          <img style="margin-right:10px;" src="@/assets/filterOfficial.png" />
          <h2 :style="{'color':calcStatus(), 'margin': 0}">{{room.avg.days}}</h2>
          <h5 style="margin:0;">Days<br />Remaining</h5>
        </div>
        <div class="card-section-spacer"></div>
        <div class="card-section-panel right-section-panel" style="justify-content:center;">
          <h5>Projected Maintenance</h5>
          <h5 :style="{'color': calcStatus('days')}">{{projectedDate(room.avg.days)}}</h5>
        </div>
      </div>
    </div>
    <div class="card-section aq-section">
      <img src="@/assets/airHeart.png" />
      <div class="card-section-cluster">
        <div class="card-section-panel left-section-panel">
          <div class="temp-hum">
            <div class="temp-hum-panel">
              <img src="@/assets/temp.png" style="margin-right: 10px;"/>
              <h4 :style="{'color': calcStatus('ttp')}">{{room.avg.ttp}}˚C</h4>
            </div>
            <div class="horizontal-spacer"></div>
            <div class="temp-hum-panel">
              <img src="@/assets/hum.png" style="margin-right: 10px;"/>
              <h4 :style="{'color': calcStatus('hhm'), 'display': 'flex'}">{{room.avg.hhm}}<span style="margin-left: 6px;">%</span></h4>
            </div>
          </div>
        </div>
        <div class="card-section-spacer"></div>
        <div class="card-section-panel right-section-panel" style="justify-content:center;">
          <div class="temp-hum">
            <div class="temp-hum-panel" style="padding-right:8px;">
              <img src="@/assets/tvoc.png"/>
              <h4 :style="{'color': calcStatus('iaq'), 'margin-left': '20%'}">{{room.avg.iaq}}</h4>
            </div>
            <div class="horizontal-spacer"></div>
            <div class="temp-hum-panel" style="padding-right:8px;">
              <img src="@/assets/ECO2Text.png"/>
              <h4 :style="{'color': calcStatus('co2'), 'margin-left': '10%'}">{{room.avg.co2}} <span style="font-size:0.5em">PPM</span></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <small class="last-updated">Last Updated: {{lastUpdated}}</small>
  </div>
</template>

<script>

import moment from 'moment';

export default {
  data(){
    return {
      lastUpdated: ''
    }
  },
  props: ['room', 'tkn', 'bName'],
  methods: {
    calcStatus(rdg){
      let good = '#4ba34f';
      let bad = '#ffff08';
      let crit = '#fc0005';
      if (rdg === 'days') {
        if (this.room.avg[rdg] <= 5) {
          return crit;
        } else if (this.room.avg[rdg] > 5 && this.room.avg[rdg] <= 15) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'ttp') {
        if (this.room.avg[rdg] <= 0 || this.room.avg[rdg] >= 29) {
          return crit;
        } else if ((this.room.avg[rdg] >= 10 && this.room.avg[rdg] <= 18) || (this.room.avg[rdg] <= 28 && this.room.avg[rdg] >= 19)) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'hhm') {
        if (this.room.avg[rdg] < 20 || this.room.avg[rdg] > 80) {
          return crit;
        } else if (this.room.avg[rdg] > 40 && rdg < 80) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'iaq') {
        if (this.room.avg[rdg] > 250) {
          return crit;
        } else if (this.room.avg[rdg] > 100) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'co2') {
        if (this.room.avg[rdg] >= 1000) {
          return crit;
        } else if (this.room.avg[rdg] >= 350) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'alert') {
        if (this.room.alerts && this.room.alerts.crit > 0) {
          return crit;
        }  else if (this.room.alerts && this.room.alerts.bad > 0) {
          return bad;
        } else {
          return good;
        }
      }
    },
    calcDays(){
      try {
        return this.room.latestDap.values.lifeExpectancy;
      } catch(err) {
        return '-';
      }
    },
    projectedDate(days){
      try {
        return moment(Date.now() + (days * 86400000)).format('L');
      } catch(err) {
        return '-'
      }
    },
    calcAvg(rdg){
      try {
        return this.room.latestMeasPacket.dat[rdg].reduce((a, i, n, r) => {
          a += i;
          if (n === r.length - 1) {
            return Math.round(a/r.length);
          }
          return a;
        }, 0);
      } catch(err) {
        return '-'
      }
    },
    navRoom(){
      this.$router.push({
        name: 'Room',
        params: {
          room: this.room,
          tkn: this.tkn,
          bName: this.bName
        }
      })
    }
  },
  mounted(){
    this.lastUpdated = moment(this.room.tms * 1000).format('LLL');
  }
}

</script>

<style>

.room-card-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.last-updated {
  position: absolute;
  bottom: 0px;
  left: 8px;
}

.card-expand {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  padding: 2px;
}

</style>
