<template>
  <div id="app">
    <onboard-component :panels="panels" :obTitle="obTitle" :obImg="obImg"></onboard-component>
  </div>
</template>

<script>

import Onboard from './components/Onboard';

export default {
  name: 'app',
  data () {
    return {
      panels: [
        {
          step: 1,
          title: 'General',
          inputs: [{
            type: 'text',
            label: 'Building name',
            value: 'bName'
          }]
        }
      ],
      obTitle: 'New buidling',
      obImg: 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/enterprise.png'
    }
  },
  components: {
    'onboard-component': Onboard
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3e3d42;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Comfortaa;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
