<template>
  <div class="onboard-form" id="add-bldg-outer">
    <div class="form-half" id="left-bldg-form">
      <h3>{{msg}}</h3>
      <input class="signup-input" id="bldg-name" v-model="bldgName" placeholder="building name"/>
      <input class="signup-input" id="bldg-name" v-model="aboveGround" placeholder="# floors above ground"/>
      <input class="signup-input" id="bldg-name" v-model="belowGround" placeholder="# floors below ground"/>
      <h4>Building Type</h4>
      <div class="radio-btns">
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="office" id="office" v-model="bType" />
          <label>Office</label>
        </div>
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="hotel" id="hotel" v-model="bType" />
          <label>Hotel</label>
        </div>
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="apts" id="apts" v-model="bType" />
          <label>Apts/Condos</label>
        </div>
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="other" id="other" v-model="bType" />
          <label for="other">Other</label>
        </div>
      </div>
    </div>
    <div class="form-half" id="right-bldg-form">
      <input class="signup-input" id="bldg-street" v-model="street" placeholder="address line 1"/>
      <input class="signup-input" id="bldg-street-extended" v-model="streetExtended" placeholder="address line 2"/>
      <input class="signup-input" id="bldg-city" v-model="city" placeholder="city"/>
      <input class="signup-input" id="bldg-state" v-model="state" placeholder="state/province/territory/region"/>
      <input class="signup-input" id="bldg-zipCode" v-model="zipCode" placeholder="postal code"/>
      <input class="signup-input" id="bldg-country" v-model="country" placeholder="country"/>
      <div class="btn-cluster" id="bldg-btn-cluster">
        <a class="signup-btn btn btn-primary" @click="submitBldg()">Submit</a>
        <a class="signup-btn btn btn-warning" @click="goBack()">Back</a>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios';

export default {
  data(){
    return {
      msg: 'Add a new Building',
      bldgName: '',
      aboveGround: '',
      belowGround: '',
      street: '',
      streetExtended: '',
      city: '',
      state: '',
      zipCode: '',
      country: '',
      bType: ''
    }
  },
  methods: {
    submitBldg(){
      let self = this;
      let thisProps = ['aboveGround','street', 'city', 'state', 'zipCode', 'country', 'bType'];
      function hasProp(prop){
        return self[prop] !== '';
      }
      if (!thisProps.every(hasProp)) {
        alert('Building address, type, and above ground floor count must be included');
        // thisProps.concat(['bldgName', 'streetExtended', 'belowGround']);
        // thisProps.map(p => {
        //   this[p] = '';
        // });
        return;
      }
      if (!this.streetExtended) {
        this.streetExtended = ' ';
      }
      if (!this.bldgName) {
        this.bldgName = `${this.street}${this.streetExtended !== ' ' ? ' ' + this.streetExtended : ''} ${this.city}, ${this.state} ${this.zipCode}, ${this.country}`;
      }
      if (this.belowGround === '') {
        this.belowGround = '0';
      }
      if (isNaN(this.aboveGround) || isNaN(this.belowGround)) {
        alert('Floor counts must be valid numbers');
        this.aboveGround = '';
        this.belowGround = '';
      }
      this.initPost()
    },
    initPost(){
      let params = {
        body: JSON.stringify({
          name: this.bldgName,
          street: this.street,
          streetExtended: this.streetExtended,
          city: this.city,
          state: this.state,
          zipCode: this.zipCode,
          country: this.country,
          aboveGround: parseInt(this.aboveGround),
          belowGround: parseInt(this.belowGround),
          type: this.bType
        }),
        headers: {
          Authorization: this.tkn,
          'Content-Type': 'application/json'
        }
      };
      const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/buildings';
      axios({
        method: 'POST',
        url: url,
        headers: params.headers,
        data: params.body
      }).then(res => {
        // this.$emit('fromAddBuilding', {reload: true});
        this.$router.push({name: 'Org', params: {tkn: this.tkn}});
      }).catch(err => {
        console.log(err);
      });
    },
    goBack(){
      this.$router.push({name: 'Org', params: {tkn: this.tkn}});
    }
  },
  mounted(){
    this.tkn = this.$route.params.tkn;
  }
}

</script>

<style>

#add-bldg-outer {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#left-bldg-form {
  background-color: #084c61;
}

#right-bldg-form {
  background-color: #464f51;
}

.radio-btns {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-span {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: gray;
}

#bldg-btn-cluster {
  width: 80%;
}

.input-span label {
  margin-left: 1em;
}

</style>
