<template>
  <div class="onboard-outer">
    <header class="onboard-header">
      <img class="onboard-header-img" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/company.png" />
      <h3 style="color:#e0def5;">Add building</h3>
    </header>
    <div class="onboard-progress">
      <div v-for="step in steps" :class="activeObStep(step.step)" :style="{'width': `${100/steps.length}%`}">
        <h5>{{step.title}}</h5>
        <div class="ob-node-bulb">
          <h3 v-if="activeObStep(step.step) === 'ob-node ob-finished-node'" style="color:#767584;">✓</h3>
        </div>
      </div>
    </div>
    <button @click="progress()">Next</button>
  </div>
</template>

<script>

export default {
  data(){
    return {
      steps: [
        {
          step: 1,
          title: 'General'
        },
        {
          step: 2,
          title: 'Address'
        },
        {
          step: 3,
          title: 'Address 2'
        },
        {
          step: 4,
          title: 'Locale'
        },
        {
          step: 5,
          title: 'Summary'
        }
      ],
      currentStep: 1
    }
  },
  methods: {
    activeObStep(s){
      if (s === this.currentStep) {
        return 'ob-node ob-active-node';
      } else if (s > this.currentStep) {
        return 'ob-node';
      } else {
        return 'ob-node ob-finished-node';
      }
    },
    progress(){
      this.currentStep ++;
    }
  }
}

</script>

<style>

.onboard-outer {
  width: 600px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.8);
}

.onboard-header {
  width: 100%;
  height: 12%;
  background-color: rgba(0, 153, 191, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboard-header-img {
  height: 60%;
  width: auto;
  border: 2px solid #e0def5;
  border-radius: 100%;
  padding: 3px;
  margin-right: 5%;
}

.onboard-progress {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ob-node {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ob-active-node h5 {
  color: rgb(0, 153, 191);
}

.ob-node-bulb {
  width: 30px;
  height: 30px;
  border: 2px dashed #767584;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ob-active-node .ob-node-bulb {
  width: 45px;
  height: 45px;
  background-color: rgb(0, 153, 191);
  border: none;
}

.ob-finished-node .ob-node-bulb {
  height: 20px;
  width: 20px;
  border-radius: 0%;
  border: 2px solid #767584;
}

.ob-finished-node h5 {
  color: #767584;
}

</style>
