<template>
  <div id="splash-outer" >
    <div class="overlay-panel" id="splash-panel">
      <h2>Welcome</h2>
      <p style="padding:0.2em;text-align:center;line-height:1.5em;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper a lacus vestibulum sed arcu non odio euismod. Volutpat est velit egestas dui id. Varius morbi enim nunc faucibus a pellentesque sit amet porttitor. Leo vel orci porta non pulvinar. Arcu cursus euismod quis viverra nibh cras pulvinar. In cursus turpis massa tincidunt dui ut ornare. Tellus mauris a diam maecenas sed enim. Facilisis gravida neque convallis a cras semper. A lacus vestibulum sed arcu non odio euismod. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Orci dapibus ultrices in iaculis nunc sed augue lacus.
      </p>
    </div>
    <div id="splash-btns">
      <a class="splash-btn" id="login">Login</a>
      <a class="splash-btn" id="signup">Signup</a>
    </div>
  </div>
</template>

<script>

  export default {
    data(){
      return {

      }
    }
  }

</script>

<style>

  #splash-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-top: 2vh;
  }

  #splash-panel {
    width: 97%;
    max-width: 1000px;
  }

  #splash-btns  {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

</style>
