<template>
  <div id="app">
    <div class="grid-container">
      <div class="bar grid-item" v-for="(bar, index) in bars">
        <h3>BAR</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      bars: ['x', 'x', 'x', 'x', 'x', 'x']
    }
  },
  methods: {

  },
  mounted(){
    do {
      bars.push('x');
    } while(bars.length < 6);
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.bar {
  width: 50px;
  height: 100px;
  background-color: green;
}

.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  justify-content: space-around;
  /* display: inline-grid; */
}

</style>
