  <template>
  <div class="onboard-form" id="add-bldg-outer">
    <div class="lucent-panel" id="left-bldg-form" v-if="panelOne && !lastPanel">
      <h3>{{msg}}</h3>
      <input class="signup-input" id="bldg-name" v-model="bldgName" placeholder="building name"/>
      <input class="signup-input" id="bldg-name" v-model="aboveGround" placeholder="# floors above ground"/>
      <input class="signup-input" id="bldg-name" v-model="belowGround" placeholder="# floors below ground"/>
      <h4 style="margin-top:10%;">Building Type</h4>
      <div class="radio-btns">
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="office" id="office" v-model="bType" />
          <label>Office</label>
        </div>
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="hotel" id="hotel" v-model="bType" />
          <label>Hotel</label>
        </div>
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="apts" id="apts" v-model="bType" />
          <label>Apts/Condos</label>
        </div>
        <div class="input-span">
          <input class="signup-radio" type="radio" name="b-type" value="other" id="other" v-model="bType" />
          <label for="other">Other</label>
        </div>
      </div>
      <div style="margin-bottom:5%;height:35px;" class="first-panel-btns">
        <a style="height:35px;" class="back-btn" @click="goBack()">Back</a>
        <a style="height:35px;" class="inactive-btn" v-if="!activeFirst()">Next</a>
        <a style="height:35px;" class="active-btn" v-if="activeFirst()" @click="nextPanel()">Next</a>
      </div>
    </div>
    <div class="lucent-panel" id="right-bldg-form" v-if="!panelOne && !lastPanel">
      <h2 style="position:absolute;left:2%;top:1%;">Add new building (continued)</h2>
      <a id="choose-country" @click="showCountries()">{{country}}</a>
      <input v-if="country !== 'Country'" class="bldg-input" id="bldg-street" v-model="street" placeholder="address line 1"/>
      <input v-if="country !== 'Country'" class="bldg-input" id="bldg-street-extended" v-model="streetExtended" placeholder="address line 2"/>
      <input v-if="country !== 'Country'" class="bldg-input" id="bldg-city" v-model="modCity" placeholder="city"/>
      <input v-if="country !== 'Country'" class="bldg-input" id="bldg-state" v-model="state" placeholder="state/province/territory/region"/>
      <input v-if="country !== 'Country'" class="bldg-input" id="bldg-zipCode" v-model="zipCode" placeholder="postal code"/>
      <!-- <input class="bldg-input" id="bldg-country" v-model="country" placeholder="country"/> -->
      <div class="btn-cluster" id="bldg-btn-cluster">
        <div style="margin-top:5%;" class="first-panel-btns">
          <a class="back-btn" @click="goBack()">Back</a>
          <a class="inactive-btn" v-if="!activeSecond()">Submit</a>
          <a class="active-btn" v-if="activeSecond()" @click="finalPanel()">Submit</a>
        </div>
      </div>
      <div class="lucent-panel" id="countries-panel" v-if="visCountries">
        <input class="signup-input" style="margin-top:5%;" v-model="countryFill" placeholder="Search"/>
        <div id="countries">
          <h5 class="country" v-for="c in countries" @click="setCountry(c.iso2, c.name)">
            {{c.name}}
          </h5>
        </div>
      </div>
    </div>
    <div class="lucent-panel" id="last-bldg-form" v-if="lastPanel">
      <h2>{{cityMsg}}</h2>
      <a id="choose-city" @click="showCities()">{{city}}</a>
      <div class="lucent-panel" id="cities-panel" v-if="visCities">
        <input class="signup-input" style="margin-top:5%;" v-model="cityFill" placeholder="Search"/>
        <div id="cities">
          <h5 class="country" v-for="c in cities" @click="setCity(c)">
            {{c}}
          </h5>
        </div>
      </div>
      <a class="inactive-btn" style="width:33%;height:40px;min-width: 150px;" v-if="this.city === 'City' && !visCities">Submit</a>
      <a class="active-btn" style="width:33%;height:40px;min-width: 150px;" v-else @click="submitBldg()">Submit</a>
    </div>
  </div>
</template>

<script>

import axios from 'axios';
import Sup from '../../lib/supplement';
import countries from '../../lib/countries';

export default {
  data(){
    return {
      msg: 'Add a new Building',
      bldgName: '',
      aboveGround: '',
      belowGround: '',
      street: '',
      streetExtended: '',
      city: 'City',
      state: '',
      zipCode: '',
      country: 'Country',
      bType: '',
      panelOne: true,
      countries: [],
      visCountries: false,
      cities: [],
      visCities: false,
      countryFill: '',
      cityFill: '',
      origCities: [],
      modCity: '',
      lastPanel: false,
      cityMsg: 'In order to calculate accurate weather data, please select the major city nearest the location of the new building'
    }
  },
  methods: {
    submitBldg(){
      let self = this;
      let thisProps = ['aboveGround','street', 'city', 'state', 'zipCode', 'country', 'bType'];
      function hasProp(prop){
        return (self[prop] !== '' && self[prop] !== 'Country');
      }
      if (!thisProps.every(hasProp)) {
        alert('Building address, type, and above ground floor count must be included');
        // thisProps.concat(['bldgName', 'streetExtended', 'belowGround']);
        // thisProps.map(p => {
        //   this[p] = '';
        // });
        return;
      }
      if (this.country === 'Country') {
        this.country = 'Country';
      }
      if (!this.streetExtended) {
        this.streetExtended = ' ';
      }
      if (!this.bldgName) {
        this.bldgName = `${this.street}${this.streetExtended !== ' ' ? ' ' + this.streetExtended : ''} ${this.city}, ${this.state} ${this.zipCode}, ${this.country}`;
      }
      if (this.belowGround === '') {
        this.belowGround = '0';
      }
      if (isNaN(this.aboveGround) || isNaN(this.belowGround)) {
        alert('Floor counts must be valid numbers');
        this.aboveGround = '';
        this.belowGround = '';
      }
      if (Sup.validatePostalCode(this.country, this.zipCode) === true) {
        this.initPost();
      } else {
        this.country = '';
        this.zipCode = '';
        alert(`Postal code ${this.zipCode} is not valid for ${this.country}`);
      }
    },
    initPost(){
      let params = {
        body: JSON.stringify({
          name: this.bldgName,
          street: this.street,
          streetExtended: this.streetExtended,
          city: this.city,
          state: this.state,
          zipCode: this.zipCode,
          country: this.country,
          aboveGround: parseInt(this.aboveGround),
          belowGround: parseInt(this.belowGround),
          type: this.bType
        }),
        headers: {
          Authorization: this.tkn,
          'Content-Type': 'application/json'
        }
      };
      const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/buildings';
      axios({
        method: 'POST',
        url: url,
        headers: params.headers,
        data: params.body
      }).then(res => {
        // this.$emit('fromAddBuilding', {reload: true});
        this.$router.push({name: 'Org', params: {tkn: this.tkn}});
      }).catch(err => {
        console.log(err);
      });
    },
    goBack(){
      this.$router.push({name: 'Org', params: {tkn: this.tkn}});
    },
    activeFirst(){
      if (this.bldgName && this.bldgName.length > 0 && this.aboveGround && !isNaN(this.aboveGround) && this.belowGround && !isNaN(this.belowGround) && this.bType !== '') {
        return true;
      } else {
        return false;
      }
    },
    nextPanel(){
      this.panelOne = false;
    },
    activeSecond(){
      if (this.street.length > 0 && this.city.length > 0 && this.state.length > 0 && this.zipCode.length > 0 && this.country.length > 0) {
        return true;
      } else {
        return false;
      }
    },
    showCountries(){
      this.visCountries = this.visCountries === true
        ? false
        : true;
    },
    showCities(){
      this.visCities = this.visCities === true
        ? false
        : true;
    },
    setCountry(code, name){
      this.country = code;
      this.showCountries();
      this.origCities = Sup.getCities(name);
      this.cities = this.origCities;
    },
    setCity(name){
      this.city = name;
      this.showCities();
      this.cityMsg = 'Nearest city:'
    },
    finalPanel(){
      this.lastPanel = true;
    }
  },
  mounted(){
    this.tkn = this.$route.params.tkn;
    this.countries = Object.keys(countries).map(k => countries[k]);
  },
  watch: {
    'countryFill': function(newData, oldData){
      if (newData.length > 3) {
        this.countries = this.countries.filter(c => c.name.toLowerCase().indexOf(this.countryFill.toLowerCase()) > -1);
      } else {
        this.countries = Object.keys(countries).map(k => countries[k]);
      }
    },
    'cityFill': function(newData, oldData){
      if (newData.length > 3) {
        this.cities = this.cities.filter(c => c.toLowerCase().indexOf(this.cityFill.toLowerCase()) > -1);
      } else {
        this.cities = Object.keys(this.origCities).map(k => this.origCities[k]);
      }
    }
  }
}

</script>

<style>

#add-bldg-outer {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#left-bldg-form {
  color: rgb(0, 153, 191);
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#right-bldg-form {
  color: rgb(0, 153, 191);
  height: 50%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#last-bldg-form {
  color: rgb(0, 153, 191);
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.bldg-input {
  width: 33%;
  min-width: 150px;
  height: 50px;
  border: 1px solid #35b7f0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  text-align: center;
}

.radio-btns {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.input-span {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: gray;
}

#bldg-btn-cluster {
  width: 80%;
}

.input-span label {
  margin-left: 1em;
}

#choose-country {
  color: #35b7f0;
  width: 33%;
  min-width: 150px;
  border: 1px solid #35b7f0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#choose-country:hover {
  background-color: #35b7f0;
  color: white;
}

#countries-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #153d78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countries {
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.country {
  list-style: none;
  width: 18%;
  min-width: 100px;
  cursor: pointer;
  font-size: 1.2em;
  border: 1px solid #35b7f0;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.country:hover {
  background-color: white;
}

#choose-city {
  color: #35b7f0;
  width: 33%;
  min-width: 150px;
  border: 1px solid #35b7f0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#choose-city:hover {
  background-color: #35b7f0;
  color: white;
}

#cities-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #153d78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cities {
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
}

.city {
  list-style: none;
  width: 18%;
  min-width: 100px;
  cursor: pointer;
  font-size: 1.2em;
  border: 1px solid #35b7f0;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.country:hover {
  background-color: white;
}

</style>
