<template>
  <section class="ob-form">
    <div class="ob-header">
      <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/company.png" />
      <h4>Add building</h4>
    </div>
    <div class="ob-progress">
      <div v-for="step in steps" :class="activeObStep(step.step)" :style="{'width': `${100/steps.length}%`}">
        <h5>{{step.title}}</h5>
        <div class="ob-node-bulb">
          <h3 v-if="activeObStep(step.step) === 'ob-node ob-finished-node'" style="color:#767584;">✓</h3>
        </div>
      </div>
    </div>
    <form class="ob-content" v-if="counter === 0">
      <input class="ob-input" name="bldg-name" v-model="bldgName"/>
      <label for="bldg-name">Building name</label>
      <h3 style="color:#767584;">Floors</h3>
      <div class="ob-sidebyside">
        <div class="mini-ob-panel">
          <input class="mini-ob-input" name="above-ground" v-model="aboveGround" placeholder="#"/>
          <label for="above-ground">Above ground</label>
        </div>
        <div class="mini-ob-panel">
          <input class="mini-ob-input" name="below-ground" v-model="belowGround" placeholder="#"/>
          <label for="below-ground">Below ground</label>
        </div>
      </div>
      <h3 style="color:#767584;">Building type</h3>
      <ul class="ob-selector-list">
        <li class="ob-selector" v-if="!nonTypes.includes('hotel')" @click="setBType('hotel')">
          <h5>Hotel</h5>
        </li>
        <li class="ob-selector" v-if="!nonTypes.includes('apartments')" @click="setBType('apartments')">
          <h5>Apts/Condos</h5>
        </li>
        <li class="ob-selector" v-if="!nonTypes.includes('office')" @click="setBType('office')">
          <h5>Office</h5>
        </li>
      </ul>
    </form>
    <form class="ob-content" v-if="counter === 1">
      <!-- <input class="ob-input" name="bldg-name" v:model="bldgName"/>
      <label for="bldg-name">Building name</label>
      <h3 style="color:#767584;">Floors</h3>
      <div class="ob-sidebyside">
        <div class="mini-ob-panel">
          <input class="mini-ob-input" name="above-ground" v:model="aboveGround" placeholder="num"/>
          <label for="above-ground">Above<br />ground</label>
        </div>
        <div class="mini-ob-panel">
          <input class="mini-ob-input" name="below-ground" v:model="belowGround" placeholder="num"/>
          <label for="below-ground">Below<br />ground</label>
        </div>
      </div>
      <h3 style="color:#767584;">Building type</h3>
      <ul class="ob-selector-list">
        <li class="ob-selector">
          <h5>Hotel</h5>
        </li>
        <li class="ob-selector">
          <h5>Apts/Condos</h5>
        </li>
        <li class="ob-selector">
          <h5>Office</h5>
        </li>
      </ul> -->
    </form>
    <div class="ob-btns">
      <div class="ob-nav-btn">
        <a style="background-color:#c22f32;" class="ob-btn" @click="goBack()"><img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/cancelX.png"/></a>
        <h6 style="color: #4e534e;margin:0;margin-bottom: 10px;">Back</h6>
      </div>
      <div class="ob-nav-btn" v-if="allData()">
        <a style="background-color:#33991f;" class="ob-btn" @click="progress()"><img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/back.png"/></a>
        <h6 style="color: #4e534e;margin:0;margin-bottom: 10px;">Next</h6>
      </div>
    </div>
  </section>
  <!-- <form :class="assessWidth()" id="bldg-form">
    <header class="onboard-header" id="building-onboard-header">
      <div class="onboard-progress">
        <div v-for="(node, index) in progNodes" :class="nodeClass(index)">
          <div class="prog-content" @click="navProg(index)">
            <div class="prog-ball"></div>
            <small>{{node}}</small>
          </div>
          <div class="prog-bar"></div>
        </div>
      </div>
    </header>
    <section class="onboard-input-panel" v-if="counter === -1 && !showTypes">
      <input class="onboard-input" v-model="bldgName" name="bldg-name"/>
      <label for="bldg-name">Building name</label>
      <input class="onboard-input" v-model="aboveGround" name="above-ground"/>
      <label for="above-ground"># of floors above ground</label>
      <input class="onboard-input" v-model="belowGround" name="below-ground"/>
      <label for="below-ground"># of floors below ground</label>
      <a class="onboard-multi-btn" @click="openTypes()">{{bldgType}}</a>
    </section>
    <section class="onboard-input-panel" v-if="showTypes">
      <h3>Choose building type</h3>
      <a class="onboard-multi-btn" @click="setType('hotel')">Hotel</a>
      <a class="onboard-multi-btn" @click="setType('apartments')">Apartments/Condos</a>
      <a class="onboard-multi-btn" @click="setType('office')">Office</a>
      <a class="onboard-multi-btn" @click="setType('other')">Other</a>
    </section>
    <section class="onboard-input-panel" v-if="counter === 0">
      <input class="onboard-input" v-model="bldgStreet" name="bldg-street"/>
      <label for="bldg-street">Street address line 1</label>
      <input class="onboard-input" v-model="bldgStreetExt" name="bldg-street-ext"/>
      <label for="bldg-street-ext">Street address line 2</label>
    </section>
    <section class="onboard-input-panel" v-if="counter === 1 && !showCountries">
      <input class="onboard-input" v-model="bldgCity" name="bldg-city"/>
      <label style="margin-bottom:18px;" for="bldg-city">City</label>
      <input class="onboard-input" v-model="bldgState" name="bldg-state"/>
      <label style="margin-bottom:18px;" for="bldg-state">State/Province/Territory (if applicable)</label>
      <input class="onboard-input" v-model="bldgZip" name="bldg-zip"/>
      <label style="margin-bottom:18px;" for="bldg-zip">Postal code</label>
      <a class="onboard-multi-btn" @click="openCountries()">{{bldgCountry}}</a>
    </section>
    <section class="onboard-input-panel country-list" v-if="counter === 2 && !showCountries">
      <h3 style="color:rgb(0,153,191);margin-bottom:5px;">{{countryName}}</h3>
      <h4 v-if="citySet">{{city}}</h4>
      <input v-if="!citySet" class="onboard-input" style="font-size:1.4em;padding-left:5px;" v-model="cityInput" name="city-input" placeholder="Search city"/>
      <li v-if="!citySet" class="country" v-for="city in cities" @click="setCity(city)">{{city}}</li>
    </section>
    <section class="onboard-input-panel country-list" v-if="showCountries">
      <input class="onboard-input" style="font-size:1.4em;padding-left:5px;" v-model="countryInput" name="country-input" placeholder="Search country"/>
      <li class="country" v-for="country in countryList" @click="setCountry(country)">{{country.name}}</li>
    </section> -->
    <!-- <section class="onboard-input-panel" v-if="counter === 3">

    </section> -->
    <!-- <div class="onboard-btns">
      <a style="width:120px;height:50px" class="back-btn" @click="goBack()">Cancel</a>
      <a style="width:120px;height:50px;" class="splash-btn" v-if="assessNextVis()" @click="progress()">{{nextText}}</a>
    </div>
  </form> -->
</template>

<script>

import countries from '@/lib/countries';
import Util from '@/src/util';
import Rest from '@/src/rest';

export default {

  data(){
    return {

      steps: [
        {
          step: 0,
          title: 'General'
        },
        {
          step: 1,
          title: 'Address'
        },
        {
          step: 2,
          title: 'Address 2'
        },
        {
          step: 3,
          title: 'Locale'
        },
        {
          step: 4,
          title: 'Summary'
        }
      ],
      nonTypes: [],

      newBldgTitle: 'Adding new building...',
      bldgName: '',
      bldgType: '',
      aboveGround: '',
      belowGround: '',
      bldgStreet: '',
      bldgStreetExt: '',
      counter: 0,
      bldgCity: '',
      bldgState: '',
      bldgZip: '',
      bldgCountry: 'Country',
      nextText: 'Next',
      countryInput: '',
      cityInput: '',
      countryList: [],
      cities: [],
      city: '',
      showCountries: false,
      showCities: false,
      countryName: '',
      citySet: false,
      showTypes: false,
      screenSize: 0,
      mobile: false,
      progNodes: [
        'General',
        'Address',
        'Address 2',
        'Locale'
      ],
      progCounter: 0
    }
  },
  props: ['tkn'],
  methods: {

    activeObStep(s){
      if (s === this.counter) {
        return 'ob-node ob-active-node';
      } else if (s > this.counter) {
        return 'ob-node';
      } else {
        return 'ob-node ob-finished-node';
      }
    },
    allData(){
      switch (this.counter) {
        case 0:
          let result = ['bldgName', 'aboveGround', 'belowGround', 'bldgType'].every(p => this[p] !== '');
          return result;
        break;
      }
    },
    hasProp(p){
      console.log(this[p]);
      return this[p] !== '';
    },
    goBack(){
      this.$emit('resetOrg');
    },
    setBType(type){
      this.bldgType = type;
      this.nonTypes = ['hotel', 'apartments', 'office'].filter(t => t !== type);
    },

    assessNextVis(){
      let self = this;
      switch (this.counter) {
        case -1:
          return (['bldgName', 'aboveGround'].every(notBlank) === true && !isNaN(this.aboveGround) && !isNaN(this.belowGround) && this.bldgType !== 'Type')
            ? true
            : false;
        break;
        case 0:
          return ['bldgStreet'].every(notBlank) === true
            ? true
            : false;
        break;
        case 1:
          return ['bldgCity', 'bldgZip', 'bldgName', 'country', 'countryName'].every(notBlank) === true
            ? true
            : false;
        break;
        case 2:
          return this.city === ''
            ? false
            : true;
        break;
      }
      function notBlank(i){
        return self[i] !== '';
      }
    },
    progress(){
      this.counter ++;
      // this.progCounter ++;
      // switch (this.counter) {
      //   case -1:
      //     this.newBldgTitle = 'Address';
      //   break;
      //   case 0:
      //     this.newBldgTitle = 'Location';
      //   break;
      //   case 1:
      //     this.newBldgTitle = 'For weather data please select the city nearest you.';
      //     this.nextText = 'Submit';
      //   break;
      //   case 2:
      //     this.newBldgTitle = 'Posting...';
      //     this.postBldg();
      //   break;
      // }
      // this.counter ++;
    },
    openTypes(){
      this.showTypes = true;
    },
    openCountries(){
      this.showCountries = this.showCountries === true
        ? false
        : true;
    },
    openCities(){
      this.showCities = this.showCities === true
        ? false
        : true;
      this.progress();
    },
    setType(t){
      this.bldgType = t;
      this.showTypes = false;
      this.progress();
    },
    setCountry(c){
      this.countryName = c.name;
      this.country = c.iso2;
      this.bldgCountry = this.countryName;
      this.cities = Util.matchCity(this.countryName, '');
      this.showCountries = false;
      this.progress();
    },
    setCity(c){
      this.city = c;
      this.citySet = true;
    },
    postBldg(){
      try {
        let bldg = {
          name: this.bldgName,
          street: this.bldgStreet,
          streetExtended: this.bldgStreetExt || ' ',
          city: this.city,
          state: this.bldgState || ' ',
          country: this.country,
          zipCode: this.bldgZip,
          aboveGround: parseInt(this.aboveGround),
          belowGround: parseInt(this.belowGround),
          type: this.bldgType,
          altCity: this.bldgCity
        }
        Rest.postBldg(bldg, this.tkn)
          .then(newBldg => {
            this.$emit('resetOrg', newBldg);
          }, err => {
            throw null;
          });
      } catch(err) {
        this.$emit('resetOrg', null);
      }
    },
    assessWidth(){
      if (this.mobile) {
        return 'onboard-form'
      } else {
        return 'onboard-form onboard-web'
      }
    },
    nodeClass(i){
      if (this.progCounter === i) {
        return 'prog-node prog-active';
      } else if (this.progCounter > i) {
        return 'prog-node prog-past';
      } else {
        return 'prog-node prog-inactive';
      }
    },
    navProg(i){
      this.progCounter = i;
      this.counter = i - 1;
    }
  },
  mounted(){
    this.screenSize = window.innerWidth;
    this.mobile = this.screenSize <= 500
      ? true
      : false;
  },
  watch: {
    'countryInput': function(newData, oldData){
      this.countryList = Util.matchCountry(newData);
    },
    'cityInput': function(newData, oldData){
      this.cities = Util.matchCity(this.countryName, newData);
    }, deep: true
  }
}

</script>

<style>

.ob-form {
  height: 600px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
  background-color: #e1e3df;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ob-header {
  width: 100%;
  height: 12%;
  background-color: rgb(0, 153, 191);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ob-header img {
  height: 50%;
  width: auto;
  margin-right: 5%;
}

.ob-progress {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ob-node {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ob-node h5 {
  color: #404040;
}

.ob-active-node h5 {
  color: rgb(0, 153, 191);
}

.ob-node-bulb {
  width: 30px;
  height: 30px;
  border: 2px dashed #767584;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
}

.ob-active-node .ob-node-bulb {
  width: 45px;
  height: 45px;
  background-color: rgb(0, 153, 191);
  border: none;
}

.ob-finished-node .ob-node-bulb {
  height: 20px;
  width: 20px;
  border-radius: 0%;
  border: 2px solid #767584;
}

.ob-finished-node h5 {
  color: #767584;
}

.ob-content {
  height: 60%;
  margin-top: 12%;
}

.ob-input {
  width: 100%;
  font-size: 1.4em;
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #767584;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
}

label {
  color: #767584;
  margin-top: 8px;
  margin-bottom: 2%;
}

.ob-sidebyside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-ob-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini-ob-input {
  width: 100%;
  font-size: 1.4em;
  color: black;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #767584;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  text-align: center;
}

.ob-selector-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  flex-wrap: wrap;
}

.ob-selector {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #767584;
  border: 1px solid #767584;
  list-style: none;
  padding: 4px;
  background-color: #487193;
  color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  margin: 3px;
}

::placeholder {
  color: lightgray;
}

.ob-btns {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1%;
}

.ob-btn {
  /* width: 8%;
  height: 100%; */
  width: 50px;
  height: 50px;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: rotateY(180deg);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.ob-btn h2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6f2f1;
}

.ob-btn img {
  height: 60%;
  width: 60%;
}

/* .onboard-form {
  width: 100%;
  height: 100%;
  background-color: rgba(53, 143, 240, 0.12);
  border: 1px solid #35b7f0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboard-web {
  width: 50%;
  height: 95%;
}

#building-onboard-header {
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* background-image: url('https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tiltBldg.jpg'); */
/* }

.country-list {
  height: 300px;
  width: 82%;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.country {
  width: 100%;
  font-size: 1.3em;
  line-break: auto;
  text-align: left;
  margin-top: 10px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.dark-overlay-onboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.onboard-btns {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

</style>
