<template>

  <form :class="assessWidth()" id="#room-onboard-form">
    <header class="onboard-header" id="room-onboard-header">
      <div class="onboard-progress" style="width:100%;">
        <div v-for="(node, index) in progNodes" :class="nodeClass(index)">
          <div class="prog-content" @click="navProg(index)">
            <div class="prog-ball"></div>
            <small>{{node}}</small>
          </div>
          <div class="prog-bar"></div>
        </div>
      </div>
    </header>
    <section class="onboard-input-panel" v-if="counter === 0">
      <input class="onboard-input" v-model="floorName" name="floor-name"/>
      <label for="floor-name">What would you like to name this floor?</label>
      <a class="onboard-multi-btn multi-room" @click="progress()">Next</a>
    </section>
    <section class="onboard-input-panel" v-if="counter === 1">
      <input class="onboard-input" v-model="roomName" name="floor-name"/>
      <label for="floor-name">What would you like to call your new room?</label>
      <input class="onboard-input" v-model="did" name="did"/>
      <label for="did">Please input the AirPulse id</label>
      <a class="onboard-multi-btn multi-room" v-if="hasProp('roomName')" @click="progress()">Next</a>
    </section>
    <section class="onboard-input-panel" v-if="counter === 2 && !eTypes">
      <a class="onboard-multi-btn" name="equip-types" @click="showEquipTypes()">{{equipType}}</a>
      <label for="equip-types">Choose the equipment type to be monitored</label>
    </section>

    <section class="onboard-input-panel country-list" v-if="eTypes">
      <li v-if="!citySet" class="country" v-for="type in types" @click="setType(type.name.toLowerCase())">{{type.sub}}</li>
    </section>

    <section class="onboard-input-panel" v-if="counter === 3">
      <input class="onboard-input" v-model="manufacturer" name="manufacturer"/>
      <label for="manufacturer">Equip. manufacturer (optional)</label>
      <input class="onboard-input" v-model="model" name="model"/>
      <label for="model">Equip. model number (optional)</label>
      <a class="onboard-multi-btn multi-room" @click="progress()">Next</a>
    </section>

    <section class="onboard-input-panel" v-if="counter === 4 && !fTypes">
      <input class="onboard-input" v-model="brand" name="brand"/>
      <label for="brand">Filter brand (optional)</label>
      <input class="onboard-input" v-model="fModel" name="f-model"/>
      <label for="f-model">Filter model (optional)</label>
      <a class="onboard-multi-btn" name="equip-types" @click="showFilterTypes()">{{filterType}}</a>
    </section>

    <section class="onboard-input-panel country-list" v-if="fTypes">
      <li v-if="!citySet" class="country" v-for="f in filterTypes" @click="setFilter(f.toLowerCase())">{{f}}</li>
    </section>

    <section class="onboard-input-panel" v-if="counter === 5">
      <input class="onboard-input" v-model="fLength" name="length"/>
      <label for="length">Filter length (in)</label>
      <input class="onboard-input" v-model="width" name="width"/>
      <label for="widthl">Filter width (in)</label>
      <input class="onboard-input" v-model="depth" name="depth"/>
      <label for="depth">Filter depth (in)</label>
      <a class="onboard-multi-btn multi-room" v-if="hasProp('size')" @click="progress()">Next</a>
    </section>

    <section class="onboard-input-panel" style="height:auto;overflow-y:scroll;justify-content:flex-start;width:50%;" v-if="counter === 6">
      <div class="summary-panel">
        <h4 style="color:rgb(0,153,191);">Room/Floor</h4>
        <div class="room-deets">
          <h5>Floor: {{floorName}}</h5>
          <h5>Room: {{roomName}}</h5>
          <h5>Device: {{did}}</h5>
        </div>
      </div>
      <div class="summary-panel">
        <h4 style="color:rgb(0,153,191);">Equipment</h4>
        <div class="room-deets">
          <h5>Manufacturer: {{manufacturer || 'not specified'}}</h5>
          <h5>Model: {{model || 'not specified'}}</h5>
          <h5>Brand: {{brand || 'not specified'}}</h5>
        </div>
      </div>
      <div class="summary-panel">
        <h4 style="color:rgb(0,153,191);">Filter</h4>
        <div class="room-deets">
          <h5>Brand: {{brand || 'not specified'}}</h5>
          <h5>Model: {{fModel || 'not specified'}}</h5>
          <h5>Type: {{filterType}}</h5>
          <h5>Size: <span style="font-size:0.8em;">{{fLength}} x {{width}} x {{depth}} in</span></h5>
        </div>
      </div>
      <a class="onboard-multi-btn multi-room" style="height:30px;" @click="submitNewRoom()">Submit</a>
    </section>
    <div class="onboard-btns">
      <a style="width:120px;height:50px" class="back-btn" @click="goBack()">Cancel</a>
    </div>
  </form>

</template>

<script>

import Rest from '@/src/rest';

  export default {
    data(){
      return {
        newRoomTitle: '',
        counter: 0,
        showTypes: false,
        fName: '',
        roomName: '',
        did: '',
        eTypes: false,
        equipType: 'Type',
        types: [
          {
            name: 'FCU',
            sub: 'Fan Coil Unit'
          },
          {
            name: 'AHU',
            sub: 'Air Handling Unit'
          },
          {
            name: 'VAV',
            sub: 'Variable Air Volume Unit'
          },
          {
            name: 'VRF',
            sub: 'Variable Refrigerant Flow'
          },
          {
            name: 'PTAC',
            sub: 'PTAC'
          },
          {
            name: 'VTAC',
            sub: 'Vertical Terminal Air Con'
          },
          {
            name: 'SPLIT',
            sub: 'Mini-split HVAC Unit'
          },
          {
            name: 'OTHER',
            sub: 'Other configuration'
          },
        ],
        manufacturer: '',
        model: '',
        brand: '',
        fModel: '',
        filterType: 'Type',
        fTypes: false,
        filterTypes: ['HEPA', 'PANEL', 'PLEATED', 'MEDIA PAD', 'MEDIA ROLL', 'PAINT BOOTH', 'BOX', 'BAG'],
        fLength: '',
        width: '',
        depth: '',
        progNodes: [
          'General',
          'Equip. type',
          'Equip. info',
          'Filter info',
          'Filter size',
          'Summary'
        ],
        progCounter: 0
      }
    },
    props: ['newFloor', 'floorIndex', 'floorName', 'tkn', 'bId', 'devices'],
    methods: {
      progress(){
        this.counter ++;
        this.progCounter ++;
      },
      hasProp(p){
        // will need additional normalization
        const self = this;
        if (p === 'roomName') {
          if (this.roomName.length > 0 && this.did.length > 6 && !isNaN(this.did)) {
            return true;
          } else {
            return false;
          }
        }
        if (p === 'size') {
          if (['fLength', 'width', 'depth'].every(properInput)) {
            return true;
          } else {
            return false;
          }
        }
        function properInput(p){
          return self[p].length > 0 && !isNaN(self[p]);
        }
      },
      title(){
        return [
          'Adding a new room...',
          'Device info',
          'Equipment info',
          'Equipment info',
          'Filter details',
          'Filter details'
        ][this.counter];
      },
      showEquipTypes(){
        this.eTypes = this.eTypes === true
          ? false
          : true;
      },
      setType(t){
        this.equipType = t;
        this.showEquipTypes();
        this.progress();
      },
      showFilterTypes(){
        this.fTypes = this.fTypes === true
          ? false
          : true;
      },
      setFilter(f){
        this.filterType = f;
        this.showFilterTypes();
        this.progress();
      },
      submitNewRoom(){
        let body = {
          ac: true,
          aq: true,
          hvacName: this.roomName,
          configuration: 'IN_UNIT',
          altConfig: this.equipType,
          size: 'S_10x24x1',
          altSize: `${this.fLength}x${this.width}x${this.depth}`,
          floorIndex: this.floorIndex,
          device: parseInt(this.did),
          manufacturer: this.manufacturer ? this.manufacturer : ' ',
          modelNumber: this.model ? this.model : ' ',
          fBrand: this.brand ? this.brand : ' ',
          fModel: this.fModel ? this.fModel : ' ',
          fType: this.filterType,
          hardwareVersion: '0.0.4',
          buildingId: this.bId
        }
        Rest.postNewRoom(body, this.tkn)
          .then(res => {
            alert('Onboarding successful! You should see the new room the next time you log in.');
            this.$emit('finOnboard', true);
          }, err => {
            console.log(err)
            alert('There was an error adding the room. Please review the room details and try submitting again.');
          });
      },
      goBack(){
        this.$emit('finOnboard');
      },
      assessWidth(){
        if (this.mobile) {
          return 'onboard-form'
        } else {
          return 'onboard-form onboard-web'
        }
      },
      nodeClass(i){
        if (this.progCounter === i) {
          return 'prog-node prog-active room-progress';
        } else if (this.progCounter > i) {
          return 'prog-node prog-past  room-progress';
        } else {
          return 'prog-node prog-inactive  room-progress';
        }
      },
      navProg(i){
        ['showTypes', 'fTypes', 'eTypes'].forEach(p => {
          this[p] = false;
        })
        if (i < this.progCounter) {
          this.progCounter = i;
          this.counter = i + 1;
        }
      }
    },
    mounted() {
      this.screenSize = window.innerWidth;
      this.mobile = this.screenSize <= 500
        ? true
        : false;
      if (this.newFloor === true) {
        this.counter = 0;
        this.progCounter = -1;
      } else {
        this.counter = 1;
        this.progCounter = 0;
      }
    }
  }

</script>

<style>

.onboard-form {
  width: 100%;
  height: 100%;
  background-color: rgba(53, 143, 240, 0.12);
  border: 1px solid #35b7f0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onboard-web {
  width: 50%;
  height: 100%;
}

.country-list {
  height: 300px;
  width: 82%;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.country {
  width: 100%;
  font-size: 1.3em;
  line-break: auto;
  text-align: left;
  margin-top: 10px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.multi-room {
  margin-top: 30px;
}

.summary-panel {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
  align-items: center; */
  border-bottom: 1px solid #35b7f0;
}

.room-deets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.room-deets h5 {
  margin: 2px;
}

.room-progress {
  width: 16%;
}

</style>
