<template>
  <div id="app">

    <header-component v-if="visibleHeader" style="height:7vh;" :headerState="headerState" v-on:logout="logout()"></header-component>
    <nav-component v-if="visibleHeader" :navState="navState"></nav-component>

    <router-view v-on:headerData="initHeader($event)" v-on:floorHeader="initHeader($event)"/>
  </div>
</template>

<script>

import Nav from './components/util/Nav';
import Header from './components/util/Header';

export default {
  name: 'App',
  data(){
    return {

      navState: {},
      headerState: {},
      visibleHeader: true,

      showHeader: false,
      header: {},
      admin: {},
      org: {},
      showNav: false,
      headerType: '',
      headerName: '',
      monitored: -1,
      total: -1,
      crit: -1,
      warn: -1,
      headerImg: '',
      floorNav: false,
      roomNav: false,
      bldg: {},
      floor: {}
    }
  },
  components: {
    'nav-component': Nav,
    'header-component': Header
  },
  methods: {
    initHeader(event){
      if (event.type === 'org') {
        this.navState = {
          team: {},
          bldgs: {name: event.name, data: event.bldgs},
          floors: {},
          rooms: {}
        };
      };
      if (event.type === 'bldg') {
        this.navState = {
          team: {},
          bldgs: this.navState.bldgs,
          floors: {name: event.name, data: event.bldg},
          rooms: {}
        }
      };
      if (event.type === 'floor') {
        this.navState = {
          team: {},
          bldgs: this.navState.bldgs,
          floors: this.navState.floors,
          rooms: {name: event.name, data: event}
        }
      };
      this.headerState = {
        type: event.type,
        name: event.name,
        lgText: event.lgText,
        subText: event.subText,
        crit: event.crit,
        bad: event.bad
      };
      this.navState.tkn = this.$route.params.tkn;
    },

    returnUrl() {
      switch (this.header.type) {
        case 'bldg':
          return require('@/assets/company.png');
        break;
        case 'org':
          return require('@/assets/enterprise.png');
        break;
        case 'floor':
          return require('@/assets/tilesWhite.png');
        break;
      }
    },

    assessScreenSize(){

    },
    goOrg(){
      this.floorNav = false;
      this.roomNav = false;
      this.bldg = {};
      this.floor = {};
      this.$router.push({
        name: 'Org',
        params: {tkn: this.tkn, header: false}
      });
    },
    navBldg(){
      let self = this;
      this.$router.push({name: 'Loading'});
      setTimeout(function(){
        self.goBldg();
      });
    },
    goBldg(){
      this.initHeader({
        type: 'bldg',
        name: this.bldg.name,
        lgText: this.bldg.floors.filter(f => f.rooms).length,
        subText: `of ${this.bldg.floors.length} Floors monitored`,
        crit: this.bldg.alerts.crit,
        bad: this.bldg.alerts.bad,
        bldg: this.bldg
      });
      this.roomNav = false;
      this.floorNav = true;
      this.$router.push({
        name: 'Building',
        params: {
          bldg: this.bldg,
          tkn: this.tkn
        }
      });
    },
    navFloor(){
      this.$router.push({
        name: 'Building',
        params: {
          bldg: this.bldg,
          tkn: this.tkn,
          floorFromApp: this.floor
        }
      });
    },
    logout(){
      localStorage.removeItem('breeziTkn');
      localStorage.removeItem('lastBreeziBldg');
      this.visibleHeader = false;
      this.$router.push({name: 'Login'});
    }
  },
  mounted(){
    this.tkn = this.$route.params.tkn;
  }
}
</script>

<style>

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151920;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Comfortaa', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #151920;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 191);
}

::-webkit-scrollbar-thumb:hover {
  background: #cdd7da;;
}

::placeholder {
  color: gray;
}

#app-header {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

#header-logo {
  height: 80%;
  position: absolute;
  left: 30px;
  top: 10px;
}

#header-center-bar {
  width: 40%;
  height: 100%;
  background-color: #2e3746;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-center-bar-mobile {
  width: 100%;
  height: 100%;
  background-color: #2e3746;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.center-center {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.center-center h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.center-center h5 {
  margin-left: 2px;
  width: 100px;
  text-align: left;
}

.center-alerts {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-alerts img {
  height: 70%;
  margin: 10px;
}

#util-cluster {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  position: absolute;
  right: 30px;
  top: 10px;
}

.util-panel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.util-panel img {
  height: 100%;
}

#app-nav {
  width: 150px;
  height: 500px;
  position: absolute;
  left: 0px;
  background-color: #12212c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.nav-node {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.nav-node-inactive {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#org-node {
  /* background-color: #12212c; */
}

.nav-node:hover {
  background-color: rgb(0, 153, 191);
}

.nav-node img {
  width: 20%;
}

.nav-node-inactive img {
  width: 20%;
}

.nav-node h4 {
  width: 70%;
  text-align: left;
  color: white;
  margin-top: 10px
}

.nav-node-inactive h4 {
  width: 70%;
  text-align: left;
  color: gray;
  margin-left: 20px;
}

.node-container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-node {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 1em;
  width: 25%;
  border-left: 1px solid #161325;
  cursor: pointer;
}

.header-node img {
  height: 50%;
  margin: 0;
}

#org-node {
  background-color: #67aea4;
}

#admin-node {
  background-color: #d7a24f;
}

#settings-node {
  background-color: #9b48d8;
}

#team-node {
  background-color: #d73f3c;
  border-right: 1px solid #161325;
}

main {
  margin-top: 6%;
  width: 95vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #242627; */
}

.status-bar {
  width: 100%;
  height: 5px;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  text-align: left;
}

.card-header h5 {
  margin: 0px;
}

.card-header h4 {
  margin: 0px;
}

.card-section {
  height: 29%;
  width: 90%;
  background-color: #1d202b;
  margin: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-section img {
  width: 20%;
}

.card-section-cluster {
  width: 75%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #525460;
  padding: 2px;
}

.card-section-panel {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-section-panel h2 h5 {
  margin: 0;
}

.card-section-spacer {
  height: 70%;
  width: 1.4px;
  background-color: #525460;
}

.latest-tms {
  position: absolute;
  bottom: 2px;
  left: 15px;
}

.temp-hum {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-hum-panel {
  height: 49%;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.horizontal-spacer {
  height: 1.4px;
  width: 70%;
  background-color: #525460;
}

.floor-outer {
  width: 85%;
  height: 410px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}



.btn-cluster {
  display: flex;
  width: 60%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inactive-btn {
  color: black;
  background-color: gray;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

.active-btn {
  color: white;
  background-color: rgb(0, 153, 191);
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.first-panel-btns {
  width: 60%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6%;
}

.back-btn {
  width: 40%;
  height: 100%;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back-btn:hover {
  color: rgb(0, 153, 191);
  background-color: white;
}


.config-span {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.config-panel {
  width: 24%;
  height: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  color: gray;
  margin-top: 12px;
  cursor: pointer;
  margin: 2px;
}

.config-panel h3 {
  margin: 0;
}

.config-panel:hover {
  background-color: white;
  color: rgb(0, 153, 191);
}

.active-config-panel {
  background-color: white;
  color: rgb(0, 153, 191);
}

.field-set {
  width: 95%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.room-input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #35b7f0;
  height: 20px;
  color: white;
  font-size: 1.5em;
}

.room-label {
  margin-top: 10px;
  color: #35b7f0;
}

.room-next-btn {
  border: 1px solid #35b7f0;
  padding-left: 10px;
  padding-right: 10px;
  color: #35b7f0;
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  bottom: 30px;
}

.room-next-btn:hover {
  color: #2e2f2f;
  background-color: #35b7f0;
}

</style>
