<template>
  <div id="building-outer">
    <div v-for="(floor, index) in bldg.floors" class="floor-panel">
      <h4 v-if="floor.name !== 'Ground' ">{{floor.name ? floor.name : `Floor ${floor.index}`}}</h4>
      <h4 v-if="floor.name === 'Ground'" style="color:rgb(0,153,191);">{{floor.name ? floor.name : `Floor ${floor.index}`}}</h4>
      <div v-if="addRoom !== floor.index && floorBody !== floor.index && floorBubble !== floor.index" :class="inOrActive(index, floor.name ? floor.name : '')" @click="newOrExisting(floor)"></div>
      <img v-if="floor.rooms && floor.index !== 0 && addRoom !== floor.index && floorBody !== floor.index && floorBubble !== floor.index" src="@/assets/expand.png" @click="newOrExisting(floor)"/>
      <img v-if="!floor.rooms && floor.index !== 0 && addRoom !== floor.index && floorBody !== floor.index && floorBubble !== floor.index" src="@/assets/plus.png" @click="newOrExisting(floor)"/>
      <div class="floor-spacer" v-if="floor.name === 'Ground'"></div>
      <add-room-component v-if="addRoom === floor.index" :tkn="tkn" :floor="floorData" v-on:fromAddRoom="reload($event)"></add-room-component>
      <floor-component v-if="floorBody === floor.index" :tkn="tkn" :floor="floor" :bName="bldg.name" v-on:fromFloor="initNewRoom($event)"></floor-component>
      <bubble-component v-if="floorBubble === floor.index" :floor="floor" v-on:showCards($event)></bubble-component>
      <img class="card-icon" style="width:40px;height:40px;padding-left:10px;padding-right:10px;padding-top:4px;padding-bottom:4px;" v-if="floorBubble === floor.index" src='@/assets/card.png' @click="initCard(floor)"/>
      <img class="card-icon" style="width:40px;height:40px;top:23%;" v-if="floorBody === floor.index" src='@/assets/bubbles.png' @click="initBubble(floor)"/>
    </div>
  </div>
</template>

<script>

import axios from 'axios';
import AddRoom from '@/components/onboard/Room';
import Floor from '@/components/monitor/Floor';
import Bubble from '@/components/monitor/FloorBubbles';

export default {
  data(){
    return {
      bldg: {},
      addRoom: null,
      floorData: {},
      floorBody: null,
      floorBubble: null
    }
  },
  components: {
    'add-room-component': AddRoom,
    'floor-component': Floor,
    'bubble-component': Bubble
  },
  methods: {
    addGround(){
      if (this.bldg.floors.find(f => f.name === 'Ground') === undefined) {
        this.bldg.floors.push({
          index: 0,
          name: 'Ground'
        });
      }
      this.bldg.floors = this.bldg.floors.sort((a, b) => {return b.index - a.index});
    },
    newOrExisting(floor){
      if (floor.rooms && floor.rooms.length > 0) {
        this.initBubble(floor);
        // this.expandFloor(floor);
      } else {
        this.initNewRoom(floor);
      }
    },
    initBubble(floor){
      this.floorBody = null;
      this.addRoom = null;
      this.floorBubble = floor.index;
    },
    initCard(floor){
      this.expandFloor(floor);
    },
    inOrActive(i, n){
      if (n === 'Ground') {
        return 'floor ground-floor'
      } else {
        if(this.bldg.floors[i].rooms) {
          if (this.bldg.floors[i].alerts.crit > 0) {
            return 'floor active-floor-red';
          } else if (this.bldg.floors[i].alerts.bad > 0) {
            return 'floor active-floor-yellow';
          } else {
            return 'floor active-floor-green';
          }
        } else {
          return 'floor inactive-floor';
        }
      }
    },
    initNewRoom(floor){
      this.floorData = {
        index: floor.index,
        bId: this.bldg.id,
        newFloor: !floor.rooms ? true : false,
        name: floor.name ? floor.name : `Floor ${floor.index}`,
      }
      this.floorBody = null;
      this.floorBubble = null;
      this.addRoom = floor.index;

    },
    expandFloor(floor){
      this.addRoom = null;
      this.floorBubble = null;
      this.floorBody = floor.index;
    },
    reload(event) {
      if (!event || !event.bId) {
        this.addRoom = null;
        this.floorBubble = null;
      } else {
        let headers = {Authorization: event.tkn}
        axios.get(`https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle/${event.bId}`,
                  {headers: {Authorization: event.tkn, 'Content-Type': 'application/json'}})
                  .then(bundle => {
                    bundle = bundle.data;
                    this.bldg = bundle;
                  });
      }
    }
  },
  mounted(){
    this.bldg = this.$route.params.bldg;
    this.tkn = this.$route.params.tkn;
    localStorage.setItem('lastBreeziBldg', this.bldg);
    this.addGround();
  }
}

</script>

<style>

#building-outer {
  width: 70%;
  height: 70%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.floor-panel {
  margin: 10px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.floor {
  width: 80%;
  height: 7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.floor:hover {
  background-color: #d9ded2;
}

.inactive-floor {
  background-color: #3c3c3c;;
}

.ground-floor {
  background-color: rgb(0, 153, 191);
  height: 2.5px;
}

.active-floor-green {
  background-color: #4ba34f;
}

.active-floor-red {
  background-color: #fc0005;
}

.active-floor-yellow {
  background-color: #ffff08;
}

.floor-panel h4 {
  color: white;
  margin-right: 20px;
  text-align: right;
  width: 9%;
}

.floor-panel img {
  height: 20px;
  width: auto;
  margin-left: 10px;
  cursor: pointer;
}

.floor-spacer {
  width: 30px;
}

.card-icon {
  width: 80px;
  position: absolute;
  right: 20px;
  top: 20%;
  border: 2px solid white;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

</style>
