<template>
  <div style="background-color:#25303e;height:700px;overflow:hidden;"class="floor-outer">
    <div class="icon-header-room">
      <div :class="isActive('days')" @click="changeRdg('days')">
        <img src="@/assets/filterOfficial.png" />
      </div>
      <div :class="isActive('ttp')" @click="changeRdg('ttp')">
        <img src="@/assets/temp.png" />
      </div>
      <div :class="isActive('hhm')" @click="changeRdg('hhm')">
        <img src="@/assets/hum.png" />
      </div>
      <div :class="isActive('iaq')" @click="changeRdg('iaq')">
        <img src="@/assets/tvoc.png" />
      </div>
      <div :class="isActive('co2')" @click="changeRdg('co2')">
        <img src="@/assets/eCO2Text.png" />
      </div>
    </div>
    <div id="bub-chart-rooms"></div>
    <img src="@/assets/card.png" class="card-toggle" @click="toggleCard()" />
  </div>
</template>

<script>

  import VueHighcharts from 'vue-highcharts';
  import More from 'highcharts/highcharts-more';
  import Highcharts from 'highcharts';
  More(Highcharts);
  const Sup = require('@/lib/supplement');

  export default {
    data(){
      return {
        bubbleSeries: {days: [], ttp: [], hhm: [], iaq: [], co2: []},
        rdgs: '',
        activeIcon: 'days'
      }
    },
    props: ['floor'],
    methods: {
      isActive(x){
        if (this.activeIcon === x) {
          return 'icon-header-panel-room room-active';
        } else {
          return 'icon-header-panel-room';
        }
      },
      changeRdg(x){
        this.activeIcon = x;
        this.popRoomBub(x);
      },
      setSeries(){
        this.floor.rooms.map(r => {
          for (let prop in r.avg) {
            let term;
            switch (prop) {
              case 'days':
                term = 'd';
              break;
              case 'ttp':
                term = '˚C'
              break;
              case 'hhm':
                term = '%'
              break;
              case 'iaq':
                term = ''
              break;
              case 'co2':
                term = 'PPM';
              break
            }
            this.bubbleSeries[prop].push({name: r.name, data: [{name: r.name, value: r.avg[prop], term: term}]})
          }
        });
      },
      toggleCard(){

      },
      popRoomBub(val){
        var bubChart = {
          chart: {
            type: 'packedbubble',
            height: '50%',
            backgroundColor: 'none',
          },
          title: 'Buildings',
          tooltip: {
            useHTML: true,
            pointFormat: '<b>{point.name}:</b> {point.value} {point.term}'
          },
          legend: false,
          plotOptions: {
              packedbubble: {
                  minSize: '40%',
                  maxSize: '80%',
                  zMin: 0,
                  zMax: 600,
                  layoutAlgorithm: {
                      splitSeries: false,
                      friction: 0.2,
                      gravitationalConstant: 0.11,
                      bubblePadding: 15
                  },
                  dataLabels: {
                    useHTML: true,
                    enabled: true,
                    format: `<span style="font-size:1.6em;">{point.value} {point.term}</span><br />{point.name}`,
                    align: 'center',
                    style: {
                        color: 'lightblue',
                        textOutline: 'black',
                        fontWeight: 'normal',
                        fontSize: '10px'

                    }
                }
              }
          },
          credits: false,
          series: this.bubbleSeries[val]
        }
        this.target = Highcharts.chart('bub-chart-rooms', bubChart);
      }
  },
  mounted(){
    this.setSeries('days');
    this.popRoomBub('days')
  }
}
</script>

<style>

#bub-chart-rooms {
  width: 100%;
  height: 90%;
}

.icon-header-room {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-header-panel-room {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #3d4859;
  background-color: #3d4859;
  padding-top: 10px;
  cursor: pointer;
}

.icon-header-panel-room:hover {
  background-color: rgb(0, 153, 191);
}

.icon-header-panel-room img {
  height: 60%;
}

.room-active {
  background-color: #25303e;
  border-bottom: #25303e;
}


</style>
