<template>
  <div id="app">
    <header id="app-header" v-if="header">
      <img id="header-logo" src="@/assets/breezi_pro.png" />
      <div id="header-center-bar" v-if="headerType === 'building'">
        <div class="center-img-cluster">
          <img src="@/assets/company.png" />
          <h5>{{headerName}}</h5>
        </div>
        <div class="center-center">
          <h1>{{monitored}}</h1>
          <h4>Floors<br />of {{total}} monitored</h4>
        </div>
        <div class="center-alerts">
          <h3 style="color:#fc0005;">{{crit}}</h3>
          <img src="@/assets/alert.png" />
          <h3 style="color:#ffff08;">{{warn}}</h3>
        </div>
      </div>
      <div id="util-cluster">
        <div class="util-panel">
          <img src="@/assets/settingsicon.png" />
        </div>
        <div class="util-panel">
          <img src="@/assets/gear.png" />
        </div>
        <div class="util-panel">
          <img src="@/assets/avatar.png" />
        </div>
      </div>
    </header>
    <nav id="app-nav" v-if="showNav">
      <div class="nav-node" @click="goOrg()">
        <img src="@/assets/enterprise.png" />
        <h4>Buildings</h4>
      </div>
      <div class="nav-node-inactive">
        <img src="@/assets/tiles.png" />
        <h4>Floors</h4>
      </div>
      <div class="nav-node-inactive">
        <img src="@/assets/door.png" />
        <h4>Rooms</h4>
      </div>
      <div class="nav-node-inactive">
        <img src="@/assets/network.png" />
        <h4>Team</h4>
      </div>
    </nav>
    <router-view v-on:headerData="initHeader($event)"/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      header: false,
      admin: {},
      org: {},
      showNav: false,
      headerType: '',
      headerName: '',
      monitored: -1,
      total: -1,
      crit: -1,
      warn: -1
    }
  },
  methods: {
    initHeader(event){
      try {
        this.header = true;
        this.showNav = window.innerWidth > 1000 ? true : false;
        this.headerType = event.type;
        this.headerName = event.name;
        this.monitored = event.floors.monitored;
        this.total = event.floors.total;
        this.crit = event.alerts.crit;
        this.warn = event.alerts.bad;
      } catch(err) {

      }
    },
    assessScreenSize(){

    },
    goOrg(){
      this.$router.push({
        name: 'Org',
        params: {tkn: this.tkn, header: false}
      });
    },
    goBldg(){
      this.$router.push({
        name: 'Building',
        params: this.tkn
      })
    }
  },
  mounted(){
    this.tkn = this.$route.params.tkn;
  },
  // watch: {
  //   'headerType': (newData, oldData) => {
  //     if (newData) {
  //       this.headerType = newData;
  //       this.showHeader = true;
  //     }
  //   }
  // }
}
</script>

<style>

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151920;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Comfortaa', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #151920;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 153, 191);
}

::-webkit-scrollbar-thumb:hover {
  background: #cdd7da;;
}

::placeholder {
  color: gray;
}

#app-header {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  padding-left: 2em;
}

#header-logo {
  height: 80%;
}

#header-center-bar {
  width: 40%;
  height: 100%;
  background-color: #2e3746;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.center-img-cluster {
  width: 30%;
  height: 100%;
  color: white;
}
.center-img-cluster h5 {
  margin: 0px;
}

.center-img-cluster img {
  height: 70%;
}

.center-center {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.center-center h1 {
  font-size: 3em;
}

.center-center h4 {
  margin-left: 10px;
}

.center-alerts {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-alerts img {
  height: 70%;
  margin: 10px;
}

#util-cluster {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.util-panel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.util-panel img {
  height: 100%;
}

#app-nav {
  width: 150px;
  height: 500px;
  position: absolute;
  left: 0px;
  background-color: #12212c;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.nav-node {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.nav-node-inactive {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#org-node {
  /* background-color: #12212c; */
}

.nav-node:hover {
  background-color: rgb(0, 153, 191);
}

.nav-node img {
  width: 20%;
}

.nav-node-inactive img {
  width: 20%;
}

.nav-node h4 {
  width: 70%;
  text-align: left;
  color: white;
  margin-top: 10px
}

.nav-node-inactive h4 {
  width: 70%;
  text-align: left;
  color: gray;
  margin-left: 20px;
}

.node-container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-node {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 1em;
  width: 25%;
  border-left: 1px solid #161325;
  cursor: pointer;
}

.header-node img {
  height: 50%;
  margin: 0;
}

#org-node {
  background-color: #67aea4;
}

#admin-node {
  background-color: #d7a24f;
}

#settings-node {
  background-color: #9b48d8;
}

#team-node {
  background-color: #d73f3c;
  border-right: 1px solid #161325;
}

main {
  margin-top: 6%;
  width: 95vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #242627; */
}

.status-bar {
  width: 100%;
  height: 5px;
}

.card-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  text-align: left;
}

.card-header h5 {
  margin: 0px;
}

.card-header h4 {
  margin: 0px;
}

.card-section {
  height: 29%;
  width: 90%;
  background-color: #1d202b;
  margin: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-section img {
  width: 20%;
}

.card-section-cluster {
  width: 75%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #525460;
  padding: 2px;
}

.card-section-panel {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-section-panel h2 h5 {
  margin: 0;
}

.card-section-spacer {
  height: 70%;
  width: 1.4px;
  background-color: #525460;
}

.latest-tms {
  position: absolute;
  bottom: 2px;
  left: 15px;
}

.temp-hum {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-hum-panel {
  height: 49%;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.horizontal-spacer {
  height: 1.4px;
  width: 70%;
  background-color: #525460;
}

.floor-outer {
  width: 85%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

</style>
