<template>
  <form id="login-outer">
    <h3 :style="{'color':loginColor}">{{loginMsg}}</h3>
    <input v-if="!changePw" class="signup-input" id="login-email" v-model="loginEmail" placeholder="email" />
    <input v-if="!changePw" class="signup-input" id="login-password" type="password" v-model="loginPassword" placeholder="password" />
    <input v-if="changePw" class="signup-input" id="change-password" type="password" v-model="newPw" placeholder="new password" />
    <input v-if="changePw" class="signup-input" id="confirm-password" type="password" v-model="confirmPw" placeholder="confirm password" />
    <div class="btn-group" id="login-btns">
      <a v-if="!changePw" class="signup-btn btn btn-primary" id="login-submit" @click="initLogin()">Submit</a>
      <a v-if="changePw" class="signup-btn btn btn-info" id="login-change" @click="initChangePw()">Submit</a>
      <a class="signup-btn btn btn-warning" id="login-back" @click="goBack()">Back</a>
    </div>
  </form>
</template>

<script>

import Cognito from '../../lib/cognito.js';

export default {
  data(){
    return {
      loginMsg: 'Welcome back',
      loginColor: '#20bf55',
      loginEmail: '',
      loginPassword: '',
      changePw: '',
      newPw: '',
      confirmPw: ''
    }
  },
  methods: {
    initLogin(){
      if (this.loginEmail === '' || this.loginPassword === '') {
        alert('Please input both your registered email and password');
        this.loginEmail = '';
        this.loginPassword = '';
      } else {
        Cognito.login(this.loginEmail, this.loginPassword)
          .then(tkn => {
            this.emitToken(tkn);
          }, tknErr => {
            if (tknErr === 'change password') {
              this.loginMsg = 'You must change your password';
              this.loginColor = 'orange';
              this.changePw = true;
            } else {
              this.loginMsg = 'Credentials invalid. Please try again';
              this.loginColor = '#d00000';
              this.login;
            }
          });
      }
    },
    initChangePw(){

      if (!this.newPw || !this.confirmPw) {
        alert('New password and confirmed password must be included');
        this.newPw = '';
        this.confirmPw = '';
      }

      if (this.newPw !== this.confirmPw) {
        alert('Passwords must match');
        this.newPw = '';
        this.confirmPw = '';
      }

      Cognito.login(this.loginEmail, this.loginPassword, this.newPw)
        .then(tkn => {
          this.emitToken(tkn);
        }, newPwErr => {
          this.loginMsg = 'Credentials invalid. Please try again';
          this.loginColor = '#d00000';
          this.login;
        });
    },
    emitToken(tkn){
      this.$emit('fromLogin', {
        success: true,
        tkn: tkn
      });
    },
    goBack(){
      this.$emit('fromLogin', {
        success: false
      });
    }
  }
}

</script>

<style>

#login-outer {
  width: 80vw;
  max-width: 600px;
  height: 60vh;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  border-top: 20px solid #084c61;
  border-bottom: 20px solid #084c61;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  background-color: #464f51;
}

#login-btns {
  width: 70%;
}

</style>
