<template>
  <form id="signup-outer">
    <div id="signup-org">
      <h3 style="color:#20bf55;">Company information</h3>
      <input class="signup-input" id="name" v-model="orgName" placeholder="name" />
      <input class="signup-input" id="street" v-model="street" placeholder="street address line 1" />
      <input class="signup-input" id="street-extended" v-model="streetExtended" placeholder="streeet address line 2" />
      <input class="signup-input" id="city" v-model="city" placeholder="city" />
      <input class="signup-input" id="state" v-model="state" placeholder="state/province/territory/region" />
      <input class="signup-input" id="zip-code" v-model="zipCode" placeholder="postal code" />
      <input class="signup-input" id="country" v-model="country" placeholder="country" />
    </div>
    <div id="signup-user">
      <h3 style="color:#20bf55;">User information</h3>
      <input class="signup-input" id="email" v-model="email" placeholder="email" />
      <input class="signup-input" id="first-name" v-model="firstName" placeholder="first name" />
      <input class="signup-input" id="last-name" v-model="lastName" placeholder="last name" />
      <input class="signup-input" id="phone-no" v-model="phoneNo" placeholder="phone number w/ country code" />
      <div class="btn-cluster">
        <a class="signup-btn btn btn-primary" @click="submitSignup()">Submit</a>
        <a class="signup-btn btn btn-warning" @click="goBack()">Back</a>
      </div>
      <p style="width: 70%; margin-top: 4em;">
        * After you submit your information, a message will be sent to our system administrators, who will respond within 24 hours (usually much sooner) with a temporary password. Once you receive
        the temporary password, please return to the splash page and select "Login" to initialize a password change and log in for the first time. Welcome to Breezi Pro!
      </p>
    </div>
  </form>
</template>

<script>

import axios from 'axios'

export default {
  data(){
    return {
      orgName: '',
      street: '',
      streetExtended: '',
      city: '',
      state: '',
      zipCode: '',
      country: '',
      email: '',
      firstName: '',
      lastName: '',
      phoneNo: ''
    }
  },
  methods: {
    submitSignup(){
      let self = this;
      function hasProp(prop){
        return self[prop] !== '';
      }
      if (!['orgName', 'street', 'city', 'state', 'zipCode', 'country', 'email', 'firstName', 'lastName'].every(hasProp)) {
        ['orgName', 'street', 'streetExtended', 'city', 'state', 'zipCode', 'country', 'email', 'firstName', 'lastName', 'phoneNo'].map(p => {
          self[p] = '';
        alert('All fields must be filled to submit a request for access');
        })
      } else {
        axios.post('https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/requestAccess', JSON.stringify({
          user: {
            email: this.email,
            firstName: this.firstName,
            lastName: this.lastName,
            phoneNumber: this.phoneNo === '' ? ' ' : this.phoneNo
          },
          org: {
            name: this.orgName,
            street: this.street,
            streeetExtended: this.streetExtended === '' ? ' ' : this.streetExtended,
            city: this.city,
            state: this.state,
            zipCode: this.zipCode,
            country: this.country
          }
        }))
        .then(function (response) {
          this.$emit('fromRequest', {requested: true});
        })
        .catch(function (error) {

          console.log(error);
        });
      }
    },
    goBack(){
      this.$emit('fromRequest');
    }
  }
}

</script>

<style>

#signup-outer {
  width: 80vw;
  max-width: 900px;
  height: 60%;
  max-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  box-shadow: 2px 2px 2px (0, 0, 0, 0.8);
}

#signup-user {
  width: 50%;
  height: 100%;
  background-color: #084c61;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#signup-org {
  width: 50%;
  height: 100%;
  background-color: #464f51;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn-cluster {
  display: flex;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

</style>
