<template>
  <header :class="headerVisible()">
    <img class="logo" src="@/assets/breezi_pro.png" />
    <div class="header-center">
      <div class="center-img-cluster">
        <img class="center-img" :src="parseImg()"/>
        <h5>{{headerState.name}}</h5>
      </div>
      <div class="center-text-panel">
        <h1 style="font-size:4.2em;">{{headerState.lgText}}</h1>
        <div class="small-text">
          <h5>{{subTextOne}}</h5>
          <h5 v-if="subTextTwo !== ''">{{subTextTwo}}</h5>
        </div>
      </div>
      <div class="center-alerts-panel">
        <h3 style="color:red;">{{headerState.crit}}</h3>
        <img class="alert-img" src="@/assets/alert.png" />
        <h3 style="color:yellow;">{{headerState.bad}}</h3>
      </div>
    </div>
    <!-- <img :src="parseImg()" /> -->
    <div v-if="headerVisible() === 'header-outer'" id="util-cluster">
      <div class="util-panel">
        <img src="@/assets/settingsicon.png" />
      </div>
      <div class="util-panel">
        <img src="@/assets/profile.png" />
      </div>
      <div class="util-panel" @click="emitLogout()">
        <img src="@/assets/logout.png" />
      </div>
    </div>
  </header>
</template>

<script>

export default {
  data(){
    return {
      subTextOne: '',
      subTextTwo: ''
    }
  },
  props: ['headerState'],
  methods: {
    parseImg(){
      let suffix = '';
      switch (this.headerState.type) {
        case 'org':
          suffix = 'enterprise';
        break;
        case 'bldg':
          suffix = 'company';
        break;
        case 'floor':
          suffix = 'tilesWhite'
        break;
      }
      return `https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/${suffix}.png`;
    },
    headerVisible(){
      return (this.headerState && this.headerState.name && this.headerState.name.length > 0)
        ? 'header-outer'
        : 'header-hide';
    },
    setSubText(){
      let sub = this.headerState.subText.split(' ');
      if (sub.length > 2) {
        this.subTextOne = sub.splice(0, 2).join(' ');
        this.subTextTwo = sub.join(' ');
      } else {
        this.subTextOne = sub.join(' ');
        this.subTextTwo = '';
      }
    },
    emitLogout(){
      this.$emit('logout');
    }
  },
  mounted(){
    this.setSubText();
  },
  watch: {
    'headerState': function(newData, oldData){
      this.setSubText();
    }
  }
}

</script>

<style>

.header-outer {
  width: 100vw;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-hide {
  width: 100%;
  height: 0px;
  display: none;
}

.logo {
  width: auto;
  height: 80%;
  position: absolute;
  left: 30px;
  top: 10px;
}

.header-center {
  width: 850px;
  max-width: 100%;
  height: 100px;
  background-color: #2e3746;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
}

.center-img-cluster {
  width: 30%;
  height: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-img-cluster h5 {
  margin: 2px;
}

.center-img-cluster img {
  height: 50px;
}

.center-text-panel {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.small-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.small-text h5 {
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: 1.2em;
}

.center-alerts-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}

.alert-img {
  height: 70%;
  margin-left: 5%;
  margin-right: 5%;
}

.util-panel img {
  cursor: pointer;
}

</style>
