<template>
  <aside :class="hasData()">
    <ul class="nav-items">
      <li class="nav-item" @click="navTeam()">
        <img class="nav-img" src="@/assets/network.png" />
        <h4 style="color:white;">Team</h4>
      </li>
      <li :class="activeInactive('bldgs', 'name')" @click="navOrg()">
        <img class="nav-img" src="@/assets/enterprise.png" />
        <h4 v-if="activeInactive('bldgs', 'name') === 'nav-item'" style="color:white;">Buildings</h4>
      </li>
      <li :class="activeInactive('floors', 'name')" @click="navBldg()">
        <img class="nav-img" src="@/assets/tiles.png" v-if="activeInactive('floors', 'name') !== 'nav-item'" />
        <img class="nav-img" src="@/assets/tilesWhite.png" v-if="activeInactive('floors', 'name') === 'nav-item'" />
        <h4 v-if="activeInactive('floors', 'name') === 'nav-item'" style="color:white;">Floors</h4>
      </li>
      <li :class="activeInactive('rooms', 'name')" @click="navFloor()">
        <img class="nav-img" src="@/assets/door.png" v-if="activeInactive('rooms', 'name') !== 'nav-item'" />
        <img class="nav-img" src="@/assets/doorWhite.png" v-if="activeInactive('rooms', 'name') === 'nav-item'" />
        <h4 v-if="activeInactive('rooms', 'name') === 'nav-item'" style="color:white;">Rooms</h4>
      </li>
    </ul>
  </aside>
</template>

<script>

export default {
  data(){
    return {

    }
  },
  props: ['navState'],
  methods: {

    activeInactive(obj, prop){
      return (this.navState[obj][prop])
        ? 'nav-item'
        : 'nav-item-inactive';
    },

    hasData(){
      return (this.navState && this.navState.bldgs && this.navState.bldgs.data.length > 0)
        ? 'nav-outer'
        : 'hide-nav';
    },
    navOrg(){
      if (this.navState.bldgs.name) {
        this.$router.push({name: 'Org', params: {tkn: this.$route.params.tkn}});
      }
    },
    navBldg(){
      let self = this;
      if (this.navState.floors.name) {
        this.$router.push({name: 'Loading'});
        setTimeout(function(){
          self.goBldg();
        })
      }
    },
    goBldg(){
      this.$router.push({
        name: 'Building',
        params: {
          bldg: this.navState.floors.data,
          tkn: this.tkn
        }
      });
    },
    navFloor(){
      let self = this;
      if (this.navState.rooms.name) {
        this.$router.push({name: 'Loading'});
        setTimeout(function(){
          self.goFloor();
        });
      }
    },
    goFloor(){
      this.$router.push({
        name: 'Building',
        params: {
          bldg: this.navState.floors.data,
          tkn: this.tkn,
          floorFromApp: this.navState.rooms.data.floor
        }
      });
    },
    navTeam(){
      this.$router.push({name: 'Team', params: {tkn: this.navState.tkn}});
    }
  },
  mounted(){

  },
  watch: {
    'navState': function(newData, oldData){
      this.navState = newData;

    }
  }
}

</script>

<style>

.nav-outer {
  position: fixed;
  height: 40vh;
  top: 30vh;
  left: 0;
  width: 150px;
  background-color: #12212c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide-nav {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 10%;
  cursor: pointer;
}

.nav-item:hover {
  background-color: rgb(0, 153, 191);
}

.nav-item-inactive {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 10%;
}

.nav-img {
  width: 20%;
  margin-right: 15%;
}

</style>
