<template>
  <div id="app">
    <header>
      <span style="font-size:0.9em;">Predictive Maintenance for Commercial HVAC</span>
    </header>
    <main>
      <img id="logo" src="./assets/breezi_pro.png" alt="Breezi pro">
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d9dde2;
  font-family: 'Comfortaa', cursive;
}

main {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 0;
  height: 56px;
  background-color: rgb(0, 153, 191);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
}

/* header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
} */

#logo {
  width: 80%;
  max-width: 500px;
}

.overlay-panel {
  background-color: #262735;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6)
}

</style>
