<template>
  <div id="app">
    <div class="load-box">
      <div class="fall-ball" id="fall-b"><h5>b</h5></div>
      <div class="fall-ball" id="fall-r"><h5>r</h5></div>
      <div class="fall-ball" id="fall-e"><h5>e</h5></div>
      <div class="fall-ball" id="fall-e2"><h5>e</h5></div>
      <div class="fall-ball" id="fall-z"><h5>z</h5></div>
      <div class="fall-ball" id="fall-i"><h5>i</h5></div>
      <div class="fall-ball" id="fall-space"></div>
      <div class="fall-ball" id="fall-p"><h5>p</h5></div>
      <div class="fall-ball" id="fall-r2"><h5>r</h5></div>
      <div class="fall-ball" id="fall-o"><h5>o</h5></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.load-box {
  width: 300px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fall-ball {
  width: 25px;
  height: 25px;
  background-color: rgb(0, 153, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: intoPlaceL 5s linear infinite;
  color: lightblue;
}

h5 {
  animation: appearAtEnd 5s linear infinite;
  opacity: 0%;
  font-family: Comfortaa;
}

#fall-b {
  animation-delay: .25s;
}

#fall-r {
  animation-delay: .5s;
}

#fall-e {
  animation-delay: .75s;
}

#fall-e2 {
  animation-delay: 1s;
}

#fall-z {
  animation-delay: 1.25s;
}

#fall-i {
  animation-delay: 1.5s;
}

#fall-space {
  background-color: rgba(0, 0, 0, 0);
  animation: none;
  width: 5px;
}

#fall-p {
  animation-delay: 1.75s;
}

#fall-r2 {
  animation-delay: 2s;
}

#fall-o {
  animation-delay: 2.25s;
}

#fall-b h5 {
  animation-delay: .25s;
}

#fall-r h5 {
  animation-delay: .5s;
}

#fall-e h5 {
  animation-delay: .75s;
}

#fall-e2 h5 {
  animation-delay: 1s;
}

#fall-z h5 {
  animation-delay: 1.25s;
}

#fall-i h5 {
  animation-delay: 1.5s;
}

#fall-p h5 {
  animation-delay: 1.75s;
}

#fall-r2 h5 {
  animation-delay: 2s;
}

#fall-o h5 {
  animation-delay: 2.25s;
}

@keyframes intoPlaceL {
  0% {
    background-color: lightblue;
  }
  30% {
    background-color: rgb(0, 153, 191);
    margin-top: 40%;
    transform: rotateX(360deg);
  }
  70% {
    background-color: rgb(0, 153, 191);
    margin-top: 40%;
    transform: rotateX(360deg);
  }
  100% {
    background-color: lightblue;
  }
}

@keyframes appearAtEnd {
  30% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }
  70% {
    opacity: 0%;
  }
}

</style>
