<template>
  <div id="splash-outer" class="container">
    <h3>{{msg}}</h3>
    <!-- <div class="delineator"></div> -->
    <form class="drop-form">
      <input v-model="email" class="login-input" type="text" placeholder="email">
      <input v-model="password" class="login-input" type="password" placeholder="password">
    </form>
    <div class="btns">
      <button class="btn btn-success">Login</button>
      <button class="btn btn-primary" @click="requestAccess()">Request Access</button>
      <button class="btn btn-info">Information</button>
    </div>
  </div>
</template>

<script>

import axios from 'axios';

export default {
  data(){
    return {
      msg: 'Welcome',
      email: 'matt.r.seaton@gmail.com',
      password: 'Roscoe47!'
    }
  },
  components: [],
  methods: {
    requestAccess(){

    }
  },
  mounted(){

  }
}

</script>

<style>

#splash-outer {
  width: 100vw;
  max-width: 800px;
  height: 110vh;
  max-height: 650px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6em;
  width: 15em;
}

.btn-group {
  flex-direction: column;
  width: 30%;
}

.drop-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.login-input {
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #dfeaf3;
  width: 100%;
  color: #dfeaf3;
}

::placeholder {
  color: #82909e;
}

.delineator {
  width: 60%;
  border-bottom: 2px groove #dfeaf3;
  margin-top: -5em;
}

</style>
