<template>
  <div id="splash-outer">
    <div class="dark-overlay">
      <img id="logo" src="../../assets/pro-box.png">
      <div v-if="!request && !login" id="splash-blurb-panel">
        <h3>Predictive Maintenance for Commercial HVAC</h3>
        <div :class="mobileBtns()">
          <a class="btn-lg btn-primary" id="login" @click="initLogin()">Login</a>
          <a class="btn-lg btn-success" id="login" @click="initAccess()">Request Access</a>
          <a class="btn-lg btn-info" id="login" @click="linkToInfo()">Learn More</a>
        </div>
      </div>
      <request-component v-if="request" v-on:fromRequest="clearRequest($event)"></request-component>
      <login-component v-if="login" :mobile="mobile" v-on:fromLogin="clearLogin($event)"></login-component>
    </div>
  </div>
</template>

<script>

import Request from './Signup';
import Login from './Login';

export default {
  data(){
    return {
      request: false,
      login: false,
      mobile: false
    }
  },
  components: {
    'request-component': Request,
    'login-component': Login
  },
  methods: {
    initAccess(){
      this.request = true;
    },
    initLogin(){
      this.login = true;
    },
    clearRequest(event){
      this.request = false;
    },
    clearLogin(event){
      this.login = false;
      if (event.success === true) {
        this.$router.push({
          name: 'Org',
          params: {
            tkn: event.tkn,
            mod: 'buildings',
            mobile: this.mobile
          }
        })
      }
    },
    linkToInfo(){
      window.location = 'https://www.breezi-pro.io/';
    },
    mobileBtns(){
      return this.mobile === false
        ? 'btn-group'
        : 'mobile-btn-group';
    }
  },
  mounted(){
    this.mobile = window.innerWidth > 1000 ? false : true
  }
}

</script>

<style>

#splash-outer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/city_center+copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #c3dcf2;
}

#logo {
  width: 500px;
  max-width: 90%;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#splash-blurb-panel {
  width: 80%;
  max-width: 800px;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#blurb {
  width: 100%;
  margin-top: 1.7em;
  color: #8fa0b4;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.btn-group {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.mobile-btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mobile-btn-group a {
  width: 100%;
  margin: 10px;
}

.btn-lg {
  cursor: pointer;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

.signup-btn {
  width: 40%;
}

.signup-input {
  margin: 10px;
  width: 70%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.3em;
  border: none;
  border-bottom: 2px solid rgb(0, 153, 191);
  border-radius: 0px;
}

.lucent-panel {
  background-color: rgba(53, 143, 240, 0.12);
  border: 1px solid #35b7f0;
}

</style>
