<template>
  <section class="team-block">
    <article class="half top-half">
      <img class="team-img" src="@/assets/enterpriseGray.png" style="border:2px solid #a7a7a7;height:50px;width:50px;cursor:pointer;" @click="navOrg()"/>
      <h1 style="font-size:3em;color:#35b7f0;">Your Team</h1>
      <img class="team-img" src="@/assets/network.png" />
    </article>
    <div class="block-separator"></div>
    <article class="half bottom-half" v-if="!onboard">
      <div style="width:100%;display:flex;flex-wrap:wrap;flex-direction:row;justify-content:flex-start;align-items:flex-start;" class="field-set">
        <div v-for="(user, index) in team.users" class="config-panel team-panel">
          <h4>{{user.firstName}} {{user.lastName}}</h4>
          <h5 class="panel-highlight">{{isMasterAdmin(user)}}</h5>
        </div>
        <div class="config-panel team-panel new-user" @click="addUser()">
          <img src="@/assets/plus.png" />
          <h5 style="color:white;">Add Member</h5>
        </div>
      </div>
    </article>
    <article class="half bottom-half" v-if="onboard">
      <div class="lucent-panel" style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;position:relative;flex-wrap:wrap;">
        <h4 style="color:white;position:absolute;left:10px;top:2px;">New Team Member</h4>
        <div class="new-member-panel">
          <input class="room-input" style="margin:10px;" v-model="newEmail" name="new-email"/>
          <label for="new-email" style="margin:10px;" class="room-label">Email</label>
          <input class="room-input" style="margin:10px;" v-model="newPhone" name="new-phone" />
          <label for="new-phone" style="margin:10px;" class="room-label">Phone Number (optional)</label>
        </div>
        <div class="new-member-panel">
          <input class="room-input" v-model="newFirst" name="new-first"/>
          <label for="new-first" class="room-label">First name</label>
          <input class="room-input" v-model="newLast" name="new-last" />
          <label for="new-last" class="room-label">Last Name</label>
          <input class="room-input" v-model="jobTitle" name="job-title" />
          <label for="job-title" class="room-label">Job Title</label>
        </div>
        <div class="new-btn-container">
          <a class="room-next-btn new-btn" style="left:30%;bottom:3px;" v-if="newFulfilled()" @click="submitNewUser()">Submit</a>
          <a class="room-next-btn new-btn" style="right:30%;bottom:3px;" @click="goBack()">Back</a>
        </div>
      </div>
    </article>
  </section>
</template>

<script>

import axios from 'axios';

export default {
  data(){
    return {
      onboard: false,
      newEmail: '',
      newPhone: '',
      newFirst: '',
      newLast: '',
      jobTitle: ''
    }
  },
  props: ['team'],
  methods: {
    isMasterAdmin(user){
      if (user.email === this.team.me) {
        return 'Me'
      }
      if (!user.masterAdmin) {
        return user.jobTitle ? user.jobTitle : 'Member'
      } else {
        return 'Master Admin';
      }
    },
    addUser(){
      this.onboard = true;
    },
    newFulfilled(){
      if (this.newEmail.length < 1 || this.newEmail.indexOf('@') < 0 || this.newFirst.length < 1 || this.newLast.length < 1) {
        return false;
      } else {
        return true;
      }
    },
    goBack(){

    },
    submitNewUser(){
      let body = {
        email: this.newEmail,
        firstName: this.newFirst,
        lastName: this.newLast
      };
      if (this.newPhone.length > 1) body.phoneNumber = this.newPhone;
      if (this.jobTitle.length > 1) body.jobTitle = this.jobTitle;
      const url = 'https://api-matt.breezi.net/team';
      body = JSON.stringify(body);
      let headers = {
        Authorization: this.$route.params.tkn,
        'Content-Type': 'application/json'
      };
      axios({
        method: 'POST',
        url: url,
        headers: headers,
        data: body
      }).then(res => {
        this.onboard = false;
        this.$emit('userAdded', {success:true});
      }).catch(err => {
        alert('Error processing new user. Ensure user is not duplicated and verify all user information');
        this.newEmail = '';
        this.newPhone = '';
        this.newFirst = '';
        this.newLast = '';
        this.jobTitle = '';
      })
    },
    navOrg(){
      this.$emit('navOrg');
    }
  },
  mounted(){

  }
}

</script>

<style>

.new-user {
  background-color: #2e2f2f;
}

.new-user img {
  height: 40%;
  width: auto;
}

.new-user:hover {
  background-color: rgb(0, 153, 191);
}

.new-member-panel {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

</style>
