<template>
  <div class="team-block">
    <article class="half top-half">
      <img class="team-img" src="@/assets/enterprise.png" />
      <h1 style="font-size:3em;color:#35b7f0;">{{team.org.name}}</h1>
      <img class="team-img" src="@/assets/networkGray.png" style="border:2px solid #a7a7a7;height:50px;width:50px;cursor:pointer;" @click="navMembers()"/>
    </article>
    <div class="block-separator"></div>
    <article class="half bottom-half">
      <div style="width:100%;display:flex;flex-wrap:wrap;flex-direction:row;justify-content:space-between;align-items:flex-start;" class="field-set">
        <div class="config-panel team-panel">
          <h4>Master Admin</h4>
          <h5 class="panel-highlight">{{team.org.masterAdmin}}</h5>
        </div>
        <div class="config-panel team-panel">
          <h4>Users</h4>
          <h5 class="panel-highlight">{{team.org.admins.length}}</h5>
        </div>
        <div class="config-panel team-panel">
          <h4>Buildings</h4>
          <h5 class="panel-highlight">{{team.org.buildings.length}}</h5>
        </div>
        <div class="config-panel team-panel">
          <h4>City</h4>
          <h5 class="panel-highlight">{{team.org.city}}</h5>
        </div>
        <div class="config-panel team-panel">
          <h4>State/Prov/Terr</h4>
          <h5 class="panel-highlight">{{team.org.state}}</h5>
        </div>
        <div class="config-panel team-panel">
          <h4>Country</h4>
          <h5 class="panel-highlight">{{team.org.country}}</h5>
        </div>
      </div>
    </article>
  </div>
</template>

<script>

export default {
  data(){
    return {

    }
  },
  props: ['team'],
  methods: {
    navMembers(){
      this.$emit('navMembers');
    }
  }
}

</script>

<style>

</style>
