<template>

  <section class="team-outer">
    <org-component v-if="org" :team="team" v-on:navMembers="org = false"></org-component>
    <members-component v-if="!org" :team="team" v-on:userAdded="reset()" v-on:navOrg="org = true"></members-component>
  </section>

</template>

<script>

import axios from 'axios';

import Org from './Org';
import Team from './Members';

export default {
  data(){
    return {
      team: {},
      org: true
    }
  },
  components: {
    'members-component': Team,
    'org-component': Org
  },
  methods: {

    getTeamData(){
      let tkn = this.$route.params.tkn;
      axios.get(
        'https://api-matt.breezi.net/team',
        {headers: {
          'Content-Type': 'application/json',
          Authorization: tkn
        }}
      ).then(team => {
        this.team = team.data;
      });
    },
    reset(){
      this.org = false;
      this.getTeamData();
    }

  },
  mounted(){
    this.getTeamData();
  }
}

</script>

<style>

.team-outer {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-img {
  width: 14%;
  border: 5px solid white;
  border-radius: 100%;
  padding: 6px;
  /* margin-left: 10px;
  margin-right: 10px; */
  box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.7);
}

.team-block {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.half {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-half {
  height: 29%;
  justify-content: space-between;
}

.bottom-half {
  height: 70%;
}

.block-separator {
  width: 100%;
  height: 1%;
  background-color: #35b7f0;
}

.panel-highlight {
  color: #35b7f0;
}

.team-panel {
  width: 30%;
  margin: 10px;
}

</style>
