<template>

    <ul class="settings-list" style="padding-top:10%;height:100%;overflow-y: scroll;">
      <li class="settings-li" style="border-bottom:1px solid #232323;" v-if="!addUser" v-for="(member, index) in team.users">
        <h6>{{member.jobTitle ? member.jobTitle : 'Admin'}}</h6>
        <h2 style="margin:0;">{{member.firstName}} {{member.lastName}}</h2>
        <p style="color:rgb(0, 153, 191)">{{member.email}}</p>
      </li>
      <li :class="addClass" style="padding-top: 10px;">
        <h6 v-if="!addUser" style="color:rgb(0,153,191);">Add team member</h6>
        <h2 v-if="!addUser" class="add-plus" @click="setAddClass()">+</h2>
        <h2 v-if="addUser" class="add-plus" style="font-size:1.7em;" @click="setAddClass()">X</h2>
        <input v-if="addUser" class="team-input" name="user-email" v-model="newUserEmail"/>
        <label v-if="addUser" for="user-email">New member email</label>
        <input v-if="addUser" class="team-input" name="user-first-name" v-model="newUserFirstName"/>
        <label v-if="addUser" for="user-first-name">First name</label>
        <input v-if="addUser" class="team-input" name="user-last-name" v-model="newUserLastName"/>
        <label v-if="addUser" for="user-last-name">Last name</label>
        <input v-if="addUser" class="team-input" name="user-job-title" v-model="newUserJobTitle"/>
        <label v-if="addUser" for="user-job-title">Job Title (optional)</label>
        <div class="new-user-submit-panel" style="width:100%;" v-if="addUser && validNewUser()">
          <h6 style="margin-bottom:2px;display:flex;justify-content:center;align-items:center;" class="team-btn" @click="postNewUser()">SUBMIT</h6>
        </div>
      </li>
    </ul>
  </main>

</template>

<script>

import Rest from '@/src/rest';

export default {
  data(){
    return {
      addClass: 'settings-li',
      addUser: false,
      newUserEmail: '',
      newUserFirstName: '',
      newUserLastName: '',
      newUserJobTitle: ''
    }
  },
  props: ['team', 'tkn', 'mobile'],
  methods: {
    hide(){
      this.$emit('togTeam');
    },
    setAddClass(){
      if (this.addUser === false) {
        this.addClass = 'settings-li add-grow';
        this.addUser = true;
      } else {
        this.addClass = 'settings-li';
        this.addUser = false;
      }
    },
    validNewUser(){
      return this.newUserEmail !== '' && this.newUserEmail.includes('@') && this.newUserFirstName && this.newUserLastName
    },
    postNewUser(){
      const emails = this.team.users.map(u => u.email);
      if (emails.indexOf(this.newUserEmail) > -1) {
        this.addClass = 'settings-li';
        this.addUser = false;
      }
      let body = JSON.stringify({
        email: this.newUserEmail,
        firstName: this.newUserFirstName,
        lastName: this.newUserLastName,
        jobTitle: this.newUserJobTitle !== '' ? this.newUserJobTitle : ' '
      });
      this.tkn = this.$cookies.get('breeziProTkn');
      Rest.postUser(body, this.tkn)
        .then(userPosted => {
          this.addClass = 'settings-li';
          this.addUser = false;
          const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle';
          let headers = {
            headers: {
              Authorization: this.tkn,
              'Content-Type': 'application/json'
            }
          };
          Rest.getTeam(headers)
            .then(team => {
              this.team = team;
            });
        }, err => {
          console.log(err);
          this.addClass = 'settings-li';
          this.addUser = false;
        });
    },
    closeSettings(){
      this.$emit('settingsClose');
    }
  },
  mounted(){

  }
}

</script>

<style>

#team-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 10%;
  margin-top: 3%;
}

.add-plus {
  margin: 0px;
  border: 1.5px solid #232323;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-plus:hover {
  background-color: #232323;
  color: white;
}

.add-grow {
  display: flex;
  align-self: center;
  height: auto;
}

.team-input {
  width: 100%;
  margin-top: 10px;
}

.new-user-submit-panel {
  width: 100%;
  height: 40px;
  padding-right: 5%;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-btn {
  width: 100%;
  height: 100%;
  border-raidus: 0px;
  color: #e1f1f1;
}

.team-input {
  margin-top: 10px;
}

</style>
