<template>
  <form id="login-outer" class="lucent-panel">
    <h3 :style="{'color':'white'}">{{loginMsg}}</h3>
    <input v-if="!changePw" class="signup-input" id="login-email" v-model="loginEmail" name="login-email"/>
    <label v-if="!changePw" for="login-email" :style="{'color': validEmail()}">Email</label>
    <input v-if="!changePw" class="signup-input" id="login-password" type="password" v-model="loginPassword" name="login-pw"/>
    <label v-if="!changePw" for="login-pw" :style="{'color': validPw()}">Password</label>
    <input v-if="changePw" class="signup-input" id="change-password" type="password" v-model="newPw" name="new-pw"/>
    <label v-if="changePw"for="new-pw" :style="{'color': validPw('new')}">New Password</label>
    <input v-if="changePw" class="signup-input" id="confirm-password" type="password" v-model="confirmPw" name="confirm-pw"/>
    <label v-if="changePw" for="confirm-pw" :style="{'color': validPw('match')}">Password</label>
    <div class="btn-group" id="login-btns">
      <a v-if="!changePw" class="signup-btn btn btn-primary" id="login-submit" @click="initLogin()">Submit</a>
      <a v-if="changePw" class="signup-btn btn btn-info" id="login-change" @click="initChangePw()">Submit</a>
      <a class="signup-btn btn btn-warning" id="login-back" @click="goBack()">Back</a>
    </div>
  </form>
</template>

<script>

import Cognito from '../../lib/cognito.js';

export default {
  data(){
    return {
      loginMsg: 'Welcome back',
      loginColor: '#20bf55',
      loginEmail: 'breezigateway+matt@gmail.com',
      loginPassword: 'Br33z1_T3st1',
      changePw: '',
      newPw: '',
      confirmPw: ''
    }
  },
  methods: {
    initLogin(){
      if (this.loginEmail === '' || this.loginPassword === '') {
        alert('Please input both your registered email and password');
        this.loginEmail = '';
        this.loginPassword = '';
      } else {
        if (this.validEmail() === 'red' || this.validPw() === 'red') {
          alert('Ensure that you have entered a valid email address and that your chosen password is at least 7 spaces long and includes a capital letter, a number, and a special character');
          this.loginEmail = '';
          this.loginPassword = '';
        }
        Cognito.login(this.loginEmail, this.loginPassword)
          .then(tkn => {
            this.emitToken(tkn);
          }, tknErr => {
            if (tknErr === 'change password') {
              this.loginMsg = 'You must change your password';
              this.loginColor = 'orange';
              this.changePw = true;
            } else {
              this.loginMsg = 'Credentials invalid. Please try again';
              this.loginColor = '#d00000';
              this.login;
            }
          });
      }
    },
    initChangePw(){

      if (!this.newPw || !this.confirmPw) {
        alert('New password and confirmed password must be included');
        this.newPw = '';
        this.confirmPw = '';
      }

      if (this.newPw !== this.confirmPw) {
        alert('Passwords must match');
        this.newPw = '';
        this.confirmPw = '';
      }

      Cognito.login(this.loginEmail, this.loginPassword, this.newPw)
        .then(tkn => {
          this.emitToken(tkn);
        }, newPwErr => {
          this.loginMsg = 'Credentials invalid. Please try again';
          this.loginColor = '#d00000';
          this.login;
        });
    },
    emitToken(tkn){
      this.$emit('fromLogin', {
        success: true,
        tkn: tkn
      });
    },
    goBack(){
      this.$emit('fromLogin', {
        success: false
      });
    },
    validEmail(){
      if (this.loginEmail && this.loginEmail.length > 1 && this.loginEmail.indexOf('@') > -1) {
        return 'green';
      } else {
        return 'red';
      }
    },
    validPw(pw){
      let chars = "~`!#$%^&*+=-_[]\\\';,/{}|\":<>?";
      let nums = [1,2,3,4,5,6,7,8,9,0].map(n => n.toString()).join('');
      let password = this.loginPassword;
      if (pw) {
        if (pw === 'new') {
          password = this.newPw;
        } else {
          password = this.confirmPw;
        }
      }
      if (
        this.loginPassword &&
        this.loginPassword.length > 6 &&
        hasChar(this.loginPassword, chars) &&
        hasChar(this.loginPassword, nums)
      ) {
        if (pw && pw === 'match') {
          return this.newPw === this.confirmPw ? 'green' : red;
        } else {
          return 'green';
        }
      } else {
        return 'red';
      }
      function hasChar(pw, set){
        let counter = 0;
        set.split('').map(s => {
          if (pw.indexOf(s) > -1) {
            counter += 1;
          }
        });
        if (counter > 0) {
          return true;
        } else {
          return false;
        }
      }
    }
  }
}

</script>

<style>

#login-outer {
  width: 80vw;
  max-width: 600px;
  height: 60vh;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  /* border-top: 20px solid #084c61; */
  /* border-bottom: 20px solid #084c61; */
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); */
  /* background-color: #464f51; */
}

#login-btns {
  width: 70%;
}

</style>
