<template>
  <div id="splash-outer">
    <div class="dark-overlay">
      <img id="logo" src="../../assets/pro-box.png">
      <div v-if="!request && !login" id="splash-blurb-panel">
        <h3>Predictive Maintenance for Commercial HVAC</h3>
        <!-- <p id="blurb">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus pretium quam vulputate dignissim suspendisse in est ante in. Cursus vitae congue mauris rhoncus. Mattis molestie a iaculis at erat. Accumsan tortor posuere ac ut consequat. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Metus dictum at tempor commodo. Nunc non blandit massa enim nec dui nunc mattis. Feugiat vivamus at augue eget arcu dictum varius. At augue eget arcu dictum varius duis. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Pharetra massa massa ultricies mi quis. Porta nibh venenatis cras sed felis eget velit aliquet. Amet nisl purus in mollis nunc. Purus semper eget duis at tellus at. Lacus laoreet non curabitur gravida arcu. Auctor augue mauris augue neque gravida in fermentum et. In aliquam sem fringilla ut morbi. Placerat in egestas erat imperdiet sed euismod. Ut porttitor leo a diam sollicitudin.
        </p> -->
        <div class="btn-group">
          <a class="btn-lg btn-primary" id="login" @click="initLogin()">Login</a>
          <a class="btn-lg btn-success" id="login" @click="initAccess()">Request Access</a>
          <a class="btn-lg btn-info" id="login" @click="linkToInfo()">Learn More</a>
        </div>
      </div>
      <request-component v-if="request" v-on:fromRequest="clearRequest($event)"></request-component>
      <login-component v-if="login" v-on:fromLogin="clearLogin($event)"></login-component>
    </div>
  </div>
</template>

<script>

import Request from './Signup';
import Login from './Login';

export default {
  data(){
    return {
      request: false,
      login: false
    }
  },
  components: {
    'request-component': Request,
    'login-component': Login
  },
  methods: {
    initAccess(){
      this.request = true;
    },
    initLogin(){
      this.login = true;
    },
    clearRequest(event){
      this.request = false;
    },
    clearLogin(event){
      console.log(event.tkn);
      this.login = false;
      if (event.success === true) {
        localStorage.setItem('breeziTkn', event.tkn);
        this.$router.push({
          name: 'Org',
          params: {
            tkn: event.tkn,
            mod: 'buildings'
          }
        })
      }
    },
    linkToInfo(){
      window.location = 'https://www.breezi-pro.io/';
    }
  }
}

</script>

<style>

#splash-outer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/city_center+copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #c3dcf2;
}

#logo {
  max-width: 500px;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#splash-blurb-panel {
  width: 80%;
  max-width: 800px;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#blurb {
  width: 100%;
  margin-top: 1.7em;
  color: #8fa0b4;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.btn-group {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.btn-lg {
  cursor: pointer;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

.signup-btn {
  width: 40%;
}

.signup-input {
  margin: 10px;
  width: 70%;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.3em;
  border: none;
  border-bottom: 2px solid rgb(0, 153, 191);
}

.lucent-panel {
  background-color: rgba(53, 143, 240, 0.12);
  border: 1px solid #35b7f0;
}

</style>
