<template>

<section class="card-left">
  <!-- <chart-component style="height:100%;width:100%" :multi="multi" :series="series" :categories="categories"></chart-component> -->
  <img style="width:30%;height:auto;margin-bottom:8%;" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/trends.png" />
  <h4>AirPusle trending will begin in a few days</h4>
  <nav class="flip-nav">
    <div class="flip-nav-center"></div>
    <div class="flip-nav-nodes">
      <h3 class="flip-nav-two flip-nav-active">2</h3>
      <h3 class="flip-nav-one flip-nav-inactive" @click="initFlip({from: 'left', to: 'center'})">1</h3>
      <h3 class="flip-nav-three flip-nav-inactive" @click="initFlip({from: 'left', to: 'right'})">3</h3>
    </div>
  </nav>
</section>

</template>

<script>

import Chart from './Chart';
import Trends from '@/src/trends';

export default {
  data(){
    return {
      series: [],
      categories: []
    }
  },
  props: ['room', 'tkn', 'multi'],
  components: {
    'chart-component': Chart
  },
  methods: {

    initFlip(dir){
      this.$emit('flipCard', dir);
    }

  },
  mounted(){
    let tData = Trends.setTrends();
    this.series = tData.series;
    this.categories = tData.categories;

  }
}

</script>

<style>

.card-left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

</style>
