<template>

  <div class="web-room-outer" v-if="series.length > 0">
    <header class="web-room-header">
      <div class="web-room-quarter" style="width:18%;border-left: 2px solid rgb(0,153,191);flex-direction:column;justify-content:center;padding-bottom:4%;position:relative;">
        <h3 style="color:rgb(0,153,191);text-align:left;">{{room.hvacName}}</h3>
        <h4 style="width:70%;text-align:center;">{{bName}}</h4>
        <h5 style="color:darkgray;width:70%;text-align:center;">{{fName}}</h5>
        <small style="position:absolute;bottom:3%;left:5%;text-align:left;"><span style="color:rgb(0,153,191);">Updated: </span>{{updatedFormat()}}</small>
      </div>
      <div class="web-room-quarter web-rdg-panel" id="days-panel">
        <div class="quarter-half">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/filterOfficial.png" />
          <h3 :style="{'color': room.rdgs.days === '-' ? 'darkgray' : 'white'}">{{room.rdgs.days === '-' ? 'Learning...' : room.rdgs.days}}</h3>
          <h5 :style="{'color': room.rdgs.days === '-' ? 'darkgray' : 'white'}">Days remaining</h5>
        </div>
        <div class="rdg-separator"></div>
        <div class="quarter-half">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/calendar.png" />
          <h3 :style="{'color': room.rdgs.days === '-' ? 'darkgray' : 'white'}">{{room.rdgs.days === '-' ? 'Learning...' : setProjMaint()}}</h3>
          <h5 :style="{'color': room.rdgs.days === '-' ? 'darkgray' : 'white'}">Projected maintenace</h5>
        </div>
      </div>
      <div class="web-room-quarter web-rdg-panel" id="temp-panel">
        <div class="quarter-half">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/temp.png" />
          <h3 :style="{'color': room.rdgs.ttp === '-' ? '#565656' : 'white'}">{{room.rdgs.ttp === '-' ? 'Learning...' : room.rdgs.ttp}}<span v-if="room.rdgs.ttp !== '-'">˚C</span></h3>
          <h5 :style="{'color': room.rdgs.ttp === '-' ? '#565656' : 'white'}">Temperature</h5>
        </div>
        <div class="rdg-separator"></div>
        <div class="quarter-half">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hum.png" />
          <h3 :style="{'color': room.rdgs.hhm === '-' ? '#565656' : 'white'}">{{room.rdgs.hhm === '-' ? 'Learning...' : room.rdgs.hhm}}<span v-if="room.rdgs.hhm !== '-'">%</span></h3>
          <h5 :style="{'color': room.rdgs.hhm === '-' ? '#565656' : 'white'}">Humidity</h5>
        </div>
      </div>
      <div class="web-room-quarter web-rdg-panel" id="iaq-panel">
        <div class="quarter-half">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tvoc.png" />
          <h3 :style="{'color': room.rdgs.iaq === '-' ? '#565656' : 'white'}">{{room.rdgs.iaq === '-' ? 'Learning...' : room.rdgs.iaq}}</h3>
          <h5 :style="{'color': room.rdgs.iaq === '-' ? '#565656' : 'white'}">Air Quality</h5>
        </div>
        <div class="rdg-separator"></div>
        <div class="quarter-half">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/eCO2Text.png" />
          <h3 :style="{'color': room.rdgs.co2 === '-' ? '#565656' : 'white'}">{{room.rdgs.co2 === '-' ? 'Learning...' : room.rdgs.co2}}<span style="font-size:0.5em;" v-if="room.rdgs.co2 !== '-'">ppm</span></h3>
          <h5 :style="{'color': room.rdgs.co2 === '-' ? '#565656' : 'white'}">CO2</h5>
        </div>
      </div>
    </header>
    <chart-component style="overflow:hidden;" v-if="series.length > 0" class="middle-sec" :series="series" :categories="categories"></chart-component>
    <div class="web-room-header">
      <div class="web-room-quarter web-room-third" style="border-left:2px solid rgb(0,153,191);">
        <header class="web-equip-header">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/fcu.png" />
          <div class="web-equip-info">
            <h6><span style="color:rgb(0,153,191)">Manufacturer: </span>{{room.manufacturer !== ' ' ? room.manufacturer : 'not specififed'}}</h6>
            <h6><span style="color:rgb(0,153,191)">Model: </span>{{room.modelNumber !== ' ' ? room.modelNumber : 'not specififed'}}</h6>
            <h6><span style="color:rgb(0,153,191)">Filter brand: </span>{{room.fBrand !== ' ' ? room.fBrand : 'not specififed'}}</h6>
            <h6><span style="color:rgb(0,153,191)">Filter type: </span>{{room.fType !== ' ' ? room.fType : 'not specififed'}}</h6>
            <h6><span style="color:rgb(0,153,191)">Filter size: </span>{{room.altSize !== ' ' ? room.altSize : room.size}}</h6>
          </div>
        </header>
        <div class="web-equip-bottom" id="runtime">
          <h4>Runtime data coming soon</h4>
        </div>
      </div>
      <div class="web-room-quarter web-room-third">
        <div class="alert-header" id="pred-alert-header">
          <h5>Predictive Alerts</h5>
        </div>
        <div class="alert-body" id="pred-alert-body">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" />
        </div>
      </div>
      <div class="web-room-quarter web-room-third">
        <div class="alert-header" id="maint-alert-header">
          <h5>Maintenance Events</h5>
        </div>
        <div class="alert-body" id="maint-alert-body">
          <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/comingSoon.png" />
        </div>
      </div>
    </div>
  </div>

</template>

<script>

import trends from '../../src/trends';

import Chart from './Chart';

import moment from 'moment';

import Rest from '@/src/rest';
import Bundle from '@/src/bundle';

export default {
  data(){
    return {
      room: {},
      tkn: '',
      bName: '',
      bId: '',
      fName: '',
      trends: [],
      webGraph: false,
      series: [],
      categories: []
    }
  },
  components: {
    'chart-component': Chart
  },
  methods: {
    setProjMaint(){
      let now = Math.floor(Date.now()/1000);
      return moment((now + (this.room.rdgs.days * 86400)) * 1000).format('L');
    },
    updatedFormat(){
      return moment(this.room.updated).format('MM/DD hh:mm')
    }
  },
  mounted(){
    try {
      this.room = this.$route.params.room;
      this.tkn = this.$route.params.tkn;
      this.bName = this.$route.params.bName;
      this.bId = this.$route.params.bId;
      this.fName = this.$route.params.fName;
      let tData = trends.setTrends();
      this.series = tData.series;
      this.categories = tData.categories;
      this.$cookies.set('breeziRoom', this.room.hvacName)
    } catch(err) {
      Rest.getOrgBundle(this.$cookies.get('breeziProTkn'))
        .then(bundle => {
          console.log('ROOM_WEB_REST');
          bundle = bundle.data;
          bundle = Bundle.formatBundle(bundle);
          let bldg = bundle.buildings.buildings.find(b => b.id === this.$cookies.get('breeziBldg'));
          let floor = bldg.floors.find(f => f.index == this.$cookies.get('breeziFloor'));
          this.floor = floor;
          this.tkn = this.$cookies.get('breeziProTkn');
          this.bName = bldg.name;
          this.bId = bldg.id;
          let roomToFind = this.$cookies.get('breeziRoom');
          let room = floor.rooms.find(r => r.hvacName === this.$cookies.get('breeziRoom'));
          Rest.getTeam(this.tkn)
            .then(team => {
              this.$emit('updateNav', {type: 'room', bldg: bldg, bundle: bundle, floor: floor, room: this.room});
              this.mobile = false;
              let tData = trends.setTrends();
              this.series = tData.series;
              this.categories = tData.categories;
            })
        });
    }
  },
  watch: {
    'series': function(newData, oldData){
      this.series = newData;
    }
  }
}

</script>

<style>

.web-room-outer {
  height: 100%;
  width: 70%;
  dsiplay: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-room-header {
  width: 100%;
  height: 23.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-room-quarter {
  width: 26%;
  height: 100%;
  background-color: #424143;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.web-room-quarter h4 {
  width: 80%;
  text-align: left;
  margin-left: 3%;
  margin: 0px;
}
.web-room-quarter h2 {
  width: 85%;
  text-align: left;
}

#days-panel {
  background-color: #7d21cd;
}

#temp-panel {
  background-color: #37d445;
}

#iaq-panel {
  background-color: #9d9c9a;
}

.quarter-half {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quarter-half img {
  width: 14%;
  position: absolute;
  top: 6%;
  left: 6%;
}

.quarter-half h3 {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.quarter-half h5 {
  height: 30%;
}

.web-rdg-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdg-separator {
  width: 1px;
  height: 80%;
  background-color: white;
}

.middle-sec {
  width: 100%;
  height: 55%;
  background-color: #424143;
  margin-top: 1%;
  margin-bottom: 1%;
  border-left: 2px solid rgb(0, 153, 191);
}

.web-room-third {
  width: 32.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-equip-header {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.web-equip-header img {
  width: 30%;
  height: auto;
  margin-left: 15%;
}

.web-equip-info {
  padding-top: 1em;
  width: 40%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.web-equip-info h6 {
  margin: 2px;
  width: 100%;
  text-align: left;
}

.web-equip-bottom {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#runtime {
  margin: 4px;
  height: 50%;
  width: 80%;
}

#runtime h4 {
  width: 100%;
  height: 50%;
  margin-top: 8px;
  background-color: #2664bb;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-header {
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #565656;
}

#pred-alert-header {
  background-color: orange;
}

#maint-alert-header {
  background-color: #00dbd8;
}

.alert-body {
  height: 86%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pred-alert-body {
  border: 2px solid orange;
}

#maint-alert-body {
  border: 2px solid #00dbd8;
}

.alert-body img {
  height: 60%;
}

.quarter-half h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

</style>
