<template>
    <div class="floor-outer">
      <div v-for="(room, index) in floor.rooms" :class="leftOrRight(index)">
        <div class="face animated flipinx" v-if="faceOne !== index && faceThree !== index">
          <room-card-component :room="room" :tkn="tkn" :bName="bName" v-on:fromRoomCard="updateHeader($event)"></room-card-component>
          <div class="slider">
            <div class="slider-bar"></div>
            <div class="inactive-slider-node slider-two" @click="flip(index, 'left')">
              <h3>2</h3>
            </div>
            <div class="active-slider-node slider-one">
              <h3>1</h3>
            </div>
            <div class="inactive-slider-node slider-three" @click="flip(index, 'right')">
              <h3>3</h3>
            </div>
          </div>
        </div>
        <div class="face animated flipinx" v-if="faceOne === index" style="transform:rotateY(-180deg);">
          <div class="face">
            <left-component :room="room"></left-component>
          </div>
          <div class="slider">
            <div class="slider-bar"></div>
            <div class="active-slider-node slider-two">
              <h3>2</h3>
            </div>
            <div class="inactive-slider-node slider-one" @click="flip(index, 'center')">
              <h3>1</h3>
            </div>
            <div class="inactive-slider-node slider-three" @click="flip(index, 'right')">
              <h3>3</h3>
            </div>
          </div>
        </div>
        <div class="face animated flipinx" v-if="faceThree === index"style="color:backgroubnd-color:green;transform:rotateY(-180deg);">
            <right-component :room="room"></right-component>
            <div class="slider">
              <div class="slider-bar"></div>
              <div class="inactive-slider-node slider-two" @click="flip(index, 'left')">
                <h3>2</h3>
              </div>
              <div class="inactive-slider-node slider-one" @click="flip(index, 'center')">
                <h3>1</h3>
              </div>
              <div class="active-slider-node slider-three">
                <h3>3</h3>
              </div>
            </div>

        </div>
      </div>
      <div class="card" style="background-color:#2e3746;" @click="initNewRoom()">
        <img src="@/assets/plus.png" style="height:100px;width:100px;"/>
        <h3 style="color:#565656;">New Room</h3>
      </div>
    </div>
</template>

<script>

import Card from '../cards/Room';
import CardTwo from '../cards/BuildingLeft';
import CardThree from '../cards/BuildingRight';

  export default {
    data(){
      return {
        faceOne: null,
        faceTwo: null,
        faceThree: null
      }
    },
    props: ['floor', 'tkn', 'bName'],
    components: {
      'room-card-component': Card,
      'left-component': CardTwo,
      'right-component': CardThree
    },
    methods: {
      flip(i, dir){
        if (dir === 'left') {
          this.faceOne = i;
          this.faceThree = -1;
        }
        if (dir === 'right') {
          this.faceThree = i;
          this.faceOne = -1;
        }
        if (dir === 'center') {
          this.faceOne = -1;
          this.faceThree = -1;
        }
      },
      leftOrRight(i){
        if (this.faceOne === i) {
          return 'card turn-right';
        } else if (this.faceThree === i) {
          return 'card turn-right';
        } else {
          return 'card right-left';
        }
      },
      initNewRoom(){
        this.$emit('fromFloor', this.floor);
      }
    },
    mounted(){
      console.log({MOUNTED: this.floor})
    }
  }
</script>

<style>

.slider {
  width: 65%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 22px;
  color: rgb(0, 153, 191);
}

.slider-bar {
  width: 100%;
  height: 4px;
  background-color: rgb(0, 153, 191);
}

.inactive-slider-node {
  position: absolute;
  color: #2e3746;
  background-color: rgb(0, 153, 191);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 9px;
}

.active-slider-node {
  position: absolute;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  background-color: #3d4859;
  width: 40px;
  height: 40px;
  border: 3px solid rgb(0, 153, 191);
}

.active-slider-node h3 {
  font-size: 2em;
}

.slider-two {
  left: 0;
}

.slider-three {
  right: 0;
}

</style>
