<template>
  <div id="org-outer">
    <main>
      <h1 style="color:white;width:65%;text-align:left;">Buildings</h1>
      <h4 style="color:rgb(0,153,191);width:65%;text-align:left;margin-bottom:20px;">{{org.name}}</h4>
      <div class="icon-header">
        <div :class="isActive('days')" @click="changeRdg('days')">
          <img src="@/assets/filterOfficial.png" />
        </div>
        <div :class="isActive('ttp')" @click="changeRdg('ttp')">
          <img src="@/assets/temp.png" />
        </div>
        <div :class="isActive('hhm')" @click="changeRdg('hhm')">
          <img src="@/assets/hum.png" />
        </div>
        <div :class="isActive('iaq')" @click="changeRdg('iaq')">
          <img src="@/assets/tvoc.png" />
        </div>
        <div :class="isActive('co2')" @click="changeRdg('co2')">
          <img src="@/assets/eCO2Text.png" />
        </div>
      </div>
      <div class="component-body" style="overflow:hidden;">

        <div id="chart-cluster">
          <div id="bub-chart"></div>
        </div>


        <div class="add-bldg" @click="initNewBuilding(tkn)">
          <img src="@/assets/plus.png" />
          <h4 style="color:#565656;font-size:1.2em;">New Building</h4>
        </div>
      </div>
    </main>
  </div>
</template>

<script>

import axios from 'axios';
import Sup from '../../lib/supplement';
import Card from '../cards/Building';
import Left from '../cards/BuildingLeft';
import Right from '../cards/BuildingRight';
import VueHighcharts from 'vue-highcharts';
import More from 'highcharts/highcharts-more';
import Highcharts from 'highcharts';
More(Highcharts);

export default {
  data(){
    return {
      buildings: [],
      rdgArr: [],
      admin: {},
      org: {},
      bldgCount: '',
      floorCount: '',
      deviceCount: '',
      notifCount: 0,
      alertCount: 0,
      show: false,
      tkn: '',
      faceOne: -1,
      faceThree: -1,
      alerts: [],
      activeIcon: 'days'
    }
  },
  components: {
    'bldg-card-component': Card,
    'bldg-left-component': Left,
    'bldg-right-component': Right
  },
  methods: {

    isActive(x){
      if (this.activeIcon === x) {
        return 'icon-header-panel active';
      } else {
        return 'icon-header-panel';
      }
    },

    changeRdg(x){
      this.activeIcon = x;
      this.popBubbles(x);
    },

    getBundle(tkn){
      if (this.tkn === undefined) {
        try {
          this.tkn = localStorage.getItem('breeziTkn');
        } catch(err) {
          alert('Sorry, something went wrong.');
          this.$router.push({
            name: 'Splash'
          })
        }
      }
      let headers = {Authorization: this.tkn}
      axios.get('https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle',
                {headers: {Authorization: this.tkn, 'Content-Type': 'application/json'}})
                .then(bundle => {
                  bundle = bundle.data;
                  this.admin = bundle.admin;
                  this.org = bundle.org;
                  if (bundle.buildings.length > 0) {
                    this.buildings = bundle.buildings;
                    this.bldgName = this.org.name;
                    this.bldgCount = this.buildings.length;
                    this.floorCount = Sup.numberOfFloors(this.buildings);
                    this.deviceCount = Sup.numberOfDevices(this.buildings);
                    this.alerts = Sup.aggregateAlerts(this.buildings);
                    this.popBubbles('days');
                  }
                  // SAVE DATA TO LOCAL STORAGE W TIMESTAMP 1hr
                  // this.$emit('headerData', {admin: this.admin, org: this.org});
                  this.orgHeader();
                });
    },

    popBubbles(val){

      let term;
      switch (val) {
        case 'days':
          term = 'days';
        break;
        case 'ttp':
          term = '˚C'
        break;
        case 'hhm':
          term = '%'
        break;
        case 'iaq':
          term = ''
        break;
        case 'co2':
          term = 'PPM';
        break
      }

      let bubData = this.alerts.buildings.map(b => {return {name: b.name, data: [{name: b.name, term: term, value: b.avg[val], forEvent: this.buildings.find(b => b.id === b.id)}]}})
      let self = this;
      var bubChart = {
        chart: {
          type: 'packedbubble',
          height: '60%',
          backgroundColor: 'none',
        },
        title: 'Buildings',
        tooltip: {
          useHTML: true,
          pointFormat: '<b>{point.name}:</b> {point.value} {point.term}'
        },
        legend: false,
        plotOptions: {
          series: {
            cursor: 'pointer',
            point: {
              events: {
                click(){
                  self.toBldg(this.forEvent)
                }
              }
            }
          },
            packedbubble: {
                minSize: '30%',
                maxSize: '80%',
                zMin: 0,
                zMax: 600,
                layoutAlgorithm: {
                    splitSeries: false,
                    gravitationalConstant: 0.02
                },
                dataLabels: {
                  useHTML: true,
                  enabled: true,
                  format: `<span style="font-size:1.6em;">{point.value} {point.term}</span><br />{point.name}`,
                  align: 'center',
                  style: {
                      color: 'lightblue',
                      textOutline: 'black',
                      fontWeight: 'normal',
                      fontSize: '10px'

                  }
              }
            }
        },
        credits: false,
        series: bubData
      };

      this.target = Highcharts.chart('bub-chart', bubChart);

    },

    plural(num){
      return num > 1 || num === 0 ? 's' : '';
    },
    initNewBuilding(t){
      this.$router.push({name: 'AddBldg', params: {tkn: t}});
    },
    flip(i, dir){
      console.log(i, dir)
      if (dir === 'left') {
        this.faceOne = i;
        this.faceThree = -1;
      }
      if (dir === 'right') {
        this.faceThree = i;
        this.faceOne = -1;
      }
      if (dir === 'center') {
        this.faceOne = -1;
        this.faceThree = -1;
      }
    },
    leftOrRight(i){
      if (this.faceOne === i || this.faceThree === i) {
        return 'card turn-right';
      } else if (this.faceThree === i) {
        return 'card turn-right';
      } else {
        return 'card';
      }
    },
    toBldg(b){
      this.updateHeader(b);
      this.$router.push({
        name: 'Building',
        params: {
          bldg: b,
          tkn: this.tkn
        }
      });
    },
    calcAlerts(){

    },
    updateHeader(bldg){

      let totalFloors = bldg.floors.length;
      let monitoredFloors = bldg.floors.filter(f => f.rooms).length;
      let params = {
        type: 'bldg',
        name: bldg.name,
        lgText: monitoredFloors,
        subText: `of ${totalFloors} Floors monitored`,
        crit: bldg.alerts.crit,
        bad: bldg.alerts.bad,
        bldg: bldg
      };
      this.$emit('headerData', params);
    },
    orgHeader(){
      let totalBldgs = this.buildings.length;
      let alerts = this.buildings.reduce((a, i) => {
        a.crit += i.alerts.crit;
        a.bad += i.alerts.bad;
        return a;
      }, {crit: 0, bad: 0});
      console.log({ALERTS: alerts});
      let params = {
        type: 'org',
        name: this.org.name,
        lgText: totalBldgs,
        subText: `Building${this.buildings.length === 1 ? '' : 's'} Monitored`,
        crit: alerts.crit,
        bad: alerts.bad
      };
      this.$emit('headerData', params);
    }
  },
  mounted(){
    this.tkn = this.$route.params.tkn;
    this.header = this.$route.params.header;
    this.getBundle(this.$route.params.tkn);
    this.calcAlerts();
    this.orgHeader();
  }
}

</script>

<style>

#org-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.org-panel {
  background-color: #252729;
}

#org-info-panel {
  height: 320px;
  width: 320px;
  background-color: #252729;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 100%;
  border: 4px solid rgb(0, 153, 191);
  box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.6);
}

#org-info-panel img {
  max-width: 50%;
}

#longways {
  width: 64%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.6);
  border-top: 8px solid rgb(0, 153, 191);
}

.long-panel {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2%;
  text-align: left;
  border-right: 3px solid #0d0d0e;
}

.long-panel h2 {
  font-family: Roboto;
  color: rgb(0, 153, 191);
}

.long-panel h3 {
  color: white;
}

.component-body {
  width: 65%;
  height: 100%;
  margin-top: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.card {
  width: 300px;
  height: 400px;
  margin: 1%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  position: relative;
}

.turn-right {
  background-color: #3d4859;
  transform: rotateY(180deg);
}

.turn-left {
  transform: rotateY(180deg);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3d4859;
}

.face-one {
  backface-visibility: hidden;
  background-color: #3d4859;
  /* transform: rotateY(180deg); */
}

.face-two {
  background-color: #3d4859;
  backface-visibility: visible;
}

.face-three {
  /* transform: rotateY(360deg); */
  backface-visibility: hidden;
  background-color: #3d4859;
}

#chart-cluster {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #dddddd; */
}

#bub-chart {
  width: 90%;
  height: 90%;
}

#rdg-legend {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  align-items: flex-start;
  border-left: 2px solid #dddddd;
  list-style: none;
  position: absolute;
  top: 0;
}

.lgi {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  margin: 0;
  border-top: 1px solid #dddddd;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  cursor: pointer;
}

.lgi h3 {
  font-size: 1.2em;
}

.lgi:hover {
  color: rgb(0, 153, 191);
}

.active {
  color: #c87d5c;
}

.add-bldg {
  position: absolute;
  right: 20px;
  height: 100px;
  width: 100px;
  cursor: pointer;
  top: 50%;
}

.add-bldg img:hover {
  background-color: rgb(0, 153, 191);
  border-radius: 100%;
}

.add-bldg img {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  width: 50px;
}

.icon-header {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #3d4859;
}

.active {
  background-color: #3d4859;
}

.icon-header-panel {
  width: 20%;
  height: 120px;
  padding-top: 20px;
  cursor: pointer;
}

.icon-header-panel:hover {
  background-color: rgb(0, 153, 191);
}

.icon-header-panel img {
  height: 70%;
}

</style>
