<template>
  <div class="room-front-outer">
    <div class="status-bar" :style="{'background-color': setStatus(), 'height': '8px'}"></div>
    <h1>{{room.name}}</h1>
    <h3 style="color:#0b5bae;width:100%;text-align:left;padding-left:3%;margin-top:0;margin-bottom:9%;">{{bName}}</h3>
    <div class="card-section hvac-section">
      <img style="width: 18%;margin-left:2%;" src="@/assets/acHeart.png" />
      <div class="card-section-cluster">
        <div class="card-section-panel left-section-panel">
          <img style="margin-right:10px;" src="@/assets/filterOfficial.png" />
          <h2 :style="{'color': calcStatus('days'), 'margin': 0, 'font-size': '3em'}">{{room.avg.days}}</h2>
          <h4 style="margin:0;">Days<br />Remaining</h4>
        </div>
        <div class="card-section-spacer"></div>
        <div class="card-section-panel right-section-panel" style="justify-content:center;">
          <h4>Projected <br /> Maintenance</h4>
          <h3 :style="{'color': calcStatus('days')}">{{projectedDate(room.avg.days)}}</h3>
        </div>
      </div>
    </div>
    <div class="card-section aq-section">
      <img style="width: 18%;margin-left:2%;" src="@/assets/airHeart.png" />
      <div class="card-section-cluster">
        <div class="card-section-panel left-section-panel">
          <div class="temp-hum">
            <div class="temp-hum-panel">
              <img src="@/assets/temp.png" style="margin-right: 10px;"/>
              <h3 :style="{'color': calcStatus('ttp')}">{{room.avg.ttp}}˚C</h3>
            </div>
            <div class="horizontal-spacer"></div>
            <div class="temp-hum-panel">
              <img src="@/assets/hum.png" style="margin-right: 10px;"/>
              <h3 :style="{'color': calcStatus('hhm'), 'display': 'flex'}">{{room.avg.hhm}}<span style="margin-left: 6px;">%</span></h3>
            </div>
          </div>
        </div>
        <div class="card-section-spacer"></div>
        <div class="card-section-panel right-section-panel" style="justify-content:center;">
          <div class="temp-hum">
            <div class="temp-hum-panel" style="padding-right:8px;">
              <img src="@/assets/tvoc.png"/>
              <h3 :style="{'color': calcStatus('iaq'), 'margin-left': '20%'}">{{room.avg.iaq}}</h3>
            </div>
            <div class="horizontal-spacer"></div>
            <div class="temp-hum-panel" style="padding-right:8px;">
              <img src="@/assets/ECO2Text.png"/>
              <h3 :style="{'color': calcStatus('co2'), 'margin-left': '10%'}">{{room.avg.co2}} <span style="font-size:0.5em">PPM</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import moment from 'moment';

export default {
  data(){
    return {
      room: {},
      tkn: '',
      lastUpdated: ''
    }
  },
  methods: {
    setStatus(){
      if (this.room.alerts.crit > 0) {
        return '#fc0005';
      } else if (this.room.alerts.bad > 0) {
        return '#ffff08';
      } else {
        return '#4ba34f';
      }
    },
    calcStatus(rdg){
      let good = '#4ba34f';
      let bad = '#ffff08';
      let crit = '#fc0005';
      if (rdg === 'days') {
        if (this.room.avg[rdg] <= 5) {
          return crit;
        } else if (this.room.avg[rdg] > 5 && this.room.avg[rdg] <= 15) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'ttp') {
        if (this.room.avg[rdg] <= 0 || this.room.avg[rdg] >= 29) {
          return crit;
        } else if ((this.room.avg[rdg] >= 10 && this.room.avg[rdg] <= 18) || (this.room.avg[rdg] <= 28 && this.room.avg[rdg] >= 19)) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'hhm') {
        if (this.room.avg[rdg] < 20 || this.room.avg[rdg] > 80) {
          return crit;
        } else if (this.room.avg[rdg] > 40 && rdg < 80) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'iaq') {
        if (this.room.avg[rdg] > 250) {
          return crit;
        } else if (this.room.avg[rdg] > 100) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'co2') {
        if (this.room.avg[rdg] >= 1000) {
          return crit;
        } else if (this.room.avg[rdg] >= 350) {
          return bad;
        } else {
          return good;
        }
      }
      if (rdg === 'alert') {
        if (this.room.alerts && this.room.alerts.crit > 0) {
          return crit;
        }  else if (this.room.alerts && this.room.alerts.bad > 0) {
          return bad;
        } else {
          return good;
        }
      }
    },
    projectedDate(days){
      try {
        return moment(Date.now() + (days * 86400000)).format('L');
      } catch(err) {
        return '-'
      }
    }
  },
  mounted(){
    this.room = this.$route.params.room;
    this.tkn = this.$route.params.tkn;
    this.bName = this.$route.params.bName;
    this.lastUpdated = moment(this.room.tms * 1000).format('LLL');
    console.log(this.room);
  }
}
</script>

<style>

.room-front-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

</style>
