<template>
  <div id="add-room-outer">

    <div class="placard" v-if="step === 1">
      <h2>It looks like this is the first room you want to monitor on this floor</h2>
      <h1 class="divider">˚ ˚ ˚</h1>
      <h4>
        First, we'll take a moment to set up the floor itself.<br /><br />It looks like you want to set up Floor {{floor.floorIndex}}
      </h4>
      <h1 class="divider">˚ ˚ ˚</h1>
      <h4>You have the option to give the new floor a name<br /><br />If you'd like to enter a customized name, enter it below</h4>
      <input class="signup-input room-input" v-model="floorName" />
      <button class="btn-lg btn-primary" @click="progress(1)">Next</button>
    </div>

    <div class="placard" v-if="step === 2">
      <h2>We'll begin setting up your device by gathering some core info</h2>
      <h1 class="divider">˚ ˚ ˚</h1>
      <h4>
        Please take the time to carefully step through these options<br /> <br />This will help Breezi-Pro accurately monitor your property
      </h4>
      <h1 class="divider">˚ ˚ ˚</h1>
      <h4>
        You will need to initialize your newly-monitored room with a name<br /> <br />This will allow you to track this room's condition after you finish setup
      </h4>
      <input class="signup-input room-input" v-model="roomName" placeholder="room name"/>
      <button class="btn btn-primary" @click="progress(2, ['roomName'])">Next</button>
    </div>

    <div class="placard" v-if="step === 3">
      <h2>Enter the AirPulse serial number</h2>
      <h1 class="divider">˚ ˚ ˚</h1>
      <h4>
        This 7-digit number is printed on the packaging for the device<br /><br />It will be preceded by 'AP'
      </h4>
      <h1 class="divider">˚ ˚ ˚</h1>
      <div class="input-horizontal">
        <h3 style="color:white;">AP</h3>
        <input class="signup-input room-input" v-model="did" placeholder="SERIAL NUM"/>
      </div>
      <button class="btn btn-primary" @click="progress(3, ['did'])">Next</button>
    </div>

    <div class="placard placard-filter" v-if="step === 4">
      <h2>Track the condition of a filter in this room?</h2>
      <img style="width: 30%;" src="@/assets/filter.png" />
      <div class="big-btn" id="big-btn-yes" @click="initFilter()">
        <h2 style="cursor:pointer;" @click="initFilter()">YES</h2>
      </div>
      <div class="big-btn" id="big-btn-yes" @click="initAq()">
        <h2 style="cursor:pointer;" @click="initAq()">NO</h2>
      </div>
    </div>

    <div class="placard placard-filter" v-if="step === 5">
      <h2>What type of equipment will this AirPulse monitor?</h2>
      <img style="width: 10%;" src="@/assets/filter.png" />
      <div class="placard-choices">
        <div class="placard-column">
          <h5 class="list-group-item" @click="setConfig('fcu')">FCU (Fan Coil Unit)</h5>
          <h5 class="list-group-item" @click="setConfig('vav')">VAV (Variable Air Volume)</h5>
          <h5 class="list-group-item" @click="setConfig('vtac')">FCU (Vertical Terminal)</h5>
          <h5></h5>
        </div>
        <div class="placard-column">
          <h5 class="list-group-item" @click="setConfig('vrf')">VRF (Variable Refrigerant)</h5>
          <h5 class="list-group-item" @click="setConfig('ptac')">PTAC (Packaged Terminal)</h5>
          <h5 class="list-group-item" @click="setConfig('mini')">MINI (Mini Split AC)</h5>
          <h5 class="list-group-item" @click="setConfig('other')" style="background-color:rgba(0,0,0,0);color:white;">Another type</h5>
        </div>
      </div>
    </div>

    <div class="placard placard-filter" v-if="step === 6">
      <h2>Let's gather some information on the equipment to be monitored</h2>
      <img style="width: 10%;" src="@/assets/filter.png" />
      <div class="placard-choices">
        <div class="placard-column" style="width:80%;justify-content: space-around;">
          <input class="filter-input" v-model="manufacturer" placeholder="equip. manufacturerer (optional)" />
          <input class="filter-input" v-model="modelNumber" placeholder="model number (optional)" />
          <button class="btn btn-primary" @click="progress(6, ['did'])">Next</button>
        </div>
      </div>
    </div>

    <div class="placard placard-filter" v-if="step === 7">
      <h2>What type of equipment will this AirPulse monitor?</h2>
      <img style="width: 10%;" src="@/assets/filter.png" />
      <div class="placard-choices">
        <div class="placard-column">
          <h5 class="list-group-item filter-second" @click="setFType('hepa')">HEPA Filter</h5>
          <h5 class="list-group-item filter-second" @click="setFType('panel')">Panel Filter</h5>
          <h5 class="list-group-item filter-second" @click="setFType('pleated')">Pleated Filter</h5>
          <h5 class="list-group-item filter-second" @click="setFType('mediaPad')">Media Pad Filter</h5>
        </div>
        <div class="placard-column" id="filter-second">
          <h5 class="list-group-item filter-second" @click="setFType('mediaRoll')">Media Roll Filter</h5>
          <h5 class="list-group-item filter-second" @click="setFType('paintBooth')">Paint Booth Filter</h5>
          <h5 class="list-group-item filter-second" @click="setFType('box')">Box Filter</h5>
          <h5 class="list-group-item filter-second" @click="setFType('bag')">Box Filter</h5>
        </div>
      </div>
    </div>

    <div class="placard placard-filter" v-if="step === 8">
      <h2>Now the air filter</h2>
      <img style="width: 10%;" src="@/assets/filter.png" />
      <div class="placard-choices">
        <div class="placard-column" style="width:80%;justify-content: space-around;">
          <input class="filter-input" v-model="fBrand" placeholder="filter brand" />
          <input class="filter-input" v-model="fModel" placeholder="filter model (optional)" />
          <div id="filter-size-box">
            <h4>Size:</h4>
            <input v-model="height" placeholder="H"/>
            <h4>x</h4>
            <input v-model="width" placeholder="W"/>
            <h4>x</h4>
            <input v-model="depth" placeholder="D"/>
          </div>
          <!-- <input class="filter-input" v-model="fModel" placeholder="filter model (optional)" /> -->
          <button class="btn btn-primary" @click="progress(8, ['did'])">Next</button>
        </div>
      </div>
    </div>

    <div class="placard placard-aq" v-if="step === 9">
      <h2>Monitor the Air Quality in this room?</h2>
      <img style="width: 25%;" src="@/assets/aq.png" />
      <div class="big-btn" id="big-btn-yes" @click="initFilter()">
        <h2 style="cursor:pointer;" @click="finalize(true)">YES</h2>
      </div>
      <div class="big-btn" id="big-btn-yes" @click="initAq()">
        <h2 style="cursor:pointer;" @click="finalize(false)">NO</h2>
      </div>
    </div>

    <!-- FILTER SETUP -->

    <a class="btn btn-warning" id="back-btn-ar" @click="goBack()">Back</a>

  </div>
</template>

<script>

const aqSet = ['hhm', 'htp', 'voc', 'iaq'];
const filterSet = ['run'];

import axios from 'axios';

export default {
  data(){
    return {
      tkn: '',
      step: 0,
      newFloor: false,
      floorName: `Floor ${this.floor.index}`,
      roomName: '',
      rdgSet: ['bat', 'bmv', 'fwv', 'sig', 'did', 'ctr', 'dpr', 'hpr', 'tpr'],
      isAQ: false,
      isFilter: false,
      equip: false,
      filter: false,
      configuration: '',
      equipLabel: 'Choose',
      filterLabel: 'Choose',
      manufacturer: '',
      modelNumber: '',
      fBrand: '',
      fModel: '',
      fType: '',
      hvacName: '',
      did: '',
      width: '',
      height: '',
      depth: ''
    }
  },
  props: ['floor'],
  methods: {
    goBack(){
      console.log('move back')
      this.$emit('fromAddRoom');
    },
    progress(n, vals){
      let self = this;
      if (vals) {
        function hasProp(val){
          return self[val];
        }
        if (!vals.every(hasProp)) {
          // HANDLE VALIDATION ERROR HERE
        }
      }
      this.step = n + 1;
    },

    initFilter(){
      this.rdgSet = this.rdgSet.concat(filterSet);
      this.isFilter = true;
      this.step = 5;
    },

    initAq(){
      this.step = 9;
    },

    setConfig(val){
      this.configuration = val;
      this.progress(5);
    },

    setFType(val){
      this.fType = val;
      this.progress(7);
    },

    finalize(b){
      if (b === true) {
        this.rdgSet = this.rdgSet.concat(aqSet);
        this.isAQ = true;
      }
      this.initPost();
    },
    initPost(){

      let body = {
         ac: this.isFilter,
         aq: this.isAQ,
         hvacName: this.roomName,
         configuration: this.configuration,
         airFilters: [],
         device: parseInt(this.did),
         floorIndex: this.floor.floorIndex,
         buildingId: this.floor.bId,
         floorName: this.floorName,
         hardwareVersion: " "
       }
       if (this.width !== '' && this.height !== '' && this.depth !== '') {
         body.size = `${this.height}x${this.width}x${this.depth}`;
       }
       let self = this;
       ['configuration', 'manufacturer', 'modelNumber', 'fBrand', 'fModel', 'fType'].map(i => {
         if (self[i] !== '') {
           body[i] = self[i]
         }
       });
       console.log(body);
      let params = {
        body: JSON.stringify(body),
        headers: {
          Authorization: this.tkn,
          'Content-Type': 'application/json'
        }
      };
      const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/rooms';
      axios({
        method: 'POST',
        url: url,
        headers: params.headers,
        data: params.body
      }).then(res => {
        this.$emit('fromAddRoom', {reload: true});
      }).catch(err => {
        // alert('The information you added was invalid or incomplete. Please start over');
        // Object.keys(self).map(s => {
        //   if (s !== 'tkn' && s !== 'step' && s !== 'newFloor') {
        //     self[s] = '';
        //   }
        // });
        this.step = this.newFloor === true
          ? 1 : 2;
          this.$emit('fromAddRoom');
      });
    }
  },
  mounted(){
    if (!this.floor.newFloor) {
      this.step = 2
    } else {
      this.step = 1;
    }
    this.tkn = this.$route.params.tkn;
    this.floorName = `Floor ${this.floor.floorIndex}`
  }
}

</script>

<style>

#add-room-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #202425;
}

.placard {
  height: 90%;
  width: 60%;
  padding: 1%;
  background-color: #084c61;
  box-shadow: 1.2px 1.2px 1.2px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.room-input {
  color: white;
}

.placard h2 {
  color: white;
  margin: 0;
}

.divider {
  color: white;
}

.placard h4 {
  margin: 0;
  color: rgb(0, 153, 191);
}

.placard-blue {
  background-color: #464f51;
}

.placard-aq {
  background-color: #3e3bca;
}

.input-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placard ::placeholder {
  color: gray;
}

.placard-filter {
  background-color: #3b9d38;
}

.placard-choices {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placard-column {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.placard-column h5 {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 37%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60px;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em; */
}

.placard h5:hover {
  background-color: white;
  color: rgb(0, 153, 191);
}

.filter-input {
  width: 70%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgb(0, 153, 191);
  color: white;
}

.placard-column input::placeholder {
  color: lightgray;
  font-size: 1.1em;
}

.filter-second {
  height: 35%;
}

#filter-size-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filter-size-box input {
  width: 10%;
}

#filter-size-box h4 {
  color: white;
}


.single-half {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10% 1% 10% 1%;
}

.form-quarter h3 {
  color: #3c3375;
}

#back-btn-ar {
  position: absolute;
  top: 2%;
  left: 2%;
}

.schema-selector {
  height: 40%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 2em;
  box-shadow: 1.2px 1.2px 1.2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  color: #e3dfe3;
}

.schema-selector img {
  height: 60px;
}

#aq-selector {
  background-color: #464fb6;
}

#filter-selector {
  background-color: #61a24f;
}

#both-selector {
  background-color: #b64546;
}

.form-half img {
  width: 20%;
}

#filter-half {
  background-color: #508541;
}

#aq-half {
  background-color: #373f91;
}

.form-quarters {
  width: 95%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-quarter {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4em;
  align-items: center;
}

#equip-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #61a24f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10% 0 10% 0;
}

.mask h4 {
  border: 2px solid #464649;
  color: #464649;
  padding: 1%;
  width: 40%;
  text-align: left;
  cursor: pointer;
}

.mask h4:hover {
  background-color: rgb(0, 153, 191);
  color: white;
  border: 2px solid white;
}

#dimensions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimension {
  width: 40px;
  margin: 2em;
  border: none;
  border-bottom: 2px solid rgb(0, 153, 191);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

::placeholder {
  /* color: #464649; */
}

</style>
