<template>
  <div id="building-outer">
    <div class="bldg-panel" v-for="(bldg, index) in buildings" v-if="!addBldg" @click="initSingleBuilding(index)">
      <h2 style="color:rgb(0,153,191);"><u>{{bldg.name}}</u></h2>
      <h3>{{bldg.street}}{{bldg.streetExtended}}</h3>
      <h3>{{bldg.city}}, {{bldg.state}}, {{bldg.zipCode}}</h3>
      <h3>{{bldg.country}}</h3>
      <div class="bldg-icons">
        <img src="@/assets/message.png" />
        <img src="@/assets/health.png"></imgs>
      </div>
    </div>
    <div class="bldg-panel" v-if="!addBldg" @click="initNewBuilding()">
      <img id="add-bldg" src="@/assets/plus.png" />
      <h2 style="color:#7f7f7f;">Add Building</h2>
    </div>
    <add-building-component v-if="addBldg" v-on:fromAddBuilding="initReload($event)"></add-building-component>
  </div>
</template>

<script>

import axios from 'axios';
import Add from './AddBuilding';

export default {
  data(){
    return {
      msg: 'Howdy from buildings',
      addBldg: false
    }
  },
  props: ['buildings'],
  components: {
    'add-building-component': Add
  },
  methods: {
    initNewBuilding(){
      this.addBldg = true;
    },
    initReload(event){
      this.addBldg = false;
      this.tkn = this.$route.params.tkn;
      if (event.reload) {
        axios.get('https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle',
                  {headers: {Authorization: this.tkn, 'Content-Type': 'application/json'}})
                  .then(bundle => {
                    bundle = bundle.data;
                    // SAVE DATA TO LOCAL STORAGE W TIMESTAMP 1hr
                    this.buildings = bundle.buildings;
                  });
      }
    },
    initSingleBuilding(i){
      this.$emit('fromBuildings', this.buildings[i]);
    }
  },
  watch: {
    'buildings': (newData, oldData) => {
      if (newData[0]) {
        this.buildings = newData;
      }
    }
  }
}

</script>

<style>

#building-outer {
  width: 60vw;
  max-width: 1750px;
  height: 60vh;
  background-color: #2c2b41;
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  overflow-y: scroll;
}

.bldg-panel {
  width: 300px;
  height: 60%;
  background-color: #1e1d2a;
  margin: 2em;
  box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.bldg-panel:hover {
  background: linear-gradient(#abb0ac 80%,#c4d2ea);
  border: 3px solid rgb(0, 153, 191);
}

.bldg-panel h2, h3 {
  color: #e9eee8;
  margin: 1em;
  word-break: break-all;
  margin: 0;
}

#add-bldg {
  width: 40%;
  height: auto;
}

.onboard-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9eee8;
  flex-wrap: wrap;
}

.form-half {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bldg-icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
}

.bldg-icons img {
  width: 25%;
  height: auto;
}

</style>
