<template>
  <div id="floor-outer">
    <div v-for="(floor, index) in above" :class="isActive(floor)">
      <h4 style="color:#e3e4e3;">Floor {{bldg.floors.aboveGround - index}}</h4>
      <img class="add-floor" @click="openFloor(floor.index)" src="@/assets/plus.png" />
    </div>
    <div id="ground-level">
      <h4>Ground Level</h4>
    </div>
    <div v-for="(floor, index) in below" :class="isActive(floor)" style="margin-top:12px;">
      <h4 style="color:#e3e4e3;">Floor {{-1 - index}}</h4>
    </div>
  </div>
</template>

<script>

export default {
  data(){
    return {
      msg: 'Hello from Floors',
      above: [],
      below: [],
      activeFloors: []
    }
  },
  props: ['bldg'],
  methods: {

    initFloors(){

      for (let i = 0; i < this.bldg.floors.aboveGround; i++) {
        this.above.unshift({
          index: i,
          active: this.bldg.floors.active.map(a => a.index).indexOf(i) > -1
            ? true
            : false
        })
      }
      for (let i = 0; i < this.bldg.floors.belowGround; i++) {
        this.below.push({
          index: i,
          active: this.bldg.floors.active.map(a => a.index).indexOf(0 - i) > -1
            ? true
            : false
        })
      }

      this.activeFloors = this.bldg.floors.active.map(f => f.id);
      console.log(this.activeFloors);

    },

    isActive(floor){
      return floor.active ? 'active-floor' : 'inactive-floor';
    },

    openFloor(index){

      // isActive?
      this.$emit('fromFloors', {newFloor: true, bId: this.bldg.id, index: index + 1});

    }

  },
  mounted(){

    this.initFloors();

  }
}

</script>

<style>

#floor-outer {
  width: 60vw;
  max-width: 1750px;
  height: 60vh;
  background-color: #2c2b41;
  margin-top: 3vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  flex-flow: wrap;
  overflow-y: scroll;
  padding: 1em;
}

#ground-level {
  width: 90%;
  height: 4px;
  background-color: green;
  display: flex;
  color: green;
  margin: 1em;
  margin-bottom: 2em;
}

.inactive-floor {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  background-color: #1e1d2a;
  padding-left: 1em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin: 0.4em;
}

.inactive-floor:hover {
  /* background-color: rgb(0, 153, 191); */
}

.add-floor {
  height: 22px;
  cursor: pointer;
}

.add-floor:hover {
  background-color: white;
  border-radius: 100%;
}

</style>
