<template>
  <div id="monitor-outer">
    <div id="monitor-logo">
      <img src="@/assets/breezi_pro.png" />
      <!-- <h6 style="color:rgb(0,153,191);">Predictive Maintenance for Commercial HVAC</h6> -->
    </div>
    <div id="monitor-header">
      <div class="header-img">
        <img src="@/assets/company.png" class="hq" />
        <h4 style="color:#e5e5e5;">{{bldgName}}</h4>
      </div>
      <h2 style="color:rgb(0, 153, 191);">{{bldgAddress}}</h2>
      <div id="monitored-check" class="header-img">
          <img src="@/assets/network.png" class="hq"/>
          <h4 style="color:#e5e5e5;">Team</h4>
      </div>
    </div>
    <building-component v-if="mod === 'buildings'" :buildings="buildings" v-on:fromBuildings="initFloors($event)"></building-component>
    <floor-component v-if="mod === 'floors'" :bldg="bldg" v-on:fromFloors="initRooms($event)"></floor-component>
    <room-component v-if="mod === 'rooms'" :floor="floor" v-on:fromRooms=""></room-component>
  </div>
</template>

<script>

import axios from 'axios';
import Building from './Building';
import Floor from './Floor';
import Room from './Room';

export default {
  data(){
    return {
      tkn: '',
      mod: '',
      buildings: [],
      floors: 0,
      rooms: 0,
      admin: {},
      org: {},
      bldg: {},
      bldgName: '',
      bldgAddress: '',
      floor: {}
    }
  },
  components: {
    'building-component': Building,
    'floor-component': Floor,
    'room-component': Room
  },
  methods: {
    getBundle(){
      let headers = {Authorization: this.tkn}
      axios.get('https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle',
                {headers: {Authorization: this.tkn, 'Content-Type': 'application/json'}})
                .then(bundle => {
                  bundle = bundle.data;
                  // SAVE DATA TO LOCAL STORAGE W TIMESTAMP 1hr
                  this.buildings = bundle.buildings;
                  this.admin = bundle.admin;
                  this.org = bundle.organization;
                  this.bldgName = this.org.name;
                });

    },
    initFloors(event){
      this.mod = 'floors';
      this.bldgAddress = `${event.street}${event.streetExtended} ${event.city}, ${event.state} ${event.zipCode} | ${event.country}`;
      this.bldgName = event.name;
      this.bldg = event;
    },
    initRooms(event){
      this.mod = 'rooms';
      this.bldgAddress = `Floor ${event.index}`;
      this.floor = {bId: event.bId, floorIndex: event.index, newFloor: event.newFloor};
    }

  },
  mounted(){
    this.tkn = this.$route.params.tkn;
    this.mod = this.$route.params.mod;
    this.getBundle(this.tkn);
  }
}

</script>

<style>

#monitor-outer {
  width: 100vw;
  height: 100vh;
  background-color: #1e1d2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#monitor-logo {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1em;
  width: 100vw;
  background-color: #191c1d;
  padding-top: 8px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.6);
  word-wrap: break-word;
}

#monitor-logo img {
  width: 40%;
  max-width: 250px;
  /* border-bottom: 2px solid rgb(0, 153, 191); */
  padding: 4px;
}

#monitor-logo h5 {
  margin-top: 4px;
  font-size: 1.2em;
  width: 40%;
  max-width: 200px;
}

#monitor-header {
  width: 60vw;
  max-width: 1750px;
  height: 16vh;
  max-height: 200px;
  background-color: #2c2b41;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 10vh;
}

.header-img {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 153, 191);
  /* position: absolute; */
  /* left: 2%; */
}

.header-img img {
  width: 50%;
  height: auto;
}

.hq {
  height: 60%;
}

.header-text {
  height: 70%;
  max-width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(0, 153, 191);
  text-align: left;
  font-weight: 400;
}

.header-text h4 {
  margin: 0;
  font-size: 1.5em;
}

#weather {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  width: 50px;
  margin-right: 30px;
}

.weather-text {
  color: #eef3f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-text h5 {
  margin: 4px;
}

#monitored-check {
  height: 100%;
  width: 15%;
  background-color: #f49b4b;;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
