<template>
  <div id="rooms-outer">
    <div class="bldg-panel" @click="initNewRoom()" v-if="!onboard">
      <img id="add-room" src="@/assets/plus.png" />
      <h2 style="color:#7f7f7f;">Add Room</h2>
    </div>
    <div class="bldg-panel" v-for="(room, index) in floor.rooms" v-if="!onboard">
      <h1>{{room.hvacName}}</h1>
    </div>
    <add-room-component v-if="onboard == true" :floor="floor" v-on:fromAddRoom="roomAdded($event)"></add-room-component>
  </div>
</template>

<script>

import Add from './AddRoom';
import axios from 'axios';

export default {
  data(){
    return {
      onboard: false
    }
  },
  props: ['floor'],
  components: {
    'add-room-component': Add
  },
  methods: {
    initNewRoom(){
      this.onboard = true;
    },
    roomAdded(event){
      this.floor.floorIndex = parseInt(this.floor.floorIndex);
      this.onboard = false;
      console.log(event);
      if (event.reload) {
        axios.get(`https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle/${this.floor.bId}?floor=${this.floor.floorIndex}`,
                  {headers: {Authorization: this.tkn, 'Content-Type': 'application/json'}})
                  .then(bundle => {
                    this.floor = bundle.data;
                  });
      }
    }
  },
  mounted(){
    console.log(this.floor);
    this.tkn = this.$route.params.tkn;
  }
}

</script>

<style>

#rooms-outer {
    width: 60vw;
    max-width: 1750px;
    height: 60vh;
    background-color: #2c2b41;
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    overflow-y: scroll;
}

#left-room-form {
  background-color: #084c61;
}

#right-room-form {
  background-color: #464f51;
}

</style>
