<template>
  <div id="add-room-outer">
    <div class="card" style="background-color:rgba(53,143,240,0.12);border: 1px solid #35b7f0;cursor:none;">
      <img src="@/assets/plus.png" style="height:100px;width:100px;background-color:rgb(0,153,191);border-radius:100%;cursor:none;"/>
      <h3 style="color:rgb(0, 153, 191);">New Room</h3>
    </div>

    <div class="lucent-panel room-lucent">
      <div class="room-slider">
        <div class="room-slider-node" v-for="(prop, index) in nodes">
          <div class="node-line line-to" v-if="lineTo(index)"></div>
          <h5 v-if="steps.indexOf(index) < 0" style="color:white;marign:0;position:absolute;top:0;">{{prop}}</h5>
          <h5 style="margin:0;" :class="isActive(index)">{{index + 1}}</h5>
          <div class="node-line line-from" v-if="lineFrom(index)"></div>
        </div>
      </div>
      <div class="onboard-page">
        <h2 style="color:white;">{{stepName}}</h2>
        <div class="field-set" v-if="stepName === 'Floor'">
          <input class="room-input" style="margin-top:30%;" v-model="floorName" name="floor-name"/>
          <label for="floor-name" class="room-label">Floor Name</label>
          <a v-if="floorName.length > 0" class="room-next-btn" @click="progress(-1)">Next</a>
        </div>
        <div class="field-set" v-if="stepName === 'Room'">
          <input class="room-input" style="margin-top:30%;" v-model="roomName" name="room-name"/>
          <label for="floor-name" class="room-label">Room Name</label>
          <a v-if="roomName.length > 0" class="room-next-btn" @click="progress(0)">Next</a>
        </div>
        <div class="field-set" v-if="stepName === 'AirPulse'">
          <input class="room-input" style="margin-top:30%;" v-model="did" name="did"/>
          <label for="did" class="room-label">AirPulse Id (7-digit)</label>
          <a v-if="did.length > 0 && !isNaN(did)" class="room-next-btn" @click="progress(1)">Next</a>
        </div>
        <div class="field-set" v-if="stepName === 'HVAC'">
          <div class="config-span" v-if="!ventInfo">
            <div v-for="(config, index) in configs" :class="activeConfig(index)" @click="setConfig(config, index)">
              <h3>{{config.name}}</h3>
              <small>{{config.sub}}</small>
            </div>
          </div>
          <input v-if="ventInfo" class="room-input" style="margin-top:10%;" v-model="manufacturer" name="manufacturer"/>
          <label v-if="ventInfo" for="manufacturer" class="room-label">Equipment Manufactuerer (optional)</label>
          <input v-if="ventInfo" class="room-input" style="margin-top:10%;" v-model="modelNumber" name="model-number"/>
          <label v-if="ventInfo" for="model-number" class="room-label">Model No (optional)</label>
          <a v-if="ventInfo" class="room-next-btn" @click="progress(2)">Next</a>
          <a v-if="configuration !== '' && !ventInfo" class="room-next-btn" @click="ventInfo = true">Next</a>
        </div>
        <div class="field-set" v-if="stepName === 'Filter'" style="width:100%;">
          <div class="config-span" v-if="!filterInfo && !filterSize">
            <div v-for="(type, index) in types" :class="typeActive(index)" @click="setFilter(type, index)">
              <h5>{{type}} FILTER</h5>
            </div>
          </div>
          <input v-if="filterInfo && !filterSize" class="room-input" style="margin-top:10%;" v-model="fBrand" name="filter-brand"/>
          <label v-if="filterInfo && !filterSize" for="filter-brand" class="room-label">Filter Brand (optional)</label>
          <input v-if="filterInfo && !filterSize" class="room-input" style="margin-top:10%;" v-model="fModel" name="filter-model"/>
          <label v-if="filterInfo && !filterSize" for="filter-model" class="room-label">Filter Model (optional)</label>
          <a v-if="filterInfo && !filterSize" class="room-next-btn" @click="filterSize = true">Next</a>
          <a v-if="fType !== '' && !filterInfo && !filterSize" class="room-next-btn" @click="filterInfo = true">Next</a>
          <div class="size-span" v-if="filterSize">
            <h5 style="color:white;width:20%;">Size (in.)</h5>
            <input class="size-input" v-model="height" placeholder="H"/>
            <h4>x</h4>
            <input class="size-input" v-model="width" placeholder="W"/>
            <h4>x</h4>
            <input class="size-input" v-model="depth" placeholder="D"/>
          </div>
          <a v-if="height !== '' && width !== '' && depth !== ''" class="room-next-btn" @click="compileSummary()">Next</a>
        </div>
        <div class="field-set" v-if="stepName === 'Summary'" style="width: 100%;">
          <div class="config-span">
            <div v-for="(sum, index) in summary" style="padding:0;cursor:default;background-color:rgba(0,0,0,0);" class="config-panel active-config-panel">
              <h5 style="color:gray;margin:0;">{{sum.name}}</h5>
              <h6 style="color:#35b7f0;margin:0;">{{sum.value}}</h6>
            </div>
          </div>
          <a class="room-next-btn" @click="finalize(true)">Submit</a>
        </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

const aqSet = ['hhm', 'htp', 'voc', 'iaq'];
const filterSet = ['run'];

import axios from 'axios';

export default {
  data(){
    return {

      nodes: ['Room', 'AirPulse', 'HVAC', 'Filter', 'Summary'],
      steps: [],
      newFloor: false,
      stepName: '',
      configs: [
        {
          name: 'FCU',
          sub: 'Fan Coil Unit'
        },
        {
          name: 'AHU',
          sub: 'Air Handling Unit'
        },
        {
          name: 'VAV',
          sub: 'Variable Air Volume Unit'
        },
        {
          name: 'VRF',
          sub: 'Variable Refrigerant Flow'
        },
        {
          name: 'PTAC',
          sub: 'Fan Coil Unit'
        },
        {
          name: 'VTAC',
          sub: 'Vertical Terminal Air Con'
        },
        {
          name: 'SPLIT',
          sub: 'Mini-split HVAC Unit'
        },
        {
          name: 'OTHER',
          sub: ''
        },
      ],
      configuration: '',
      floorName: ``,
      roomName: '',
      manufacturer: '',
      modelNumber: '',
      ventInfo: false,
      types: ['HEPA', 'PANEL', 'PLEATED', 'MEDIA PAD', 'MEDIA ROLL', 'PAINT BOOTH', 'BOX', 'BAG'],
      filterInfo: false,
      filterSize: false,
      active: -1,
      activeType: -1,
      summary: [],

      rdgSet: ['bat', 'bmv', 'fwv', 'sig', 'did', 'ctr', 'dpr', 'hpr', 'tpr'],
      isAQ: false,
      isFilter: false,
      equip: false,
      filter: false,
      equipLabel: 'Choose',
      filterLabel: 'Choose',
      fBrand: '',
      fModel: '',
      fType: '',
      hvacName: '',
      did: '',
      width: '',
      height: '',
      depth: ''
    }
  },
  props: ['floor', 'tkn'],
  methods: {
    goBack(){
      this.$emit('fromAddRoom');
    },

    isActive(i){
      return this.steps.indexOf(i) < 0
        ? 'node-core'
        : 'active-core';
    },

    lineFrom(i){
      if (i !== 4) {
        return true;
      } else {
        return false;
      }
    },

    lineTo(i){
      if (i !== 0) {
        return true;
      } else {
        return false;
      }
    },

    progress(n, vals){
      let self = this;
      if (vals) {
        function hasProp(val){
          return self[val];
        }
        if (!vals.every(hasProp)) {
          // HANDLE VALIDATION ERROR HERE
        }
      }
      this.steps.push(n);
      this.stepName = this.nodes[n + 1];
    },

    compileSummary(){
      this.summary = [
        {
          name: 'Floor Name',
          value: this.floorName
        },
        {
          name: 'Room Name',
          value: this.roomName
        },
        {
          name: 'AirPulse Id',
          value: this.did
        },
        {
          name: 'Configuration',
          value: this.configuration.toUpperCase()
        },
        {
          name: 'Equipment Manufactuerer',
          value: this.manufacturer
        },
        {
          name: 'Equipment Model',
          value: this.modelNumber
        },
        {
          name: 'Filter Type',
          value: this.fType
        },
        {
          name: 'Filter Brand',
          value: this.fBrand
        },
        {
          name: 'Filter Size',
          value: `${this.height} x ${this.width} x ${this.depth} in`
        }
      ];
      this.steps.push(3);
      this.stepName = 'Summary';
    },

    activeConfig(i){
      return i === this.active
        ? 'config-panel active-config-panel'
        : 'config-panel'
    },

    setConfig(config, i){
      this.configuration = config.name.toLowerCase();
      this.active = i;
    },

    setFilter(type, i) {
      this.fType = type.toLowerCase();
      this.activeType = i;
    },

    typeActive(i){
      return i === this.activeType
        ? 'config-panel active-config-panel'
        : 'config-panel';
    },


    initFilter(){
      this.rdgSet = this.rdgSet.concat(filterSet);
      this.isFilter = true;
      this.step = 5;
    },

    initAq(){
      this.step = 9;
    },

    setFType(val){
      this.fType = val;
      this.progress(7);
    },

    finalize(b){
      if (b === true) {
        this.rdgSet = this.rdgSet.concat(aqSet);
        this.isAQ = true;
      }
      this.initPost();
    },
    initPost(){

      let body = {
         ac: this.isFilter,
         aq: this.isAQ,
         hvacName: this.roomName,
         configuration: this.configuration,
         airFilters: [],
         device: parseInt(this.did),
         floorIndex: this.floor.index,
         buildingId: this.floor.bId,
         floorName: this.floorName,
         hardwareVersion: " "
       }
       if (this.width !== '' && this.height !== '' && this.depth !== '') {
         body.size = `${this.height}x${this.width}x${this.depth}`;
       }
       let self = this;
       ['configuration', 'manufacturer', 'modelNumber', 'fBrand', 'fModel', 'fType'].map(i => {
         if (self[i] !== '') {
           body[i] = self[i]
         }
       });
      let params = {
        body: JSON.stringify(body),
        headers: {
          Authorization: this.tkn,
          'Content-Type': 'application/json'
        }
      };
      const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/rooms';
      axios({
        method: 'POST',
        url: url,
        headers: params.headers,
        data: params.body
      }).then(res => {
        this.$emit('fromAddRoom', {bId: this.floor.bId, floorIndex: this.floor.index, tkn: this.tkn});
      }).catch(err => {
        // alert('The information you added was invalid or incomplete. Please start over');
        // Object.keys(self).map(s => {
        //   if (s !== 'tkn' && s !== 'step' && s !== 'newFloor') {
        //     self[s] = '';
        //   }
        // });
        this.step = this.newFloor === true
          ? 1 : 2;
          this.$emit('fromAddRoom');
      });
    }
  },
  mounted(){
    console.log(this.floor)
    if (this.floor.newFloor) {
      this.stepName = 'Floor';
    } else {
      this.stepName = 'Room';
    }
    this.floorName = this.floor.name
  },
  watch: {
    'steps': function(newData, oldData){
      this.steps = newData;
    }
  }
}

</script>

<style>

#add-room-outer {
  width: 85%;
  height: 410px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.placard {
  height: 90%;
  width: 60%;
  background-color: #084c61;
  box-shadow: 1.2px 1.2px 1.2px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .room-input {
  color: white;
} */

.placard h2 {
  color: white;
  margin: 0;
}

.divider {
  color: white;
}

.placard h4 {
  margin: 0;
  color: rgb(0, 153, 191);
  width: 97%;
  text-align: center;
}

.placard-blue {
  background-color: #464f51;
}

.placard-aq {
  background-color: #3e3bca;
}

.input-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placard ::placeholder {
  color: gray;
}

.placard-filter {
  background-color: #3b9d38;
}

.placard-choices {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placard-column {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.placard-column h5 {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 37%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60px;
  width: 100%;
  margin-left: 1em;
  margin-right: 1em; */
}

.placard h5:hover {
  background-color: white;
  color: rgb(0, 153, 191);
}

.filter-input {
  width: 70%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgb(0, 153, 191);
  color: white;
}

.placard-column input::placeholder {
  color: lightgray;
  font-size: 1.1em;
}

.filter-second {
  height: 35%;
}

#filter-size-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filter-size-box input {
  width: 10%;
}

#filter-size-box h4 {
  color: white;
}


.single-half {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10% 1% 10% 1%;
}

.form-quarter h3 {
  color: #3c3375;
}

.collapse-img {
  position: absolute;
  top: 2%;
  right: 2%;
}

.schema-selector {
  height: 40%;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 2em;
  box-shadow: 1.2px 1.2px 1.2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  color: #e3dfe3;
}

.schema-selector img {
  height: 60px;
}

#aq-selector {
  background-color: #464fb6;
}

#filter-selector {
  background-color: #61a24f;
}

#both-selector {
  background-color: #b64546;
}

.form-half img {
  width: 20%;
}

#filter-half {
  background-color: #508541;
}

#aq-half {
  background-color: #373f91;
}

.form-quarters {
  width: 95%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-quarter {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4em;
  align-items: center;
}

#equip-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #61a24f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10% 0 10% 0;
}

.mask h4 {
  border: 2px solid #464649;
  color: #464649;
  padding: 1%;
  width: 40%;
  text-align: left;
  cursor: pointer;
}

.mask h4:hover {
  background-color: rgb(0, 153, 191);
  color: white;
  border: 2px solid white;
}

#dimensions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimension {
  width: 40px;
  margin: 2em;
  border: none;
  border-bottom: 2px solid rgb(0, 153, 191);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.room-lucent {
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.room-slider {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10%;
}

.room-slider-node {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.node-core {
  border: 1px solid #35b7f0;
  color: #35b7f0;
  width: 18px;
  height: 18px;
  padding: 1px;
  border-radius: 100%;
}

.active-core {
  font-size: 1.5em;
  padding: 3px;
  background-color: #35b7f0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0;
}

.node-line {
  width: 39%;
  height: 2px;
  background-color: #35b7f0;
  position: absolute;
}

.line-to {
  left: 0;
}

.line-from {
  right: 0;
}

.field-set {
  width: 95%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.room-input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #35b7f0;
  height: 20px;
  color: white;
  font-size: 1.5em;
}

.room-label {
  margin-top: 10px;
  color: #35b7f0;
}

.room-next-btn {
  border: 1px solid #35b7f0;
  padding-left: 10px;
  padding-right: 10px;
  color: #35b7f0;
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  bottom: 30px;
}

.room-next-btn:hover {
  color: #2e2f2f;
  background-color: #35b7f0;
}

.size-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size-input {
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #35b7f0;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.sum-span:hover {
  background-color: none;
}

</style>
