<template>
  <div class="bldg-left-outer">
    <div class="mini-status-bar" :style="{'background-color': calcStatus(), 'display': 'flex', 'align-self': 'flex-end'}"></div>
    <h5 style="display:flex;align-self:flex-end;padding-right:2%;margin-top:6px;">{{room.name}}</h5>
    <h3 style="width:100%;display:flex;justify-content:flex-start;margin-left:4%;">Room History</h3>
    <div class="graph-header-sm">
      <div :class="isActive(0)" @click="activate(0)">
        <img src="@/assets/filterOfficial.png" />
      </div>
      <div :class="isActive(1)" @click="activate(1)">
        <img src="@/assets/temp.png" />
      </div>
      <div :class="isActive(2)" @click="activate(2)">
        <img src="@/assets/hum.png" />
      </div>
      <div :class="isActive(3)" @click="activate(3)">
        <img src="@/assets/tvoc.png" />
      </div>
      <div :class="isActive(4)" @click="activate(4)">
        <img src="@/assets/eCO2Text.png" />
      </div>
    </div>
    <div class="graph-panel-sm">
      <div id="room-chart"></div>
    </div>
    <!-- <div class="mini-status-bar" :style="{'background-color': calcStatus(), 'display': 'flex', 'align-self': 'flex-end'}"></div>
    <h5 style="display:flex;align-self:flex-end;margin:6px;">{{room.name}}</h5>
    <div class="graph-panel">
      <h4 style="width: 90%;text-align:left;">Room History</h4>
      <div class="chart-background-lg"></div>
    </div>
    <h4 style="margin-top:50px;width:100%;text-align:left;margin-left:60px;">Alerts</h4>
    <h5 style="margin-top:0px;display:flex;justify-content:space-around;align-items:center;"><span style="color:rgb(0,153,191);">Today</span> | <span style="color:#fc0005;">Critical</span> | <span style="color:#ffff08;">Warning</span></h5> -->
    <small class="last-updated">Last Updated: {{lastUpdated}}</small>
  </div>
</template>

<script>

  import moment from 'moment';
  import axios from 'axios';
  import VueHighcharts from 'vue-highcharts';
  import More from 'highcharts/highcharts-more';
  import Highcharts from 'highcharts';
  More(Highcharts);

  export default {
    data(){
      return {
        rdg: 'days',
        trends: {},
        activeTrends: [],
        margin: '50px',
        lastUpdated: ''
      }
    },
    props: ['room'],
    methods: {
      calcStatus(){
        let good = '#4ba34f';
        let bad = '#ffff08';
        let crit = '#fc0005';
        if (this.room.alerts.crit > 0) {
          return crit;
        } else if (this.room.alerts.bad > 0) {
          return bad;
        } else {
          return good;
        }
      },
      getTrends(){
        let url = `https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/trends/rooms/${this.room.id}`;
        axios.get(
          url,
          {
            headers: {
              Authorization: this.tkn,
              'Content-Type': 'application/json'
            }
          }
        ).then(rawTrends => {
          let trends = rawTrends.data.data;
          this.categories = trends.map(t => moment(t.tms*1000).format('MM/DD'));
          this.trends = [
            {
              name: 'Days Remaining',
              data: trends.map(t =>   t.dap.days  ),
              tooltip: {valueSuffix: ' d'}
            },
            {
              name: 'Temperature',
              data: trends.map(t => t.meas.ttp),
              tooltip: {valueSuffix: ' ˚C'}
            },
            {
              name: 'Humidity',
              data: trends.map(t => t.meas.hhm),
              tooltip: {valueSuffix: '%'}
            },
            {
              name : 'tVOC',
              data: trends.map(t => t.meas.iaq),
              tooltip: {valueSuffix: ''}
            },
            {
              name: 'CO2',
              data: trends.map(t => t.meas.co2),
              tooltip: {valueSuffix: 'PPM'}
            }
          ];
          this.activeTrends = [this.trends[1], this.trends[2], this.trends[3]];
          this.popChart(this.activeTrends);
        });
      },
      popChart(trends){
        let series = trends;
        let trendChart = {
          chart: {
            type: 'line',
            backgroundColor: '#12212c',
            width: 300,
            height: '70%'
          },

          title: false,
          xAxis: {
            categories: this.categories,
            units: '{this.term}'
          },
          yAxis: {
            title: false
          },
          legend: false,
          plotOptions: {
            line: {
              dataLabels: {
                useHTML: true
              }
            }
          },
          credits: false,
          series: series
        }
        this.target = Highcharts.chart('room-chart', trendChart);
      },
      activate(i){
        if (this.activeTrends.indexOf(this.trends[i]) > -1) {
          this.activeTrends = this.activeTrends.filter(a => a !== this.trends[i]);
        } else {
          this.activeTrends.push(this.trends[i]);
        }
        this.popChart(this.activeTrends);
      },
      isActive(i){
        if (this.activeTrends.indexOf(this.trends[i]) > -1) {
          return 'graph-header-panel-sm active-graph-header-panel-sm';
        } else {
          return 'graph-header-panel-sm';
        }
      }
    },
    mounted(){
      this.tkn = this.$route.params.tkn;
      this.lastUpdated = moment(this.room.tms * 1000).format('LL');
      this.getTrends();
    }
  }

</script>

<style>

.bldg-left-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.mini-status-bar {
  width: 20%;
  height: 6px;
  display: flex;
  align-self: flex-end;
}

.graph-panel-sm {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

.graph-panel img {
  width: 100%;
  height: 85%;
  margin-top: 20px;
}

.chart-background-lg {
  /* width: 280px; */
  margin-left: 10px;
  height: 205px;
  background-image: url('../../assets/nighchart.png');
  background-position:center;
  background-size: 90%;
  background-repeat: no-repeat;
}

.graph-header-sm {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 20px solid #12212c;
}

.graph-header-panel-sm {
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.graph-header-panel-sm:hover {
  background-color: gray;
}

.graph-header-panel-sm img {
  width: 20%;
  height: auto;
}

.active-graph-header-panel {
  background-color: #12212c;
  border-top: 2px solid rgb(0, 153, 191);
}

</style>
