<template>

  <main class="bldg-outer">
    <h3 style="margin-bottom:10px;" v-if="!onboard">{{bldg.name}}</h3>
    <div class="settings-block">
      <img v-if="!bldgSettings && !onboard" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/gearsWhite.png" class="bldg-config" @click="bldgConfig()" />
      <img v-if="bldgSettings && !onboard" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/back.png" class="bldg-config" @click="bldgConfig()" />
    </div>
    <div class="address-line" v-if="!onboard">
      <h5>{{bldg.street}}{{bldg.streetExtended !== ' ' ? ' ' + bldg.streetExtended : ''}}</h5>
      <h4>•</h4>
      <h5>{{bldg.city}}</h5>
      <h4>•</h4>
      <h5 v-if="bldg.state && bldg.state !== ' '">{{bldg.state}}</h5>
      <h4 v-if="bldg.state && bldg.state !== ' '">•</h4>
      <h5>{{bldg.zipCode}}</h5>
    </div>
    <div class="floors" v-if="!bldgSettings && !onboard">
      <div v-for="(floor, index) in bldg.floors" :class="isActive(floor)" @click="navFloor(floor)">
        <h5 v-if="isActive(floor) !== 'floor inactive-floor'">{{floor.name || `Floor ${floor.index}`}}</h5>
        <h5 v-if="isActive(floor) === 'floor inactive-floor'">{{`Floor ${floor.index}`}}</h5>
        <h6 v-if="isActive(floor) === 'floor inactive-floor'" style="font-size:2em;">+</h6>
        <img v-if="isActive(floor) !== 'floor inactive-floor'" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/expandWhite.png" />
      </div>
    </div>
    <div class="floors" v-if="bldgSettings && !onboard">
      <div class="floor warning-floor" @click="deleteReady = deleteReady === true ? false : true">
        <h5>Delete building</h5>
      </div>
      <h5 style="margin-top:20px;width:80%;line-height:1.5em;" v-if="deleteReady">Deleting this building will remove all floors, rooms, and AirPulse devices associated with this building.  If you're sure you want to delete this building, please enter the building name exactly as it appears above and hit 'Submit'.</h5>
      <input v-if="deleteReady" style="margin-top:30px" class="onboard-input" v-model="confirmBldgName" placeholder="Building name" />
      <btn v-if="confirmBldgName === bldg.name" style="margin-top:30px;" class="onboard-multi-btn" @click="submitDeleteBldg()">Submit</btn>
    </div>
    <onboard-room-component v-if="onboard && newFloor.index && tkn !== undefined" :newFloor="true" :floorIndex="newFloor.index" :tkn="tkn" :floorName="'Floor ' + newFloor.index" :bId="bldg.id" :devices="devices" v-on:finOnboard="closeOnboard($event)"></onboard-room-component>
  </main>

</template>

<script>

import axios from 'axios';

import Rest from '@/src/rest';
import Bundle from '@/src/bundle';

import Onboard from '@/components/onboard/Room';

export default {
  data(){
    return {
      bldg: '',
      tkn: '',
      bldgSettings: false,
      deleteReady: false,
      confirmBldgName: '',
      onboard: false,
      fIndex: -100,
      newFloor: {},
      devices: []
    }
  },
  components: {
    'onboard-room-component': Onboard
  },
  methods: {
    isActive(f){
      if (f.name === 'Ground Level') {
        return 'floor ground-level'
      }
      if (!f.active || !f.rooms || f.rooms.length < 1) {
          return 'floor inactive-floor';
      } else if (this.noRoomData(f)) {
        return 'floor floor-active';
      } else {
        if (f.overallAlerts.crit > 0) {
          return 'floor floor-active floor-crit';
        } else if (f.overallAlerts.bad > 0) {
          return 'floor floor-active floor-bad';
        } else {
          return 'floor floor-active floor-good';
        }
      }
    },
    noRoomData(f){
      let reduced = f.rooms.reduce((a, i) => {
        if (i.rdgs) {
          Object.keys(i.rdgs).map(r => {
            if (i.rdgs[r] !== '-') {
              a += i.rdgs[r];
            }
          })
        }
        return a;
      }, 0);
      return reduced === 0;
    },
    bldgConfig(){
      this.bldgSettings = this.bldgSettings === true
        ? false
        : true;
    },
    submitDeleteBldg(){
      if (!this.tkn || this.tkn === undefined) {
        alert('Session expired. Please log out and back in.');
        this.bldgSettings = false;
        this.deleteReady = false;
        this.confirmBldgName = '';
      } else {
        let url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/buildings/' + this.bldg.id;
        let headers = {
          Authorization: this.tkn,
          'Content-Type': 'application/json'
        };
        try {
            axios({
              method: 'DELETE',
              url: url,
              headers: headers
            }).then(res => {
            this.$router.push({
              name: window.innerWidth > 500 ? 'WebOrg' : 'Org'
            })
          })
        } catch(err) {
          alert('There was an error deleting this building. Please try again');
          this.bldgSettings = false;
          this.deleteReady = false;
          this.confirmBldgName = '';
        }
      }
    },
    navFloor(f){
      if (f.name === 'Ground Level') {
        return;
      }
      if (f.active || (f.rooms && f.rooms.length > 0)) {
        localStorage.setItem('breeziFloor', JSON.stringify(f));
        this.$emit('updateNav', {type: 'floor', floor: f});
        this.$router.push({
          name: 'Floor',
          params: {
            tkn: this.tkn,
            floor: f,
            bName: this.bldg.name,
            bId: this.bldg.id
          }
        });
      } else {
        this.newFloor = {index: f.index}
        this.onboard = true;
      }
    },
    closeOnboard(event){
      if (event && event === true) {
        this.onboard = false;
        this.initReload();
      } else {
        this.onboard = false;
      }
    },
    initBldgData(){
      this.bldg = this.$route.params.bldg;
      this.tkn = this.$route.params.tkn;
      this.devices = this.$route.params.devices;
      this.$cookies.set('breeziNavStep', 'bldg');
      this.$cookies.set('breeziBldg', this.bldg.id);
      this.$emit('updateNav', {bldg: this.bldg, type: 'bldg'});
      let ground = this.bldg.floors.find(g => g.index === 0);
      if (ground === undefined) {
        this.bldg.floors.push({index: 0, name: 'Ground Level'});
      }
      this.bldg.floors = this.bldg.floors.sort((a, b) => {return b.index - a.index});
    },

    initReload(){
      Rest.getOrgBundle(this.$cookies.get('breeziProTkn'))
        .then(bundle => {
          console.log('BLDG_REST');
          bundle = bundle.data;
          this.bundle = Bundle.formatBundle(bundle);
          this.buildings = this.bundle.buildings.buildings;
          this.bldg = this.buildings.find(b => b.id === this.$cookies.get('breeziBldg'));
          this.tkn = this.$cookies.get('breeziProTkn');
          const url = 'https://hr1og7d86l.execute-api.eu-west-1.amazonaws.com/breezi_backend_application_service_gateway_matt/bundle';
          let headers = {
            headers: {
              Authorization: this.$cookies.get('breeziProTkn'),
              'Content-Type': 'application/json'
            }
          };
          Rest.getTeam(headers)
            .then(team => {
              this.$emit('updateNav', {bldg: this.bldg, type: 'bldg', bundle: bundle, team: team});
              let ground = this.bldg.floors.find(g => g.index === 0);
              if (ground === undefined) {
                this.bldg.floors.push({index: 0, name: 'Ground Level'});
              }
              this.bldg.floors = this.bldg.floors.sort((a, b) => {return b.index - a.index});
            });
        });
    }

  },
  mounted(){
    try {
      this.initBldgData();
    } catch (err) {
      this.initReload()
    }
  }
}

</script>

<style>

.bldg-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
  overflow-y: scroll;
}

.bldg-config {
  height: 28px;
  width: auto;
  border: 1px solid white;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}

.bldg-config:hover {
  height: 32px;
  width: auto;
  box-shadow: 0 0 13px white;
}

.address-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%;
}

.address-line h4 {
  color: rgb(0, 153, 191);
  margin-left: 8px;
  margin-right: 8px;
}

.address-line h5 {
  color: #919b95;
}

.floors {
  width: 850px;
  max-width: 96vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.floor {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}

.floor:hover {
  padding-top: 33px;
  padding-bottom: 33px;
  border: 2px solid white;
}

.floor img {
  width: 10px;
  margin-right: 2px;
}

.floor h5 {
  font-size: 1.15em;
}

.inactive-floor {
  background-color: #797d7f;
  /* background: linear-gradient(to bottom, #797d7f, #434547); */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.floor-active {
  background-color: #0099bf;
  /* background: linear-gradient(to bottom, #0099bf, #0d6e8a); */
  /* height: 45px; */
}

.floor-crit {
  background-color: #bb2437;
  /* background: linear-gradient(to bottom, #bb2437, #981f2e); */
}

.floor-bad {
  background-color: #c2c224;
  /* background: linear-gradient(to bottom, #d9e000, #a1903e); */
}

.floor-good {
  background-color: #73c269;
  /* background: linear-gradient(to bottom, #73c269, #416d3e); */
}

.ground-level {
  border: 1px solid rgb(0, 153, 191);
  color: rgb(0, 153, 191);
}

.warning-floor {
  background-color: #bb2437;
  /* background: linear-gradient(to bottom, #bb2437, #981f2e); */
}

.settings-block {
  margin-top: 2%;
  margin-bottom: 3%;
}

</style>
