<template>
  <div id="app">
    <div id="dark-overlay">
      <header>
        <span>Predictive Maintenance for Commercial HVAC</span>
      </header>
      <main>
        <img id="header-logo" src="https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/breezi_pro.png" alt="Vue.js PWA">
        <router-view></router-view>
      </main>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
body {
  margin: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/city_center+copy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #dfeaf3;
  font-family: 'Comfortaa', sans-serif;
}

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin: 0;
  width: 100%;
  height: 56px;
  background-color: rgb(0, 153, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 2px 1.3px 1.8px #202122;
  color: #dfeaf3;
  font-family: 'Roboto', sans-serif;
}

#dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-logo {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

</style>
