<template>
  <header :class="headerVisible()">
    <img v-if="!mobile" class="header-logo" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/pro-box.png" />
    <div class="multi-header">
      <header v-if="mobile" class="multi-header-upper">
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/pro-box.png" />
        <div class="close-container" v-if="!settings" style="background:none;border-bottom:none;" @click="toggleSettings()">
          <img style="height:50%;" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/hamburger.png" v-if="!settings"/>
        </div>
        <div class="close-container" v-else @click="toggleSettings()">
          <img style="height:60%;" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/closeBlack.png"/>
        </div>
      </header>
      <div class="header-center">
        <div class="center-img-cluster">
          <img class="center-img" :src="parseImg()"/>
          <h5>{{headerData.name}}</h5>
        </div>
        <div class="center-text-panel">
          <h1 style="font-size:3.2em;min-width:10%;">{{headerData.lgText}}</h1>
          <div class="small-text">
            <h5>{{subTextOne}}</h5>
            <h5 v-if="subTextTwo !== ''">{{subTextTwo}}</h5>
          </div>
        </div>
        <div class="center-alerts-panel">
          <h3 style="font-size:1.4em;color:red;">{{headerData.crit}}</h3>
          <img class="alert-img" src="@/assets/alert.png" />
          <h3 style="font-size:1.4em;color:yellow;">{{headerData.bad}}</h3>
        </div>
      </div>
    </div>
    <div v-if="!mobile" class="util-cluster">
      <div class="util-panel">
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/settingsIcon.png" @click="toggleSettings()" />
      </div>
      <div class="util-panel" @click="emitLogout()">
        <img src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/logout.png" @click="emitLogout()" />
      </div>
    </div>
  </header>
</template>

<script>

export default {
  data(){
    return {
      subTextOne: '',
      subTextTwo: '',
      mobile: false,
      settings: false
    }
  },
  props: ['headerData', 'admin'],
  methods: {
    toggleSettings(){
      let onOff = this.settings === true
        ? false
        : true;
      this.settings = onOff;
      this.$emit('showSettings', onOff);
    },
    parseImg(){
      if (this.headerData.type === 'room') {
        return 'https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/doorWhite.png';
      }
      let suffix = '';
      switch (this.headerData.type) {
        case 'org':
          suffix = 'enterprise';
        break;
        case 'bldg':
          suffix = 'company';
        break;
        case 'floor':
          suffix = 'tilesWhite';
        break;
      }
      return `https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/${suffix}.png`;
    },
    headerVisible(){

      let headerClass = (this.headerData && this.headerData.name && this.headerData.name.length > 0)
        ? 'header-outer'
        : 'header-hide';

    },
    setSubText(){
      let sub = this.headerData.subText.split(' ');
      if (sub.length > 2) {
        this.subTextOne = sub.splice(0, 2).join(' ');
        this.subTextTwo = sub.join(' ');
      } else {
        this.subTextOne = sub.join(' ');
        this.subTextTwo = '';
      }
    },
    emitLogout(){
      this.$emit('headerLogout');
    }
  },
  mounted(){
    this.screenSize = window.innerWidth;
    this.mobile = this.screenSize <= 1300
      ? true
      : false;
    this.setSubText();
  },
  watch: {
    'headerData': function(newData, oldData){
      this.setSubText(newData);
    },
    'screenSize': function(newData, oldData){
      this.mobile = this.screenSize <= 1300
        ? true
        : false;
    }
  }
}

</script>

<style>

.header-outer {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile {
  position: fixed;
  top: 0;
  height: 110px;
}

.header-hide {
  width: 100%;
  height: 0px;
  display: none;
}

.header-logo {
  height: 50%;
  width: auto;
  position: absolute;
  top: 10px;
  left: 50px;
}

.header-center {
  width: 850px;
  max-width: 100%;
  height: 60%;
  background-color: #0a5268;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.center-img-cluster {
  width: 30%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-img-cluster h5 {
  margin: 0px;
  font-size: 12px;
}

.center-img-cluster img {
  height: 60%;
}

.center-text-panel {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.center-text-panel h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 23px;
}

.small-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.small-text h5 {
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: 1em;
}

.center-alerts-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}

.alert-img {
  height: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

.util-cluster {
  width: 6%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 50px;
}

.util-panel {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.util-panel img {
  height: 40%;
  width: auto;
}

.multi-header {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.multi-header-upper {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #151920;
  border-bottom: 2px solid darkgray;
}

.multi-header-upper img {
  height: 60%;
}

.close-container {
  width: 60px;
  height: 101%;
  background-color: #e1f1f1;
  border-bottom: 2px solid #e1f1f1;
  box-shadow: none;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

</style>
