<template>

  <nav :class="mobile ? 'top-nav' : 'side-nav'" :style="{'top': setTopMargin()}" >
    <a class="nav-node" id="org-node" @mouseover="hover = 'org'" @mouseleave="hover = ''">
      <img v-if="org.name" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/enterprise.png"  @click="navOrg()"/>
      <h5 style="margin:1px;" v-if="org.name && hover === 'org'" @click="navOrg()">Organization</h5>
    </a>
    <a class="nav-node" id="bldgs-node">
      <img v-if="bldg.name" @mouseover="hover = 'bldg'" @mouseleave="hover = ''" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/skyline.png"  @click="navBldg()"/>
      <h5 style="margin:1px;" v-if="bldg.name && hover === 'bldg'" @click="navBldg()">Building</h5>
    </a>
    <a class="nav-node" id="floors-node">
      <img v-if="floor.index" @mouseover="hover = 'floor'" @mouseleave="hover = ''" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/tilesWhite.png"  @click="navFloor()"/>
      <h5 style="margin:1px;" v-if="!mobile && hover === 'floor'" @click="navFloor()">Floor</h5>
    </a>
    <a class="nav-node" id="rooms-node">
      <img v-if="room.hvacName" @mouseover="hover = 'room'" @mouseleave="hover = ''" src="https://breezi-pro-assets.s3-eu-west-1.amazonaws.com/doorWhite.png" />
      <h5 style="margin:1px;" v-if="!mobile && hover === 'room'">Room</h5>
    </a>
  </nav>

</template>

<script>

export default {
  data(){
    return {
      mobile: true,
      bundle: {},
      org: {},
      bldg: {},
      floor: {},
      room: {},
      type: '',
      hover: ''
    }
  },
  props: ['navData'],
  methods: {
    loadData(newData){
        this.bundle = newData.org;
        this.org = newData.org.org || newData.org;
        this.bldg = newData.bldg;
        this.floor = newData.floor;
        this.room = newData.room;
    },
    navOrg(){
      this.navData.bldg = {};
      this.navData.floor = {};
      this.navData.room = {};
      this.loadData(this.navData);
      this.$router.push({name: this.mobile ? 'Org' : 'WebOrg', params: {
        tkn: this.navData.tkn,
        bundle: this.bundle
      }})
    },
    navBldg(){
      if (this.bldg.name) {
        this.navData.floor = {};
        this.navData.room = {};
        this.loadData(this.navData);
        this.$router.push({
          name: 'Building',
          params: {
            tkn: this.navData.tkn,
            bldg: this.bldg,
            onboard: false
          }
        });
      }
    },
    navFloor(){
      if (this.floor.index) {
        this.navData.room = {};
        this.loadData(this.navData);
        this.$router.push({
          name: 'Floor',
          params: {
            tkn: this.navData.tkn,
            floor: this.floor,
            bName: this.bldg.name,
            bId: this.bldg.id
          }
        })
      }
    },
    setTopMargin(){
      if (!this.mobile) {
        return `${this.sideNavHeight}px`;
      } else {
        return '';
      }
    }
  },
  mounted(){
    this.screenSize = window.innerWidth;
    this.mobile = this.screenSize <= 500
      ? true
      : false;
    this.sideNavHeight = (Math.round(window.innerHeight/2) - 200);
    this.loadData(this.navData);
  },
  watch: {
    'navData': function(newData, oldData){
      this.loadData(newData);
    }
  }
}

</script>

<style>

.side-nav {
  height: 400px;
  max-height: 70%;
  width: 100px;
  max-width: 10%;
  position: fixed;
  left: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}

.top-nav {
  width: 850px;
  max-width: 100%;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #e6e4ec;
  position: fixed;
  bottom: 0;
  align-self:center;
}

.nav-node {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.top-nav .nav-node {
  height: 100%;
}

.nav-node:hover {
  text-decoration: none;
}

.nav-node img {
  height: 40px;
  width: auto;
}

#org-node {
  background-color: #0d6c87;
}

#bldgs-node {
  background-color: #118bb1;
}

#floors-node {
  background-color: #15a7d6;
}

#rooms-node {
  background-color: #18bffb;
}

</style>
