<template>

  <main :class="!mobile ? 'web-settings' : 'settings-outer'">
    <div class="settings-exit" v-if="!mobile" @click="closeSettings()">
      <h4 style="color:#e1f1f1;">X</h4>
    </div>
    <div class="team-btn-panel" :style="{'right': mobile ? '40%' : '20%', 'left': mobile ? '20%' : '40%', 'margin-top': '10%'}">
      <div class="bp-switch-container">
        <h5 class="bp-text" style="color:#4f9350;">PROFILE</h5>
        <div class="bp-switch" @click="switchTeam()">
          <div class="bp-ball" :style="{'align-self': switched().alignment, 'background-color': switched().color}"></div>
        </div>
        <h5 class="bp-text" style="color:#c86c3d;">TEAM</h5>
      </div>
    </div>
    <ul class="settings-list" v-if="!showTeam">
      <li class="settings-li" style="border-bottom:1px solid #232323;">
        <h6>Account</h6>
        <h2 style="margin:0;">{{user.firstName}} {{user.lastName}}</h2>
      </li>
      <li class="settings-li" style="border-bottom:1px solid #232323;">
        <h6>Subscription</h6>
        <h3 style="width:100%;text-align:left;margin-left:20px;color:#174e93;">{{user.plan ? user.plan : 'Trial'}}</h3>
      </li>
      <li class="settings-li">
        <h6>Units</h6>
        <div class="bp-switch-container">
          <h5 class="bp-text-inactive">STANDARD</h5>
          <div class="bp-switch bp-switch-inactive" @click="switchUnits()">
            <div class="bp-ball bp-ball-inactive" :style="{'align-self': isActive('units')}"></div>
          </div>
          <h5 class="bp-text-inactive">METRIC</h5>
        </div>
      </li>
      <div class="settings-delineator"></div>
      <li class="settings-li">
        <h6>Time</h6>
        <div class="bp-switch-container">
          <h5 class="bp-text-inactive">USER</h5>
          <div class="bp-switch bp-switch-inactive">
            <div class="bp-ball bp-ball-inactive"></div>
          </div>
          <h5 class="bp-text-inactive">SITE</h5>
        </div>
      </li>
      <div class="settings-delineator"></div>
      <li class="settings-li">
        <h6>Language</h6>
        <div class="bp-switch-container">
          <h5 class="bp-text-inactive">ENGLISH</h5>
          <div class="bp-switch bp-switch-inactive">
            <div class="bp-ball bp-ball-inactive"></div>
          </div>
          <h5 class="bp-text-inactive">OTHER</h5>
        </div>
      </li>
      <div class="settings-delineator"></div>
      <li class="settings-li" v-if="mobile" @click="logout()">
        <h5 style="color:#4ea9f9;">Logout</h5>
      </li>
    </ul>
    <team-component v-if="showTeam" :team="team" :tkn="tkn" :mobile="mobile" v-on:togTeam="hideTeam()" v-on:settingsClose="closeSettings()"></team-component>
  </main>

</template>

<script>

import Team from '@/components/team/Team';

import Bundle from '@/src/bundle';

export default {
  data(){
    return {
      mobile: false,
      units: 'metric',
      time: 'user',
      showTeam: false,
      proTeam: 'profile'
    }
  },
  props: ['user', 'team', 'tkn'],
  components: {
    'team-component': Team
  },
  methods: {

    isActive(setting){
      switch (setting) {
        case 'units':
          return this.units === 'metric'
            ? 'flex-end'
            : 'flex-start'
        break;
        case 'proTeam':
          return this.proTeam === 'profile'
            ? 'flex-start'
            : 'flex-end';
      }
    },
    switchUnits(){
      if (this.units === 'metric') {
        this.units = 'standard';
        this.$cookies.set('breeziUnits', 'standard');
      } else {
        this.units = 'metric';
        this.$cookies.set('breeziUnits', 'metric');
      }
    },
    calcHeight(){
      return `${window.innerHeight - 52}px`;
    },
    hideTeam(){
      this.showTeam = false;
    },
    closeSettings(){
      this.$emit('settingsClose');
    },
    switchTeam(){
      this.proTeam = this.proTeam === 'profile'
        ? 'team'
        : 'profile';
      this.showTeam = this.showTeam === false
        ? true
        : false;
    },
    logout(){
      this.$emit('initLogout');
    },
    switched(){
      if (this.showTeam === true) {
        return {alignment: 'flex-end', color: '#c86c3d'}
      } else {
        return {alignment: 'flex-start', color: '#4f9350'}
      }
    }
  },
  mounted(){
    this.screenSize = window.innerWidth;
    this.mobile = this.screenSize <= 1300
      ? true
      : false;
    window.scrollTo(0, 0);
    // this.setSubText();
  }
}

</script>

<style>

.settings-outer {
  background-color: #e1f1f1;
  color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  bottom: 0px;
  overflow-y: scroll;
  padding-right: 5%;
}

.web-settings {
  width: 40vw;
  background-color: #e1f1f1;
  color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 80%;
  position: absolute;
  right: 5px;
  top: 80px;
  max-height: 90vh;
}

.settings-list {
  width: 90%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
}

.settings-li {
  width: 100%;
  height: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.settings-delineator {
  height: 1px;
  width: 100%;
  background-color: #232323;
  display: flex;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bp-switch-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bp-switch {
  height: 30px;
  width: 100px;
  border: 2px solid #232323;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}

.bp-switch-inactive {
  border: 2px solid #7f7b83;
}

.bp-ball {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #232323;
}

.bp-ball-inactive {
  background-color: #7f7b83;
  align-self: flex-start;
}

.bp-text-inactive {
  color: #7f7b83;
}

.settings-exit {
  background-color: #232323;
  position: absolute;
  top: 10px;
  left: 20px;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-exit h4 {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.settings-exit img {
  height: 90%;
  width: 90%;
}


</style>
