<template>
  <div class="bldg-right-outer">
    <div class="mini-status-bar" :style="{'background-color': calcStatus(), 'align-self': 'flex-start'}"></div>
    <h5 style="display:flex;align-self:flex-start;margin:6px;">{{room.name}}</h5>
    <div class="equipment-body">

      <div class="img-bg"></div>
      <div class="belt-slider">
        <div :class="active === 0 ? 'active-belt' : 'inactive-belt'" @click="beltPanel(0)">
          <h5>Predictive Alerts</h5>
        </div>
        <div :class="active === 1 ? 'active-belt' : 'inactive-belt'" @click="beltPanel(1)">
          <h5>Maintenance Events</h5>
        </div>
        <div :class="active === 2 ? 'active-belt' : 'inactive-belt'" @click="beltPanel(2)">
          <h5>Duty-cycle & Runtime</h5>
        </div>
      </div>
      <div class="equip-bottom">
        <div class="pred-alerts" v-if="active === 0">
          <div class="pred-panel">
            <img src="@/assets/critAlert.png" />
            <h6 style="color:red;">Critically low filter life</h6>
          </div>
          <div class="pred-panel">
            <img src="@/assets/badAlert.png" />
            <h6 style="color:yellow;">CO2 levels elevated</h6>
          </div>
        </div>
        <div class="pred-alerts" style="padding:0;" v-if="active === 1">
          <div class="pred-panel">
            <img src="@/assets/tools.png" />
            <h6>HVAC repair on June 22nd</h6>
          </div>
          <div class="pred-panel">
            <img src="@/assets/tools.png" />
            <h6>Window repair on April 19th</h6>
          </div>
        </div>
        <div class="chart-background" v-if="active === 2"></div>
      </div>
    </div>
    <small class="last-updated">Last Updated: {{lastUpdated}}</small>
  </div>
</template>

<script>

  import moment from 'moment';

  export default {
    data(){
      return {
        active: 0,
        equipImage: '',
        lastUpdated: ''
      }
    },
    props: ['room'],
    methods: {
      assignImg(){
        if (this.room.configuration === 'vav') {
          return 'url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/vav.png)'
        } else if(this.room.configuration === 'ptac') {
          return 'url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/ptac2.jpg)'
        } else {
          return `url(https://brebe-s3-storage-matt.s3-eu-west-1.amazonaws.com/breezi-pro/${this.room.configuration}.jpg)`
        }
      },
      calcStatus(){
        let good = '#4ba34f';
        let bad = '#ffff08';
        let crit = '#fc0005';
        if (this.room.alerts.crit > 0) {
          return crit;
        } else if (this.room.alerts.bad > 0) {
          return bad;
        } else {
          return good;
        }
      },
      beltPanel(n){
        this.active = n;
      }
    },
    mounted(){
      this.assignImg();
      this.lastUpdated = moment(this.room.tms * 1000).format('LLL');
    }
  }
</script>

<style>

.bldg-right-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.mini-status-bar {
  width: 20%;
  background-color: black;
  height: 6px;
  display: flex;
  align-self: flex-start;
}

.status-right {
  left: 0px;
  top: 0px;
}

.equipment-body {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.img-bg {
  width: 100%;
  height: 50%;
  background-image: url('../../assets/fcu.png');
  background-size: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 153, 191);
}


.equipment-body img {
  width: 80%;
  height: auto;
}

.belt-slider {
  width: 100%;
  height: 15%;
  bottom: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d4859;
}

.belt-panel {
  width: 33.3%;
  height: 100%;
}

.active-belt {
  background-color: rgb(0, 153, 191);
}

.pred-alerts {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.pred-panel {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.pred-panel img {
  width: 30px;
  margin-right: 10px;
}

.equip-bottom {
  height: 50%;
}

.chart-background {
  width: 270px;
  height: 105px;
  background-image: url('../../assets/nighchart.png');
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: 6px;
}

</style>
